<script>
import ContentPageParagraphConception from "./ContentPageParagraphConception.vue";

export default {
  components: {
    ContentPageParagraphConception
  },
  props: {
    content: {
      type: Object,
      default () {
        return {};
      }
    }
  },
  computed: {
    randomizeConceptions () {
      return this.$store.getters["proceeding/configurationValue"]("randomize_conception_order");
    },
    conceptions () {
      const conceptions = this.content.field_content;

      if (this.randomizeConceptions) {
        this.$shuffleArray(conceptions);
      }

      return conceptions;
    }
  }
};
</script>

<template>
  <div class="PlanningSubarea">
    <h3 class="headline">
      {{ content.field_name }}
    </h3>

    <div class="conceptions">
      <ContentPageParagraphConception
        v-for="(element, index) in conceptions"
        :key="index"
        :content="element.field_conception"
      />
    </div>
  </div>
</template>

<style lang="scss">
div.PlanningSubarea {
  padding-top: 2rem;

  div.conceptions {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &.isMobile,
  &.isTablet {
    padding-top: 1rem;
    padding-right: 1rem;
  }

  &.isTablet {
    padding-left: 2rem;
  }

  &.isMobile {
    padding-left: 1rem;

    h3.headline {
      @extend %fontdefinition_headline_3_mobile;
    }

    div.conceptions {
      justify-content: center;
    }
  }
}
</style>
