<script>
import ContentParagraphMixin from "@/pages/ContentPage/components/ContentParagraph.mixin.js";
import DipasCollapsible from "@/components/DipasCollapsible.vue";
import DipasCollapsibleItem from "@/components/DipasCollapsibleItem.vue";

export default {
  components: {
    DipasCollapsible,
    DipasCollapsibleItem
  },
  mixins: [ContentParagraphMixin],
  props: {
    content: {
      type: Object,
      default () {
        return {};
      },
      required: true
    }
  }
};
</script>

<template>
  <div class="ContentPageParagraphAccordion">
    <DipasCollapsible
      renderAs="accordion"
      :accordionAutoCollapse="true"
      :isSmall="isMobile ? true : false"
    >
      <DipasCollapsibleItem
        v-for="(element, index) in content.field_content"
        :key="index"
        :title="element.field_headline"
      >
        <div
          v-html="element.field_text"
        />
      </DipasCollapsibleItem>
    </DipasCollapsible>
  </div>
</template>
