<script>
import ContentParagraphMixin from "@/pages/ContentPage/components/ContentParagraph.mixin.js";

export default {
  mixins: [ContentParagraphMixin],
  props: {
    content: {
      type: Object,
      default () {
        return {};
      },
      required: true
    }
  },
  data () {
    return {
      ratioComparison: [
        {
          ratioValue: 2.33333,
          ratioClass: "ratio ratio-21x9"
        },
        {
          ratioValue: 1.77778,
          ratioClass: "ratio ratio-16x9"
        },
        {
          ratioValue: 1.33333,
          ratioClass: "ratio ratio-4x3"
        },
        {
          ratioValue: 1.00000,
          ratioClass: "ratio ratio-1x1"
        }
      ]
    };
  },
  computed: {
    ratio_class () {
      const matches = this.content.field_video.match(/.*?width="(\d+?)".*?height="(\d+?)"/i),
        width = !isNaN(parseInt(matches[1], 10)) ? parseInt(matches[1], 10) : 16,
        height = !isNaN(parseInt(matches[2], 10)) ? parseInt(matches[2], 10) : 9,
        ratio = width / height;
      let ratioDiffs = {};

      this.ratioComparison.forEach((item, index) => {
        ratioDiffs[index] = [index, Math.abs(item.ratioValue - ratio)];
      });

      const ratioDiffsArray = Object.entries(ratioDiffs);

      ratioDiffsArray.sort((a, b) => a[1][1] - b[1][1]);

      return this.ratioComparison[ratioDiffsArray[0][0]].ratioClass;
    }
  }
};
</script>

<template>
  <div
    class="ContentPageParagraphVideo embed-responsive"
    :class="ratio_class"
    v-html="content.field_video"
  >
  </div>
</template>

<style>
div.ContentPageParagraphVideo {
    margin: 1rem 0rem;
}
</style>
