<script>
import ContentParagraphMixin from "@/pages/ContentPage/components/ContentParagraph.mixin.js";
import ContentPageParagraphImage from "./ContentPageParagraphImage.vue";

export default {
  components: {
    ContentPageParagraphImage
  },
  mixins: [ContentParagraphMixin],
  props: {
    content: {
      type: Object,
      default () {
        return {};
      },
      required: true
    }
  },
  computed: {
    imagePositionSetter () {
      return this.content?.field_image_position?.value;
    }
  }
};
</script>

<template>
  <div class="ContentPageParagraphImageWithText">
    <div
      :class="imagePositionSetter"
      class="imageParagraphDiv"
    >
      <ContentPageParagraphImage
        :content="content"
      />
    </div>

    <div v-html="content.field_text" />
  </div>
</template>

<style lang="scss">
  div.ContentPageParagraphImageWithText {
    overflow: hidden;

    p {
      a {
        text-decoration: none;
        color: $color_primary_1;
        font-weight: bold;

        &:hover {
          text-decoration: underline $color_primary_1 solid;
        }
      }
    }

    &.isMobile {
      h2.headline {
        @extend %fontdefinition_headline_2_mobile;
      }

      p {
        @extend %fontdefinition_text_mobile;

        a {
          @extend %fontdefinition_text_mobile;
          text-decoration: none;
          color: $color_primary_1;
          font-weight: bold;
        }
      }
    }

    div.imageParagraphDiv {
      width: 35%;
      justify-content: center;
      display: flex;
      height: auto;

      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
       }

      &.image_left {
        float: left;
        padding: 0 1rem 0 0;
      }

      &.image_right {
        float: right;
        padding: 0 0 0 1rem;
      }
    }
  }
</style>
