<script>
import ContentParagraphMixin from "@/pages/ContentPage/components/ContentParagraph.mixin";

export default {
  mixins: [ContentParagraphMixin],
  props: {
    content: {
      type: Object,
      default () {
        return {};
      },
      required: true
    }
  },
  computed: {
    storyURL () {
      return this.content.field_story?.nid ? `/drupal/dipas/story/${this.content.field_story?.nid}` : "";
    }
  }
};
</script>

<template>
  <div class="ContentPageParagraphDipasStory aspect_ratio_16_9">
    <iframe :src="storyURL" />
  </div>
</template>

<style lang="scss">
div.ContentPageParagraphDipasStory {
  position: relative;
  margin-bottom: 2rem;

  &.aspect_ratio_1_1 { padding-top: 100%; }
  &.aspect_ratio_4_3 { padding-top: 75%; }
  &.aspect_ratio_16_9 { padding-top: 56.25%; }
  &.aspect_ratio_16_10 { padding-top: 62.5%; }
  &.aspect_ratio_21_10 { padding-top: 47.62%; }

  & > iframe {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
