<script>
import ContentPageParagraphPlanningSubarea from "./ContentPageParagraphPlanningSubarea.vue";

export default {
  components: {
    ContentPageParagraphPlanningSubarea
  },
  props: {
    content: {
      type: Object,
      default () {
        return {};
      }
    }
  },
  data () {
    return {
      filter: "all"
    };
  },
  computed: {
    subareas () {
      return this.content.field_content;
    }
  }
};
</script>

<template>
  <div class="DivisionInPlanningSubareas">
    <div class="planningSubAreaConceptions">
      <ContentPageParagraphPlanningSubarea
        v-for="(element, index) in subareas"
        :key="index"
        :content="element"
      />
    </div>
  </div>
</template>

<style lang="scss">
div.DivisionInPlanningSubareas {
  background-color: $color_form;
  position: relative;
  width: 100vw;
  margin-bottom: 1rem;
  left: calc(-50vw + 50%);

  & + div.DivisionInPlanningSubareas {
    // !important us used to forcefully close the gap between two subsequent DivisionInPlanningSubareas elements
    margin-top: -1rem !important;
  }

  &.isDesktop {
    div.planningSubAreaConceptions {
      padding: 0 3rem 0 10.5%;
    }
  }

  &.isTablet {
    left: -2rem;
  }

  &.isMobile {
    left: -1rem;
  }
}
</style>
