<script>
import ContentParagraphMixin from "@/pages/ContentPage/components/ContentParagraph.mixin.js";

export default {
  name: "ContentPageParagraphText",
  mixins: [ContentParagraphMixin],
  props: {
    content: {
      type: Object,
      default () {
        return {};
      },
      required: true
    }
  }
};
</script>

<template>
  <div class="ContentPageParagraphText">
    <h2
      v-if="content.field_headline"
      class="headline"
    >
      {{ content.field_headline }}
    </h2>

    <div v-html="content.field_text" />
  </div>
</template>

<style lang="scss">
  div.ContentPageParagraphText {
    p {
      a {
        text-decoration: none;
        color: $color_primary_1;
        font-weight: bold;

        &:hover {
          text-decoration: underline $color_primary_1 solid;
        }
      }
    }
    
    table {
      border-collapse: collapse;
      border: solid 1px var(--DipasColorsBorder);
      margin-bottom: 1em;
      min-width: 100%;
      
      caption {
        @extend %fontdefinition_subline;
        caption-side: top;
      }
      
      th,
      td {
        @extend %fontdefinition_text;
        border: solid 1px $color_border;
        padding: 0.25em;
      }	
      
      thead {
        background-color: $color_table_header;
        
        tr {
          th {
            @extend %fontdefinition_headline_4;
          }
        }
      }
      
      tbody {
        background-color: $color_form;
        
        tr {
          td {
            @extend %fontdefinition_text;
          }
        }
      }
    }

    &.isMobile {
      h2.headline {
        @extend %fontdefinition_headline_2_mobile;
      }

      p {
        @extend %fontdefinition_text_mobile;

        a {
          @extend %fontdefinition_text_mobile;
          text-decoration: none;
          color: $color_primary_1;
          font-weight: bold;
        }
      }
      
      table {
        caption {
          @extend %fontdefinition_subline_mobile;
        }
        
        th,
        td {
          @extend %fontdefinition_text_mobile;
          padding: 0.1em;
        }
        
        thead {
          tr {
            th {
              @extend %fontdefinition_headline_3_mobile;
            }
          }
        }
        
        tbody {
          tr {
            td {
              @extend %fontdefinition_text_mobile;
            }
          }
        }
      }
    }
  }
</style>
