<script>
import DipasCardTeaser from "../../../components/DipasCardTeaser.vue";

export default {
  components: {
    DipasCardTeaser
  },
  props: {
    content: {
      type: Object,
      default () {
        return {};
      },
      required: true
    }
  },
  methods: {
    openConceptionPage (nid) {
      this.$router.push({name: "route_ConceptionDetail", params: {id: nid}});
    }
  }
};
</script>

<template>
  <DipasCardTeaser
    class="ContentPageParagraphConception"
    :cardTitle="content.title"
    :cardText="content.field_description"
    :imageLink="content.field_conception_media_image?.field_media_image?.url ?? content.field_conception_media_image?.field_media_image"
    :imageAltText="content.field_conception_image?.alt ?? ''"
    :buttonLabel="$t('pages.ContentPage.paragraphs.ParagraphConception.moreInfoButton')"
    :buttonTooltipTitle="$t('pages.ContentPage.paragraphs.ParagraphConception.conceptionCardButtonTooltip')"
    @buttonClicked="openConceptionPage(content.nid)"
  />
</template>

<style lang="scss">
div.ContentPageParagraphConception {
  padding: 0 0 1rem;
  display: flex;
  justify-content: center;
}
</style>
