<script>
import ContentParagraphMixin from "@/pages/ContentPage/components/ContentParagraph.mixin.js";

export default {
  mixins: [ContentParagraphMixin],
  props: {
    content: {
      type: Object,
      default () {
        return {};
      },
      required: true
    }
  },
  data () {
    return {
      paragraphWidth: false
    };
  },
  computed: {
    imageSource () {
      if (typeof this.content.field_image?.field_media_image?.url !== "undefined") {
        const sizes = Object.keys(this.content.field_image.field_media_image.srcset).map(size => Number(size)).sort((a, b) => a - b).reverse();
        let source = this.content.field_image.field_media_image.url;

        if (typeof this.paragraphWidth === "number") {
          for (const index in sizes) {
            const size = sizes[index];

            if (this.paragraphWidth > size) {
              break;
            }

            source = this.content.field_image.field_media_image.srcset[size];
          }
        }

        return source;
      }

      return false;
    },
	imageLink () {
	  return this.content.field_image?.field_image_target_url ?? this.content.field_image?.field_media_image?.origin;
	},
    altTag () {
      if (typeof this.content.field_image?.field_media_image?.alt !== "undefined") {
        return this.content.field_image.field_media_image?.alt;
      }

      return "";
    }
  },
  mounted () {
    this.handleResize();
    window.addEventListener("resize", this.handleResize);
  },
  beforeDestroy: function () {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize () {
      this.paragraphWidth = this.$refs.imageParagraph.clientWidth;
    }
  }
};
</script>

<template>
  <div
    ref="imageParagraph"
    class="ContentPageParagraphImage"
  >
    <a
      :href="imageLink"
      target="_blank"
      :title="$t('pages.ContentPage.paragraphs.ParagraphImage.Tooltip')"
    >
      <span
        v-if="content.field_image?.field_media_image?.html"
        v-html="content.field_image.field_media_image?.html"
      />

      <figure
        v-else
        :aria-label="altTag"
      >
        <img
          :src="imageSource"
          :alt="altTag"
        />

        <figcaption v-if="content.field_image?.field_caption || content.field_image?.field_copyright">
          {{ content.field_image.field_caption }}

          <br v-if="content.field_image.field_caption">

          <span v-if="content.field_image.field_copyright">
            © {{ content.field_image.field_copyright }}
          </span>
        </figcaption>
      </figure>
    </a>
  </div>
</template>

<style lang="scss">
div.ContentPageParagraphImage {
  overflow: hidden;

  & > a {
    text-decoration: none;
  }

  figure {
    width: fit-content;
    margin: 0 0 1rem 0;
  }

  img {
    max-width: 100%;
  }

  figcaption {
    background: $white;
    color: $black;
    padding: 0.375rem 0 0 0;
    font-size: 1rem;
    line-height: 1rem;

    span {
      font-size: 0.75rem;
    }
  }
}
</style>

