<script>
/* eslint-disable vue/no-v-for-template-key */

import ContentPage from "../ContentPage/ContentPage.vue";
import DipasButton from "@/components/DipasButton.vue";
import CommentsList from "@/pages/components/Comments/CommentsList.vue";

export default {
  components: {
    DipasButton,
    CommentsList
  },
  extends: ContentPage,
  beforeRouteUpdate (to) {
    this.$store.dispatch("proceeding/loadEndpoint", {endpoint: "conceptiondetails/" + to.params.id, storeModule: "conceptions"});
  },
  computed: {
    contentParagraphs () {
      return this.$store.getters["conceptions/endpoint"]("conceptiondetails/" + this.$route.params.id).content?.content;
    },
    pageTitle () {
      return this.$store.getters["conceptions/endpoint"]("conceptiondetails/" + this.$route.params.id).content?.title;
    },
    conceptionCommentsOpen () {
      return this.$store.getters["conceptions/conceptionCommentsOpen"];
    },
    displayConceptionComments () {
      return this.conceptionCommentsOpen ||
        this.$store.getters["conceptions/displayConceptionComments"];
    },
    allConceptions () {
      return this.$store.getters[["conceptions/allConceptions"]];
    },
    prevConception () {
      const currentConceptionIndex = this.allConceptions.findIndex(conception => {
          return conception.id === this.$route.params.id;
        }),
        prevIndex = currentConceptionIndex > 0
          ? currentConceptionIndex - 1
          : this.allConceptions.length - 1;

      return this.allConceptions[prevIndex];
    },
    nextConception () {
      const currentConceptionIndex = this.allConceptions.findIndex(conception => {
          return conception.id === this.$route.params.id;
        }),
        nextIndex = currentConceptionIndex === this.allConceptions.length - 1
          ? 0
          : currentConceptionIndex + 1;

      return this.allConceptions[nextIndex];
    },
    prevConceptionTitle () {
      return this.prevConception?.title
        ? this.prevConception.title
        : "";
    },
    nextConceptionTitle () {
      return this.nextConception?.title
        ? this.nextConception.title
        : "";
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  beforeMount () {
    if (this.useMatomo) {
      window._paq.push(['trackEvent', 'Menu', 'Conception detail page']);
    }

    this.$store.dispatch("proceeding/loadEndpoint", {endpoint: "conceptionlist", storeModule: "conceptions"});
    this.$store.dispatch("proceeding/loadEndpoint", {endpoint: "conceptiondetails/" + this.$route.params.id, storeModule: "conceptions"});
  },
  methods: {
    scrollToCommentslist () {
      window.scrollTo(0, this.$refs.commentslistComponent.$el.getBoundingClientRect().top);
    },
    conceptionNavigation (id, direction) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Conception detail page', 'Footer navigation: ' + direction + ' page']);
      }

      this.$router.push(({name: 'route_ConceptionDetail', params: {id} }))
    }
  }
};
</script>

<template>
  <div class="ConceptionDetailPage">
    <div class="col-12">
      <DipasButton
        class="linkBackList"
        :label="$t('pages.ConceptionDetails.linkBackList')"
        :inline="true"
        icon="arrow_back_black_24dp"
        @click="$router.push({name: 'route_ConceptionList'})"
      />

      <div class="ContentPage">
        <ContentTitleSection
          :pageTitle="pageTitle"
          :proceedingActive="proceedingActive"
          :proceedingName="proceedingTitle"
          :showInfoButton="showTitleInfoButton"
          :infoButtonText="infoButtonText"
        />

        <DipasButton
          v-if="displayConceptionComments"
          class="linkAnchorComments"
          :label="$t('pages.ConceptionDetails.scrollToButtonLabel')"
          :inline="true"
          icon="question_answer_black_24dp"
          :iconAfterText="true"
          @click="scrollToCommentslist"
        />

        <template
          v-for="(section, sectionIndex) in pageContent"
          :key="'sectionwrapper-' + sectionIndex"
        >
          <component
            :is="getComponent(element)"
            v-for="(element, index) in section.paragraphs"
            :key="'paragraph-' + index"
            :ref="element.bundle + '-' + index"
            :content="element"
            class="paragraph"
            @contentLoaded="loadedContentElements++"
          />
        </template>
      </div>

      <CommentsList
        v-if="displayConceptionComments"
        ref="commentslistComponent"
        :key="$route.params.id"
        :rootEntityId="$route.params.id"
        :allowNewComments="conceptionCommentsOpen"
      />
    </div>

    <div class="navigationRow">
      <DipasButton
        class="navBack"
        :label="prevConceptionTitle"
        :inline="true"
        icon="arrow_back_black_24dp"
        @click="conceptionNavigation(prevConception.id, 'previous')"
      />

      <DipasButton
        class="navForward"
        :label="nextConceptionTitle"
        :inline="true"
        :iconAfterText="!isMobile"
        icon="arrow_back_black_24dp"
        @click="conceptionNavigation(nextConception.id, 'next')"
      />
    </div>
  </div>
</template>

<style lang="scss">
div.ConceptionDetailPage {
  button.linkBackList {
    margin: 2rem 0 0;
    text-transform: uppercase;
    padding: 0;

    span.dps-button__text {
      font-size: 16px;
    }
  }

  div.ContentPage {
    padding-top: 2rem;

    button.linkAnchorComments {
      margin: 1rem 0 1.5rem 0;
      padding: 0;
    }
  }

  div.CommentsList {
    margin: 2.625rem 0
  }

  div.navigationRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7.25rem;

    button.navBack,
    button.navForward {
      margin: 2rem 0 0;
      padding: 0;

      span.dps-button__text {
        font-size: 1rem;
      }
    }

    button.navForward {
      span.icon {
        transform: rotate(180deg);
      }
    }
  }

  &.isTablet {
    button.linkBackList {
      padding: 0 2rem;
    }

    div.ContentPage {
      padding: 2rem 2rem 0;
    }

    div.DipasCollapsible {
      div.inner {
        padding: 0 2rem;
      }
    }

    div.navigationRow {
      padding: 0 2rem;
    }
  }

  &.isMobile {
    button.linkBackList {
      padding: 0 1rem;
    }

    div.ContentPage {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    div.DipasCollapsible {
      div.bodyContainer {
        padding: 0 1rem;
      }
    }

    div.navigationRow {
      padding: 0 1rem;
      display: block;

      button.DipasButton {
        display: block;
        margin: 0 auto;

        &:not(:last-of-type) {
          margin-bottom: 0.5rem;
        }

        span.dps-button__text {
          font-size: 0.75rem;
          margin-left: 0.3rem;
          max-width: 18rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
</style>
