<script>
import ContentTitleSection from "@/pages/components/ContentTitleSection.vue";
import DipasCollapsible from "@/components/DipasCollapsible.vue";
import DipasCollapsibleItem from "@/components/DipasCollapsibleItem.vue";
import StatisticsContributions from "./components/StatisticsContributions.vue";
import StatisticsConceptions from "./components/StatisticsConceptions.vue";

export default {
  components: {
    ContentTitleSection,
    DipasCollapsible,
    DipasCollapsibleItem,
    StatisticsContributions,
    StatisticsConceptions
  },
  computed: {
    pageTitle () {
      return this.$t("pages.Statistics.pageTitle");
    },
    proceedingActive () {
      return this.$store.getters["proceeding/proceedingActive"];
    },
    proceedingTitle () {
      return this.$store.getters["proceeding/proceedingTitle"];
    },
    proceedingPhase () {
      return this.$store.getters["proceeding/proceedingPhase"];
    },
    enabledPhase2 () {
      return this.$store.getters["proceeding/enabledPhase2"];
    },
    htmlPageTitle () {
      return this.pageTitle;
    },
    infoButtonText () {
      switch (this.proceedingPhase) {
        case "phase1":
        default:
          return this.$t("pages.Statistics.titleToolTipTextContributions");
        case "phase2":
        case "phasemix":
          return this.contributionsExist
            ? this.$t("pages.Statistics.titleToolTipTextCombined")
            : this.$t("pages.Statistics.titleToolTipTextConceptions");
        case "frozen":
          if (!this.enabledPhase2 && this.contributionsExist) {
            return this.$t("pages.Statistics.titleToolTipTextContributions");
          }
          else if (this.enabledPhase2 && !this.contributionsExist) {
            this.$t("pages.Statistics.titleToolTipTextConceptions");
          }

          return this.$t("pages.Statistics.titleToolTipTextCombined");
      }
    },
    contributionsExist () {
      return this.$store.getters["statistics/contributionStatistics"]?.data?.contributionData?.length > 0;
    },
    statisticsToShow () {
      switch (this.proceedingPhase) {
        case "phase1":
        default:
          return ["contributions"];
        case "phase2":
        case "phasemix":
          return this.contributionsExist
            ? ["contributions", "conceptions"]
            : ["conceptions"];
        case "frozen":
          if (!this.enabledPhase2 && this.contributionsExist) {
            return ["contributions"];
          }
          else if (this.enabledPhase2 && !this.contributionsExist) {
            return ["conceptions"];
          }

          return ["contributions", "conceptions"];
      }
    },
    tabButtonLables () {
      const labelList = [{
        title: this.$t("pages.Statistics.buttonStatisticsContributions"),
        active: this.proceedingPhase === "phase1",
        type: "contributions"
      },
      {
        title: this.$t("pages.Statistics.buttonStatisticsConceptions"),
        active: this.proceedingPhase !== "phase1",
        type: "conceptions"
      }];

      return labelList;
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  beforeMount () {
    this.$store.dispatch("statistics/loadContributionStatisticalData");

    if (this.enabledPhase2) {
      this.$store.dispatch("statistics/loadConceptionStatisticalData");
      this.$store.dispatch("proceeding/loadEndpoint", {endpoint: "conceptionlist", storeModule: "conceptions"});
    }
  },
  methods: {
    trackTabSelection (which) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Statistics page', 'Active tab changed to "' + which + '"']);
      }
    }
  }
};

</script>

<template>
  <div class="Statistics">
    <ContentTitleSection
      :pageTitle="pageTitle"
      :proceedingActive="proceedingActive"
      :proceedingName="proceedingTitle"
      :showInfoButton="true"
      :infoButtonText="infoButtonText"
    />

    <DipasCollapsible
      v-if="statisticsToShow.length > 1"
      renderAs="tabs"
      :tabsHorizontal="true"
      :tabStyleLight="true"
      @tabSelected="trackTabSelection"
    >
      <DipasCollapsibleItem
        v-for="collapsible in tabButtonLables"
        :key="collapsible"
        :title="collapsible.title"
        :active="collapsible.active"
      >
        <StatisticsContributions
          v-if="collapsible.type === 'contributions'"
        />

        <StatisticsConceptions
          v-if="collapsible.type === 'conceptions'"
        />
      </DipasCollapsibleItem>
    </DipasCollapsible>

    <StatisticsContributions
      v-if="statisticsToShow.length === 1 && statisticsToShow[0] === 'contributions'"
    />

    <StatisticsConceptions
      v-if="statisticsToShow.length === 1 && statisticsToShow[0] === 'conceptions'"
    />
  </div>
</template>

<style lang="scss">
div.Statistics {
  &.isDesktop {
    padding-top: 3.125rem;
  }

  &.isTablet {
    padding: 2rem 2rem 0;
  }

  &.isMobile {
    padding: 0 1rem;
  }
}
</style>

