@font-face {
  font-family: 'icomoon';
  src:  url('@/assets/fonts/icomoon.eot?225iv1');
  src:  url('@/assets/fonts/icomoon.eot?225iv1#iefix') format('embedded-opentype'),
    url('@/assets/fonts/icomoon.ttf?225iv1') format('truetype'),
    url('@/assets/fonts/icomoon.woff?225iv1') format('woff'),
    url('@/assets/fonts/icomoon.svg?225iv1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class="icon"], [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Scrol-Down-Mobile .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
  opacity: 0;
}
.icon-Scrol-Down-Mobile .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: none;
  opacity: 0;
}
.icon-Scrol-Down-Mobile .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(225, 0, 25);
}
.icon-Scroll-to-Section .path1:before {
  content: "\e911";
  color: rgb(255, 255, 255);
  opacity: 0;
}
.icon-Scroll-to-Section .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: none;
  opacity: 0;
}
.icon-Scroll-to-Section .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(225, 0, 25);
}
.icon-Scroll-Top-Mobile .path1:before {
  content: "\e909";
  color: rgb(255, 255, 255);
  opacity: 0;
}
.icon-Scroll-Top-Mobile .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: none;
  opacity: 0;
}
.icon-Scroll-Top-Mobile .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(225, 0, 25);
}
.icon-Scroll-Top-Mobile .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(225, 0, 25);
}
.icon-Scroll-Top .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
  opacity: 0;
}
.icon-Scroll-Top .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: none;
  opacity: 0;
}
.icon-Scroll-Top .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(225, 0, 25);
}
.icon-Scroll-Top .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(225, 0, 25);
}
.icon-Gruppe-1062731 .path1:before {
  content: "\e900";
}
.icon-Gruppe-1062731 .path2:before {
  content: "\e901";
  margin-left: -1em;
}
.icon-Gruppe-1070301 .path1:before {
  content: "\e902";
}
.icon-Gruppe-1070301 .path2:before {
  content: "\e903";
  margin-left: -1em;
}
.icon-location_off_black_24dp:before {
  content: "\e904";
}
.icon-question_answer_black_24dp-1:before {
  content: "\e905";
}
.icon-thumb_down_off_alt_black_24dp:before {
  content: "\e914";
}
.icon-thumb_down_off_alt_black_24dp-1:before {
  content: "\e915";
}
.icon-add_black_24dp:before {
  content: "\e91f";
}
.icon-ads_click_black_24dp:before {
  content: "\e920";
}
.icon-arrow_back_black_24dp:before {
  content: "\e921";
}
.icon-arrow_circle_right_black_24dp:before {
  content: "\e922";
}
.icon-arrow_circle_right_black_24dp-1:before {
  content: "\e923";
}
.icon-call_black_24dp:before {
  content: "\e924";
}
.icon-cancel_black_24dp:before {
  content: "\e925";
}
.icon-chevron_right_black_24dp:before {
  content: "\e926";
}
.icon-close_black_24dp:before {
  content: "\e927";
}
.icon-delete_forever_black_24dp:before {
  content: "\e928";
}
.icon-download_black_24dp:before {
  content: "\e929";
}
.icon-edit_black_24dp:before {
  content: "\e92a";
}
.icon-event_black_24dp:before {
  content: "\e92b";
}
.icon-expand_circle_down_black_24dp:before {
  content: "\e92c";
}
.icon-expand_more_black_24dp:before {
  content: "\e92d";
}
.icon-fax_black_24dp:before {
  content: "\e92e";
}
.icon-filter_alt_black_24dp:before {
  content: "\e92f";
}
.icon-filter_alt_off_black_24dp:before {
  content: "\e930";
}
.icon-flag_black_24dp:before {
  content: "\e931";
}
.icon-Gruppe-106273 .path1:before {
  content: "\e932";
}
.icon-Gruppe-106273 .path2:before {
  content: "\e933";
  margin-left: -1em;
}
.icon-Gruppe-107030 .path1:before {
  content: "\e934";
}
.icon-Gruppe-107030 .path2:before {
  content: "\e935";
  margin-left: -1em;
}
.icon-help_black_24dp-2:before {
  content: "\e936";
}
.icon-info_black_24dp:before {
  content: "\e937";
}
.icon-language_black_24dp:before {
  content: "\e938";
}
.icon-layers_black_24dp:before {
  content: "\e939";
}
.icon-mail_black_24dp:before {
  content: "\e93a";
}
.icon-map_white_24dp:before {
  content: "\e93b";
}
.icon-mark_as_unread_black_24dp:before {
  content: "\e93c";
}
.icon-menu_black_24dp:before {
  content: "\e93d";
}
.icon-question_answer_black_24dp:before {
  content: "\e93e";
}
.icon-remove_black_24dp:before {
  content: "\e93f";
}
.icon-reply_black_24dp:before {
  content: "\e940";
}
.icon-room_black_24dp:before {
  content: "\e941";
}
.icon-search_black_24dp:before {
  content: "\e950";
}
.icon-thumb_down_alt_black_24dp:before {
  content: "\e951";
}
.icon-thumb_up_off_alt_black_24dp:before {
  content: "\e952";
}
.icon-thumbs_up_down_black_24dp:before {
  content: "\e953";
}
.icon-touch_app_white_24dp:before {
  content: "\e954";
}
.icon-view_in_ar_white_24dp:before {
  content: "\e955";
}
.icon-watch_later_black_24dp:before {
  content: "\e956";
}
.icon-zoom_in_black_24dp:before {
  content: "\e957";
}
.icon-zoom_out_map_white_24dp:before {
  content: "\e958";
}
.icon-sleepy2:before {
  content: "\e9fe";
}
