<script>
import {RouterView} from "vue-router";
import {defineComponent} from "vue";
import PageHeader from "@/components/PageHeader.vue";
import PageFooter from "@/components/PageFooter.vue";
import DipasSidebar from "./components/DipasSidebar.vue";
import DipasSidebarToggle from "./components/DipasSidebarToggle.vue";
import DipasSidebarPanelFaq from "./pages/_sidebar/DipasSidebarPanelFaq.vue";
import DipasSidebarPanelFeedback from "./pages/_sidebar/DipasSidebarPanelFeedback.vue";
import DipasSidebarPanelNewsletter from "./pages/_sidebar/DipasSidebarPanelNewsletter.vue";
import DipasCookieBanner from "@/components/DipasCookieBanner.vue";
import DevToolbar from "@/components/DevToolbar.vue";
import DipasButton from "@/components/DipasButton.vue";

export default defineComponent({
  components: {
    DipasButton,
    DevToolbar,
    RouterView,
    PageHeader,
    PageFooter,
    DipasSidebarToggle,
    DipasSidebar,
    DipasSidebarPanelFaq,
    DipasSidebarPanelFeedback,
    DipasSidebarPanelNewsletter,
    DipasCookieBanner,
  },
  data () {
    return {
      initialized: false,
      isMounted: false,
      navigations: [],
      currentSidebarPanelConfiguration: null,
      scrollToTopBottomOffset: 0,
      pageIsScrolledDown: false
    };
  },
  computed: {
    currentDipasSidebarPanel () {
      return this.$refs.sidebar?.currentDipasSidebarPanel();
    },
    teleportTarget () {
      return !this.currentDipasSidebarPanel
        ? "#teleportTargetClosedDipasSidebar"
        : "#teleportTargetOpenedDipasSidebar";
    },
    sidebarButtons () {
      const configuration = this.$store.getters["proceeding/configurationValue"]("sidebar") ?? [],
        configMapping = {
          faq: {
            icon: "help_black_24dp-2",
            component: "DipasSidebarPanelFaq"
          },
          feedback: {
            icon: "question_answer_black_24dp",
            component: "DipasSidebarPanelFeedback"
          },
          newsletter: {
            icon: "mark_as_unread_black_24dp",
            component: "DipasSidebarPanelNewsletter"
          }
        },
        buttons = [];

      Object.entries(configuration).forEach(([key, config]) => {
        buttons.push({
          icon: configMapping[key].icon,
          label: this.$t("sidebar.toggleButtons." + key + ".label"),
          title: this.$t("sidebar.toggleButtons." + key + ".title"),
          id: configMapping[key].component,
          callback: () => {
            this.currentSidebarPanelConfiguration = config;
            this.$refs.sidebar.toggleDipasSidebar(configMapping[key].component);
          },
        });
      });

      return buttons;
    },
    cookiesAccepted () {
      return this.$store.getters.cookiesAccepted;
    },
    scrollToTopCssVars () {
      return {
        "--scrollToTopBottomOffset": this.scrollToTopBottomOffset + "px"
      };
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  async beforeMount () {
    await this.$store.dispatch("proceeding/initializeProceeding");
    this.initialized = true;
    let redirectUrl = this.$store.getters["proceeding/configurationValue"]("redirect_url");

    if (redirectUrl) {
      window.location.href = redirectUrl;
    }
  },
  mounted () {
    window.addEventListener('resize', this.calculateScrollToTopBottomOffset);
    window.addEventListener('scroll', () => {
      this.pageIsScrolledDown = window.scrollY > 20;
      this.calculateScrollToTopBottomOffset();
    });
    this.isMounted = true;
  },
  methods: {
    calculateScrollToTopBottomOffset () {
      this.scrollToTopBottomOffset = window.innerHeight - this.$refs.footer.$el.getBoundingClientRect().top < 0
        ? 0
        : window.innerHeight - this.$refs.footer.$el.getBoundingClientRect().top;
    },
    scrollToTop () {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Frontend UI element', 'Scroll to top clicked']);
      }

      window.scrollTo(0, 0);
    }
  }
});
</script>

<template>
  <div
    ref="App"
    class="App"
  >
    <DipasButton
      v-if="pageIsScrolledDown"
      :label="$t('scrollToTop')"
      :iconOnly="true"
      icon="expand_more_black_24dp"
      class="scrollToTop"
      :style="scrollToTopCssVars"
      @click="scrollToTop"
    />

    <div
      v-if="!initialized"
      class="loader"
    >
      <div class="spinner" />

      <p>{{ $t('requestRunning') }}</p>
    </div>

    <DevToolbar v-if="initialized" />

    <PageHeader v-if="initialized" />

    <div
      class="contentArea"
      tabindex="-1"
      aria-live="polite"
    >
      <RouterView
        v-if="initialized"
        v-slot="{Component}"
      >
        <keep-alive include="Contributions,ContributionsList">
          <component :is="Component" />
        </keep-alive>
      </RouterView>

      <div id="teleportTargetClosedDipasSidebar" />

      <Teleport
        v-if="initialized && isMounted"
        :to="teleportTarget"
      >
        <DipasSidebarToggle
          v-if="sidebarButtons.length"
          :buttons="sidebarButtons"
          :selected="currentDipasSidebarPanel"
          class="fixed"
        />
      </Teleport>

      <DipasSidebar
        v-if="initialized"
        ref="sidebar"
      >
        <template #sidebarBody="{ panelComponentName }">
          <component
            :is="panelComponentName"
            :panelComponentName="panelComponentName"
            :panelConfiguration="currentSidebarPanelConfiguration"
          />
        </template>
      </DipasSidebar>
    </div>

    <PageFooter
      ref="footer"
      v-if="initialized"
      v-show="isDesktop"
    />

    <DipasCookieBanner
      v-if="initialized"
      aria-live="assertive"
    />
  </div>
</template>

<style lang="scss">
div.App {
  --desktopHorizontalSpacing: 10%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  button.scrollToTop {
    position: fixed;
    right: 2rem;
    bottom: calc(1rem + var(--scrollToTopBottomOffset));
    padding: 0.2rem 0.7rem;

    span.icon {
      font-size: 1.25rem;
      transform: rotate(180deg);
    }
  }

  div.contentArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  & > div.loader {
    width: fit-content;
    margin: auto;
    padding-top: 45vh;

    p {
      @extend %fontdefinition_text;
    }

    div.spinner {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      animation: rotate 1s linear infinite;
      margin: 0 auto 1rem;
    }

    & > div.spinner::before,
    & > div.spinner::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0;
      border-radius: 50%;
      border: 0.3rem solid $color_primary_1;
      animation: prixClipFix 2s linear infinite;
    }

    & > div.spinner::after {
      border-color: $color_primary_2;
      animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
      inset: 6px;
    }
  }

  &.isDesktop {
    div.contentArea {
      padding: 0 var(--desktopHorizontalSpacing);
    }
  }

  &.isTablet,
  &.isMobile {
    div.contentArea {
      padding-bottom: 3rem;
    }

    & > div.loader {
      padding-left: 10vw;
      padding-right: 10vw;

      p {
        text-align: center;
      }
    }
  }

  @keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes prixClipFix {
    0%   { clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0); }
    25%  { clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0); }
    50%  { clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%); }
    75%  { clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%); }
    100% { clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0); }
  }
}
</style>
