{% set classes = ['field', 'field_type_' ~ element['#field_type'], element['#field_name']] %}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
