<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasCardTeaser from "@/components/DipasCardTeaser.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasCardTeaser
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    buttonClicked () {
      // eslint-disable-next-line
      alert("clicked. Route to anywhere you want..");
    },
  }
};
</script>

<template>
  <DevDemoPageSection title="DipasCardTeaser">
    <DipasCardTeaser
      cardTitle="Themenwahl Gesamtbereich G"
      cardText="Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Eius qui quibusdam amet eaque officiis quia.
          Hic similique eius praesentium esse. Nisi numquam cumque a at.
          Eius temporibus dolores nam voluptatem. Lorem ipsum, dolor  consectetur adipisicing elit.
          Eius qui quibusdam amet eaque officiis quia.
          Hicfdas similique eius praesentium esse. Nisi numquam cumque a at.
          Eius temporibus dolores nam voluptatem."
      imageLink="https://placekeanu.com/200/150"
      imageAltText="Keanu Reeves"
      buttonLabel="mehr erfahren"
      @buttonClicked="buttonClicked"
    />
  </DevDemoPageSection>
</template>
