<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasNavigation from "@/components/DipasNavigation.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasNavigation
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      navigationlinks: {
        mainNav: [
          {
            endpoint: "demo#1",
            linktext: "Headerlink 1"
          },
          {
            endpoint: "demo#2",
            linktext: "Headerlink 2"
          },
          {
            endpoint: "demo#3",
            linktext: "Headerlink 3"
          },
          {
            endpoint: "demo#4",
            linktext: "Headerlink 4"
          }
        ],
        footerNav: [
          {
            endpoint: "demo#5",
            linktext: "Footerlink 1"
          },
          {
            endpoint: "demo#6",
            linktext: "Footerlink 2"
          },
          {
            endpoint: "demo#7",
            linktext: "Footerlink 3"
          },
          {
            endpoint: "demo#8",
            linktext: "Footerlink 4"
          }
        ]
      }
    };
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasNavigation"
    title="DipasNavigation"
  >
    <h3>Header DipasNavigation</h3>

    <header class="navigation header">
      <DipasNavigation :links="navigationlinks.mainNav" />

      <DipasNavigation
        v-show="isMobile"
        class="footerDipasNavigation"
        navGroup="footerDipasNavigation"
        :links="navigationlinks.footerNav"
      />
    </header>

    <h3>Footer DipasNavigation</h3>

    <footer class="navigation footer">
      <DipasNavigation
        v-show="!isMobile"
        class="footerDipasNavigation"
        navGroup="footerDipasNavigation"
        :links="navigationlinks.footerNav"
      />
    </footer>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasNavigation {
  header.navigation,
  footer.navigation {
    border: solid 1px #000;
    padding: 20px;
  }

  footer {
    background-color: $color_primary_1;
  }
}
</style>
