<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasTextChip from "@/components/DipasTextChip.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasTextChip
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasTextChip"
    title="DipasTextChip"
  >
    <DipasTextChip
      backgroundColor="#D80372"
      chipText="DipasTextChip mit DipasInfoButton"
      tooltipTitle="Modalkomponente der DipasTextChip 1"
      tooltipText="Lorem ipsum dolor sit amet conseqtuer idipliscit amet dolor."
      :disabled="disabled"
    />

    <br />

    <DipasTextChip
      backgroundColor="#A300e2"
      chipText="DipasTextChip ohne DipasInfoButton"
      :disabled="disabled"
    />

    <div class="smallSpaceWrapper">
      <p>TextChip in a small space forcing it to clip the text displayed</p>

      <div class="smallSpace">
        <DipasTextChip
          backgroundColor="#D80372"
          chipText="Long text that would never fit in the space provided forcing it to get clipped"
          :disabled="disabled"
        />

        <DipasTextChip
          backgroundColor="#D80372"
          chipText="Long text that would never fit in the space provided forcing it to get clipped"
          tooltipTitle="Modaltitle"
          tooltipText="Lorem ipsum dolor sit amet conseqtuer idipliscit amet dolor."
          :disabled="disabled"
        />
      </div>
    </div>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasTextChip {
  div.smallSpaceWrapper {
    margin-top: 1rem;

    div.smallSpace {
      border: dashed 1px black;
      padding: 0.5rem;
      width: 200px;
      background-clip: content-box, padding-box;
      background-image: linear-gradient(to bottom, white 0%, white 100%),
                        linear-gradient(to bottom, rgb(240, 240, 240) 0%, rgb(240, 240, 240) 100%);

      div.DipasTextChip:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
</style>
