<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasButton from "@/components/DipasButton.vue";
import DipasTextfield from "@/components/DipasTextfield.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasButton,
    DipasTextfield
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      textfield1: undefined,
      textfield2: undefined,
      textfield3: undefined,
      textfield4: undefined
    };
  },
  methods: {
    clickHandler (val) {
      // eslint-disable-next-line no-alert
      alert("Click event captured with field contents: " + val);
    },
    validateTextfields () {
      // eslint-disable-next-line no-alert
      alert(
        `
        Validierung der Textfelder:
        Textfield 1: ${ this.$refs.textfield1.hasError() ? "Fehler" : "Fehlerfrei"}
        Textfield 2: ${ this.$refs.textfield2.hasError() ? "Fehler" : "Fehlerfrei"}
        Textfield 3: ${ this.$refs.textfield3.hasError() ? "Fehler" : "Fehlerfrei"}
        Textfield 4: ${ this.$refs.textfield4.hasError() ? "Fehler" : "Fehlerfrei"}
        `
      );
    },
    resetTextfields () {
      this.$refs.textfield1.reset();
      this.$refs.textfield2.reset();
      this.$refs.textfield3.reset();
      this.$refs.textfield4.reset();
    }
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasTextfield"
    title="DipasTextfield"
  >
    <section>
      <DipasTextfield
        ref="textfield1"
        v-model="textfield1"
        fieldLabel="Standard"
        fieldDescription="Info: keine Einschränkungen der Texteingabe."
        title="Title-Attributstext für dieses Feld"
        disabledTitle="Disabled Title-Attributstext für dieses Feld"
        placeholder="Platzhaltertext"
        :disabled="disabled"
      />

      <div class="output">
        Model value: "{{ textfield1 }}"
      </div>
    </section>

    <section>
      <DipasTextfield
        ref="textfield2"
        v-model="textfield2"
        fieldLabel="Textfeld mit Minimal- und Maximallänge, Zeichencounter und beschränkter Zeichenmenge (nur Zahlen)"
        fieldDescription="Info: Min. 8, max. 12 Zeichen, nur Zahlen"
        placeholder="Ihre Telefonnummer"
        title="Bitte geben Sie Ihre Rufnummer ein"
        disabledTitle="Eine Eingabe ist gerade nicht möglich"
        :disabled="disabled"
        limitCharacters="[0-9]"
        :validationMinCharacterCount="{
          value: 8,
          error: 'Bitte geben sie mindestens 8 Zeichen ein.',
        }"
        :validationMaxCharacterCount="{
          value: 12,
          showCounter: true,
          limitMaxLengthInput: true,
          error: 'Sie haben die Maximallänge (12) für dieses Textfeld erreicht.',
        }"
      />

      <div class="output">
        Model value: "{{ textfield2 }}"
      </div>
    </section>

    <section>
      <DipasTextfield
        ref="textfield3"
        v-model="textfield3"
        fieldLabel="Textfeld mit getrimmten Input und Regexp-Prüfung (Email)"
        fieldDescription="Info: Der Inhalt dieses Feldes muss eine valide Email-Adresse sein"
        placeholder="Ihre Email-Adresse"
        title="Bitte geben Sie Ihre Email-Adresse ein"
        disabledTitle="Eine Eingabe ist gerade nicht möglich"
        :disabled="disabled"
        :trimInput="true"
        :validationRegex="{
          value: '^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,3})+$',
          error: 'Die eingegebene Adresse ist nicht gültig',
        }"
      />

      <div class="output">
        Model value: "{{ textfield3 }}"
      </div>
    </section>

    <section>
      <DipasTextfield
        ref="textfield4"
        v-model="textfield4"
        fieldLabel="Textfeld mit einem Button"
        placeholder="Suchbegriff eingeben..."
        :disabled="disabled"
      >
        <template #button>
          <DipasButton
            :iconOnly="true"
            label="Suche abschicken."
            icon="search_black_24dp"
            :disabled="disabled"
            @click="clickHandler(textfield4)"
          />
        </template>
      </DipasTextfield>

      <div class="output">
        Model value: "{{ textfield4 }}"
      </div>
    </section>

    <DipasButton
      label="Textfelder validieren"
      @click="validateTextfields"
    />

    <DipasButton
      class="secondary"
      label="Textfelder zurücksetzen"
      :disabled="disabled"
      @click="resetTextfields"
    />
  </DevDemoPageSection>
</template>
