<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasCheckbox from "@/components/DipasCheckbox.vue";
import DipasCheckboxGroup from "@/components/DipasCheckboxGroup.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasCheckbox,
    DipasCheckboxGroup
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      options: {
        standard: [
          {
            value: "option1",
            label: "Label 1",
          },
          {
            value: "option2",
            label: "Label 2",
          },
          {
            value: "option3",
            label: "Label 3",
          }
        ],
        withDifferentKeys: [
          {
            id: "option1",
            name: "Label 1",
          },
          {
            id: "option2",
            name: "Label 2",
          },
          {
            id: "option3",
            name: "Label 3",
          },
        ]
      },
      data: {
        single: undefined,
        single_preset: "single_preset",
        single_with_unchecked_return: undefined,
        standardgroup: undefined,
        precheckedgroup: ["option1", "option3"],
        withDifferentKeys: undefined,
      }
    };
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasCheckbox"
    title="DipasCheckbox & DipasCheckboxGroup"
  >
    <section>
      <p>Single checkbox with simple boolean data</p>

      <DipasCheckbox
        v-model="data.single"
        label="Single checkbox"
        :disabled="disabled"
      />

      <div class="output">
        Input Value: {{ data.single }}
      </div>
    </section>

    <section>
      <p>Single checkbox with preset data</p>

      <DipasCheckbox
        v-model="data.single_preset"
        label="Single checkbox with string value 'single_preset' and prechecked state"
        inputValue="single_preset"
        :disabled="disabled"
      />

      <div class="output">
        Input Value: {{ data.single_preset }}
      </div>
    </section>

    <section>
      <p>Single checkbox with defined "unchecked" return value (string "unchecked")</p>

      <DipasCheckbox
        v-model="data.single_with_unchecked_return"
        label="Single checkbox with string value ('single_with_unchecked_return') and defined unchecked return value (string 'unchecked')"
        inputValue="single_with_unchecked_return"
        returnValueWhenUnchecked="unchecked"
        :disabled="disabled"
      />

      <div class="output">
        Input Value: {{ data.single_with_unchecked_return }}
      </div>
    </section>

    <section>
      <p>Simple Checkbox-Group</p>

      <DipasCheckboxGroup
        v-model="data.standardgroup"
        :options="options.standard"
        fieldLabel="Default Checkbox-Group"
        :disabled="disabled"
      />

      <div class="output">
        Group Value: {{ data.standardgroup }}
      </div>
    </section>

    <section>
      <p>Simple Checkbox-Group with prechecked values (prechecked: "option1", "option3")</p>

      <DipasCheckboxGroup
        v-model="data.precheckedgroup"
        :options="options.standard"
        fieldLabel="Checkbox-Group with prechecked options"
        :disabled="disabled"
      />

      <div class="output">
        Group Value: {{ data.precheckedgroup }}
      </div>
    </section>

    <section>
      <p>Checkbox-Group with different label/value keys (id/name instead of value/label)</p>

      <DipasCheckboxGroup
        v-model="data.withDifferentKeys"
        :options="options.withDifferentKeys"
        optionLabel="name"
        optionValue="id"
        fieldLabel="Checkbox-Group with different option keys"
        :disabled="disabled"
      />

      <div class="output">
        Group Value: {{ data.withDifferentKeys }}
      </div>
    </section>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasCheckbox {
  p {
    font-weight: bold;
  }
}
</style>
