<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasStatusPill from "@/components/DipasStatusPill.vue";

export default {
  components: {
    DipasStatusPill,
    DevDemoPageSection,
  },
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasStatusPill"
    title="DipasStatusPill"
  >
    <section>
      <DipasStatusPill :proceedingActive="true" />

      <DipasStatusPill :proceedingActive="false" />
    </section>
  </DevDemoPageSection>
</template>

<style media="mo">
.DemoDipasStatusPill {
  > section {
    > section {
      display: flex;
      gap: 0.5rem;
    }
  }
}
</style>
