<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasSelect from "@/components/DipasSelect.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasSelect
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      options: {
        standard: [
          {
            value: 1,
            label: "Label 1",
          },
          {
            value: 2,
            label: "Label 2",
          },
          {
            value: 3,
            label: "Label 3",
          }
        ],
        withDifferentKeys: [
          {
            id: "type-1",
            name: "Beitragstyp 1",
          },
          {
            id: "type-2",
            name: "Beitragstyp 2",
          },
          {
            id: "type-3",
            name: "Beitragstyp 3",
          },
        ]
      },
      single: [],
      multi: []
    };
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasSelect"
    title="DipasSelect"
  >
    <section>
      <p>Single select (Default field names: value, label)</p>

      <div>
        <DipasSelect
          v-model="single"
          :options="options.standard"
          optionPlaceholder="Eine Option wählen"
          :disabled="disabled"
        />

        <div class="output">
          Selected value: "{{ single }}"
        </div>
      </div>
    </section>

    <section>
      <p>Multi select (Modified option keys: id instead of value, name instead of label)</p>

      <div>
        <DipasSelect
          v-model="multi"
          :options="options.withDifferentKeys"
          optionPlaceholder="Mehrere Optionen wählen"
          :isMultiselect="true"
          :disabled="disabled"
          optionFieldId="id"
          optionFieldLabel="name"
        />

        <div class="output">
          Selected values: "{{ multi }}"
        </div>
      </div>
    </section>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasSelect {
  p {
    font-weight: bold;
  }
}
</style>
