<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasInfoButton from "@/components/DipasInfoButton.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasInfoButton
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasInfoButton"
    title="DipasInfoButton"
  >
    <DipasInfoButton
      tooltipTitle="Dies ist ein Testmodal"
      tooltipText="Lorem ipsum dolor sit amet conseqtuer idipliscit amet dolor."
      :disabled="disabled"
    />
  </DevDemoPageSection>
</template>
