<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasCollapsible from "@/components/DipasCollapsible.vue";
import DipasCollapsibleItem from "@/components/DipasCollapsibleItem.vue";
import DipasCard from "@/components/DipasCard.vue";
import DemoDataText1 from "@/pages/DevDemoPage/ComponentDemos/DemoData/DemoDataText1.vue";
import DemoDataText2 from "@/pages/DevDemoPage/ComponentDemos/DemoData/DemoDataText2.vue";
import DemoDataText3 from "@/pages/DevDemoPage/ComponentDemos/DemoData/DemoDataText3.vue";
import DipasButton from "@/components/DipasButton.vue";

export default {
  components: {
    DipasButton,
    DipasCard,
    DipasCollapsibleItem,
    DipasCollapsible,
    DevDemoPageSection,
    DemoDataText1,
    DemoDataText2,
    DemoDataText3,
  },
  data () {
    return {
      collapsibleItems: [
        {
          title: "Projekt-/Verfahrens-Informationen",
          component: "DemoDataText1",
          active: true,
        },
        {
          title: "Sich beteiligen (Beitragskarte)",
          component: "DemoDataText2",
          active: false,
        },
        {
          title: "Weitere Beteiligungsverfahren",
          component: "DemoDataText3",
          active: false,
        },
      ],
    };
  },
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasCollapsible"
    title="DipasCollapsible"
  >
    <section>
      <p>
        DipasCollapsible - Accordion with Auto Collapse [renderAs="accordion" :accordionAutoCollapse="true"]
        <br />
        <strong>Usecase: DIPAS-UI-Design: Page 41</strong>
      </p>

      <section>
        <DipasCollapsible
          renderAs="accordion"
          :accordionAutoCollapse="true"
        >
          <DipasCollapsibleItem
            v-for="collapsible in collapsibleItems"
            :key="collapsible"
            :title="collapsible.title"
            :active="collapsible.active"
          >
            <DipasCard>
              <component
                :is="collapsible.component"
                :key="collapsible.component"
              />
            </DipasCard>
          </DipasCollapsibleItem>
        </DipasCollapsible>
      </section>
    </section>

    <section>
      <p>
        DipasCollapsible - Accordion without Auto Collapse (default) [renderAs="accordion"]
        <br />
        <strong>Usecase: DIPAS-UI-Design: Page 41</strong>
      </p>

      <section>
        <DipasCollapsible
          renderAs="accordion"
          :accordionAutoCollapse="false"
        >
          <DipasCollapsibleItem
            v-for="collapsible in collapsibleItems"
            :key="collapsible"
            :title="collapsible.title"
            :active="collapsible.active"
          >
            <DipasCard>
              <component
                :is="collapsible.component"
                :key="collapsible.component"
              />
            </DipasCard>
          </DipasCollapsibleItem>
        </DipasCollapsible>
      </section>
    </section>

    <section>
      <p>
        DipasCollapsible - Accordion Small [renderAs="accordion" :isSmall="true"]
        <br />
        <strong>Usecase: DIPAS-UI-Design: Page 155</strong>
      </p>

      <section>
        <DipasCollapsible
          renderAs="accordion"
          :isSmall="true"
        >
          <DipasCollapsibleItem
            v-for="collapsible in collapsibleItems"
            :key="collapsible"
            :title="collapsible.title"
            :active="collapsible.active"
          >
            <DipasCard>
              <component
                :is="collapsible.component"
                :key="collapsible.component"
              />
            </DipasCard>
          </DipasCollapsibleItem>
        </DipasCollapsible>
      </section>
    </section>

    <section>
      <p>
        DipasCollapsible - Responsive: - "regular sized" tabs -> "small" accordion on mobile [:renderAs="!isMobile ? 'tabs' : 'accordion'" :isSmall="isMobile"]
        <br />
        <strong>Usecase: DIPAS-UI-Design: Page 35 (Desktop mode), Page 39 (Mobile mode) </strong>
      </p>

      <section>
        <DipasCollapsible
          :renderAs="!isMobile ? 'tabs' : 'accordion'"
          :isSmall="isMobile"
        >
          <DipasCollapsibleItem
            v-for="collapsible in collapsibleItems"
            :key="collapsible"
            :title="collapsible.title"
            :active="collapsible.active"
          >
            <DipasCard>
              <component
                :is="collapsible.component"
                :key="collapsible.component"
              />
            </DipasCard>
          </DipasCollapsibleItem>
        </DipasCollapsible>
      </section>
    </section>

    <section>
      <p>
        DipasCollapsible - Responsive - Accordion on Mobile, Transparent on Desktop [:renderAs="!isMobile ? 'transparent' : 'accordion'"]
        <br />
        <strong>Usecase: DIPAS-UI-Design: Kommentare Web / Kommentare
          Mobile (Page 16)</strong>
      </p>

      <section>
        <DipasCollapsible
          :renderAs="!isMobile ? 'transparent' : 'accordion'"
          class="demo-comments"
        >
          <DipasCollapsibleItem
            :title="`Kommentare (${collapsibleItems.length})`"
            :active="true"
          >
            <div class="inner">
              <div>
                <DipasButton label="Kommentar erstellen" />
              </div>
              <div>
                <DipasCard
                  v-for="collapsible in collapsibleItems"
                  :key="collapsible"
                >
                  <component
                    :is="collapsible.component"
                    :key="collapsible.component"
                  />
                </DipasCard>
              </div>

              <div>
                <DipasButton
                  label="Abbrechen"
                  class="secondary"
                />
                <DipasButton label="Absenden" />
              </div>
            </div>
          </DipasCollapsibleItem>
        </DipasCollapsible>
      </section>
    </section>

    <section>
      <p>
        DipasCollapsible - Horizontal tabs [renderAs="tabs" :tabsHorizontal="true"]
      </p>

      <section>
        <DipasCollapsible
          renderAs="tabs"
          :tabsHorizontal="true"
        >
          <DipasCollapsibleItem
            v-for="collapsible in collapsibleItems"
            :key="collapsible"
            :title="collapsible.title"
            :active="collapsible.active"
          >
            <DipasCard>
              <component
                :is="collapsible.component"
                :key="collapsible.component"
              />
            </DipasCard>
          </DipasCollapsibleItem>
        </DipasCollapsible>
      </section>
    </section>

    <section>
      <p>
        DipasCollapsible - Horizontal tabs Styling tabStyleLight [renderAs="tabs" :tabsHorizontal="true", :tabStyleLight="true"]
      </p>

      <section>
        <DipasCollapsible
          renderAs="tabs"
          :tabsHorizontal="true"
          :tabStyleLight="true"
        >
          <DipasCollapsibleItem
            v-for="collapsible in collapsibleItems"
            :key="collapsible"
            :title="collapsible.title"
            :active="collapsible.active"
          >
            <DipasCard>
              <component
                :is="collapsible.component"
                :key="collapsible.component"
              />
            </DipasCard>
          </DipasCollapsibleItem>
        </DipasCollapsible>
      </section>
    </section>
  </DevDemoPageSection>
</template>

<style lang="scss">
.DemoDipasCollapsible {
  div.demo-comments {
    padding: 1rem;
    border: dashed 3px $color_border;

    div.inner {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 0 1rem 0;

      .DipasCard:last-child {
        margin: 0;
      }
    }
  }
}
</style>
