<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasRadioGroup from "@/components/DipasRadioGroup.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasRadioGroup
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      options: {
        standard: [
          {
            value: 1,
            label: "Label 1",
          },
          {
            value: 2,
            label: "Label 2",
          },
          {
            value: 3,
            label: "Label 3",
          }
        ],
        withDifferentKeys: [
          {
            id: "type-1",
            name: "Beitragstyp 1",
          },
          {
            id: "type-2",
            name: "Beitragstyp 2",
          },
          {
            id: "type-3",
            name: "Beitragstyp 3",
          },
        ]
      },
      data: {
        standard: undefined,
        inline: undefined,
        withDifferentKeys: undefined,
        component: undefined,
        componentInline: undefined
      }
    };
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasRadioGroup"
    title="DipasRadioGroup"
  >
    <section>
      <p>Standard use</p>

      <DipasRadioGroup
        v-model="data.standard"
        :options="options.standard"
        fieldLabel="Standard Radiogroup"
        :disabled="disabled"
      />

      <div class="output">
        selected Value: {{ data.standard }}
      </div>
    </section>

    <section>
      <p>Inline true</p>

      <DipasRadioGroup
        v-model="data.inline"
        :options="options.standard"
        :optionsInline="true"
        fieldLabel="Inline Radiogroup"
        :disabled="disabled"
      />

      <div class="output">
        selected Value: {{ data.inline }}
      </div>
    </section>

    <section>
      <p>With given option property names</p>

      <DipasRadioGroup
        v-model="data.withDifferentKeys"
        :options="options.withDifferentKeys"
        optionValue="id"
        optionLabel="name"
        fieldLabel="Radiogroup with different option keys"
        :disabled="disabled"
      />

      <div class="output">
        selected Value: {{ data.withDifferentKeys }}
      </div>
    </section>

    <section>
      <p>With injected components instead of text labels</p>

      <DipasRadioGroup
        v-model="data.component"
        :options="options.standard"
        inputComponent="DipasTextChip"
        :componentProperties="[
          {backgroundColor: '#77aa11', chipText: 'Injected component A', tooltipTitle: 'Injected component A', tooltipText: 'DipasTextChip A Tooltip'},
          {backgroundColor: '#ee9911', chipText: 'Injected component B', tooltipTitle: 'Injected component B', tooltipText: 'DipasTextChip B Tooltip'},
          {backgroundColor: '#2299aa', chipText: 'Injected component C', tooltipTitle: 'Injected component C', tooltipText: 'DipasTextChip C Tooltip'}
        ]"
        fieldLabel="Radiogroup with injected components"
        :disabled="disabled"
      />

      <div class="output">
        selected Value: {{ data.component }}
      </div>
    </section>

    <section>
      <p>With injected components inline</p>

      <DipasRadioGroup
        v-model="data.componentInline"
        :options="options.standard"
        :optionsInline="true"
        inputComponent="DipasTextChip"
        :componentProperties="[
          {backgroundColor: '#77aa11', chipText: 'Injected component A', tooltipTitle: 'Injected component A', tooltipText: 'DipasTextChip A Tooltip'},
          {backgroundColor: '#ee9911', chipText: 'Injected component B', tooltipTitle: 'Injected component B', tooltipText: 'DipasTextChip B Tooltip'},
          {backgroundColor: '#2299aa', chipText: 'Injected component C', tooltipTitle: 'Injected component C', tooltipText: 'DipasTextChip C Tooltip'}
        ]"
        fieldLabel="Radiogroup with injected components inline"
        :disabled="disabled"
      />

      <div class="output">
        selected Value: {{ data.componentInline }}
      </div>
    </section>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasRadioGroup {
  p {
    font-weight: bold;
  }
}
</style>
