<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasButton from "@/components/DipasButton.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasButton
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      showModal1: false,
      showModal2: false,
      showModal3: false,
      showModal4: false
    };
  },
  methods: {
    closeModal (which) {
      this["showModal" + which] ^= 1;
    },
    clickHandler () {
      // eslint-disable-next-line no-alert
      alert("Click event captured!");
    }
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasModal"
    title="DipasModal"
  >
    <DipasButton
      label="Öffne Modal mit Standard settings (Close button, standard footer)"
      icon="layers_black_24dp"
      :disabled="disabled"
      @click="closeModal(1)"
    />

    <DipasButton
      label="Öffne Modal ohne Closebutton"
      icon="layers_black_24dp"
      :disabled="disabled"
      @click="closeModal(2)"
    />

    <DipasButton
      label="Öffne Modal mit custom Footer (2 Buttons)"
      icon="layers_black_24dp"
      :disabled="disabled"
      @click="closeModal(3)"
    />

    <DipasButton
      label="Öffne Modal mit befülltem Header-Slot"
      icon="layers_black_24dp"
      :disabled="disabled"
      @click="closeModal(4)"
    />

    <DipasModal
      v-if="showModal1"
      title="Modal with standard settings"
      @closeModal="closeModal(1)"
    >
      <template #default>
        <div class="modalWidth">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad accusantium facilis hic
            iusto, nihil temporibus enim consectetur voluptates at cumque ea natus distinctio veritatis,
            non porro sint aliquid fugiat.
          </p>
        </div>
      </template>
    </DipasModal>

    <DipasModal
      v-if="showModal2"
      title="Modal without close button"
      :iconClose="false"
      @closeModal="closeModal(2)"
    >
      <template #default>
        <div class="modalWidth">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad accusantium facilis hic
            iusto, nihil temporibus enim consectetur voluptates at cumque ea natus distinctio veritatis,
            non porro sint aliquid fugiat.
          </p>
        </div>
      </template>
    </DipasModal>

    <DipasModal
      v-if="showModal3"
      title="Modal with custom footer"
      @closeModal="closeModal(3)"
    >
      <template #default>
        <div class="modalWidth">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad accusantium facilis hic
            iusto, nihil temporibus enim consectetur voluptates at cumque ea natus distinctio veritatis,
            non porro sint aliquid fugiat.
          </p>
        </div>
      </template>

      <template #footer>
        <DipasButton
          label="Schliessen"
          title="Dieses Modal schliessen"
          @click="closeModal(3)"
        />

        <DipasButton
          label="Aktionsbutton"
          title="Dieser Button kann irgendeine Aktion auslösen"
          @click="clickHandler"
        />
      </template>
    </DipasModal>

    <DipasModal
      v-if="showModal4"
      title="Modal with header slot contents"
      :iconClose="false"
      class="noPadding"
      @closeModal="closeModal(4)"
    >
      <template #header>
        <div>
          ...hier stehen beim Beitragswizard die Tabs...
        </div>
      </template>

      <template #default>
        <div class="modalWidth">
          <iframe
            class="masterportal"
            src="http://schulung.localhost:8080/drupal/de/masterportal/schulung.appointment_map/fullscreen"
          />
        </div>
      </template>
    </DipasModal>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasModal {
  button.DipasButton {
    display: block;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  div.modalWidth {
    width: 600px;

    iframe.masterportal {
      width: 100%;
      height: 300px;
    }
  }
}
</style>
