<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasButton from "@/components/DipasButton.vue";
import DipasInfoButton from "@/components/DipasInfoButton.vue";
import DipasTextarea from "@/components/DipasTextarea.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasButton,
    DipasInfoButton,
    DipasTextarea
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      textfield: undefined
    };
  },
  methods: {
    clickHandler (val) {
      // eslint-disable-next-line no-alert
      alert("Click event captured with field contents: " + val);
    },
    validateTextfields () {
      // eslint-disable-next-line no-alert
      alert(
        `
        Validierung der Textarea: ${ this.$refs.textfield.hasError() ? "Fehler" : "Fehlerfrei"}
        `
      );
    },
    resetTextfields () {
      this.$refs.textfield.reset();
    }
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasTextarea"
    title="DipasTextarea"
  >
    <section>
      <DipasTextarea
        ref="textfield"
        v-model="textfield"
        fieldLabel="Textarea mit Zeichenlimits ohne harte Limitierung, mit Counter"
        fieldDescription="Info: Min. 10 Zeichen, Max. 20 Zeichen, Maximale Eingabe nicht limitiert."
        placeholder="Mindestens 10 Zeichen, maximal 20 Zeichen"
        rows="6"
        :required="true"
        :disabled="disabled"
        :validationMinCharacterCount="{
          value: 10,
          error: 'Bitte geben sie mindestens 10 Zeichen ein.',
        }"
        :validationMaxCharacterCount="{
          value: 20,
          limitMaxLengthInput: false,
          error: 'Sie haben die Maximallänge (20) für dieses Textfeld erreicht.',
        }"
      >
        <template #label="properties">
          {{ properties.label }}
        </template>

        <template #labelInfo>
          <DipasInfoButton
            tooltipTitle="Dies ist ein Beispiel-Infomodal"
            tooltipText="Lorem ipsum dolor sit amet conseqtuer idipliscit dolor amet."
            label="Screenreadertext für den DipasInfoButton"
            :disabled="disabled"
          />
        </template>
      </DipasTextarea>

      <div class="output">
        Model value: "{{ textfield }}"
      </div>
    </section>

    <DipasButton
      label="Textarea validieren"
      :disabled="disabled"
      @click="validateTextfields"
    />

    <DipasButton
      class="secondary"
      label="Textarea zurücksetzen"
      :disabled="disabled"
      @click="resetTextfields"
    />
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasTextarea {

}
</style>
