<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasButton from "@/components/DipasButton.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasButton
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    clickHandler () {
      // eslint-disable-next-line no-alert
      alert("Click event captured!");
    }
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasButton"
    title="DipasButton"
  >
    <section class="inline">
      <DipasButton
        label="Buttonlabel"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />

      <DipasButton
        label="Buttonlabel mit Icon"
        icon="cancel_black_24dp"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />

      <DipasButton
        label="Buttonlabel mit Icon in anderer Farbe"
        icon="cancel_black_24dp"
        iconColor="black"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />

      <DipasButton
        label="Buttonlabel mit Icon rechts"
        icon="cancel_black_24dp"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :iconAfterText="true"
        :disabled="disabled"
        @click="clickHandler"
      />

      <DipasButton
        :iconOnly="true"
        label="E-Mail - Label für Screenreader (iconOnly)"
        icon="mail_black_24dp"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />
    </section>

    <section class="inline">
      <DipasButton
        class="secondary"
        label="Buttonlabel"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />

      <DipasButton
        class="secondary"
        icon="add_black_24dp"
        label="Buttonlabel mit Icon"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />

      <DipasButton
        class="secondary"
        label="Buttonlabel mit Icon in anderer Farbe"
        icon="cancel_black_24dp"
        iconColor="red"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />
      <DipasButton
        class="secondary"
        icon="add_black_24dp"
        label="Buttonlabel mit Icon rechts"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :iconAfterText="true"
        :disabled="disabled"
        @click="clickHandler"
      />

      <DipasButton
        :iconOnly="true"
        label="Löschen - Label für Screenreader (iconOnly)"
        class="secondary"
        icon="delete_forever_black_24dp"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />
    </section>

    <section class="inlineLinks">
      [:inline="true"] Lorem ipsum
      <DipasButton
        :inline="true"
        :iconAfterText="false"
        label="Button A with icon left"
        class="secondary"
        icon="delete_forever_black_24dp"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />

      dolor sit amet

      <DipasButton
        :inline="true"
        :iconAfterText="true"
        label="Button B with icon right"
        class="secondary"
        icon="delete_forever_black_24dp"
        title="Tooltip text for enabled buttons"
        disabledTitle="This button is now disabled"
        :disabled="disabled"
        @click="clickHandler"
      />

      consectetur adipisicing elit.
    </section>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasButton {
  section.inline {
    display: flex;
    gap: 1em;
  }

  section .inlineLinks {
    display: flex;
    align-items: center;
  }
}
</style>
