<script>
import DipasButton from "@/components/DipasButton.vue";
import DipasCard from "@/components/DipasCard.vue";
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasCard,
    DipasButton,
  },
  methods: {
    clickHandler () {
      // eslint-disable-next-line no-alert
      alert("Click event captured");
    },
  },
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasCard"
    title="DipasCard"
  >
    <section>
      <p>Card with headerLeft + headerRight + content</p>

      <DipasCard>
        <template #headerLeft>
          Kommentar Nr. 0100
        </template>

        <template #headerRight>
          erstellt am 31.03.2023
        </template>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam consequatur iste laudantium libero odit
        sapiente voluptatibus?
      </DipasCard>
    </section>

    <section>
      <p>Card with headerLeft + headerRight ("headerRightContainsActions" attribute) + content</p>

      <DipasCard :headerRightContainsActions="true">
        <template #headerLeft>
          Altona
        </template>

        <template #headerRight>
          <DipasButton
            label="12"
            class="secondary"
            icon="question_answer_black_24dp"
            title="Tooltip text for enabled buttons"
            disabledTitle="This button is now disabled"
            :iconAfterText="true"
            :inline="true"
            @click="clickHandler"
          />
        </template>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam consequatur iste laudantium libero odit
        sapiente voluptatibus?
      </DipasCard>
    </section>

    <section>
      <p>Card with headerLeft + content</p>

      <DipasCard>
        <template #headerLeft>
          Weitere Beiträge in deiner Nähe
        </template>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam consequatur iste laudantium libero odit
        sapiente voluptatibus?
      </DipasCard>
    </section>

    <section>
      <p>Card with content only</p>

      <DipasCard>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam consequatur iste laudantium libero odit
        sapiente voluptatibus?
      </DipasCard>
    </section>

    <section>
      <p>This card is collapsible (isCollapsible)</p>

      <DipasCard :isCollapsible="true">
        <template #headerLeft>
          Kommentar Nr. 0100
        </template>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam consequatur iste laudantium libero odit
        sapiente voluptatibus?
      </DipasCard>
    </section>

    <section>
      <p>Card with headerLeft + content ("noPadding" attribute)</p>

      <DipasCard :noPadding="true">
        <template #headerLeft>
          Entwürfe
        </template>

        <div class="demoArticle">
          <div class="demoText">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam consequatur iste laudantium libero odit
            sapiente voluptatibus?
          </div>

          <div class="demoList">
            <div class="even">
              Enwurf 1
            </div>
            <div class="odd">
              Entwurf 2
            </div>
            <div class="even">
              Enwurf 3
            </div>
          </div>

          <div class="demoText">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam consequatur iste laudantium libero odit
            sapiente voluptatibus?
          </div>
        </div>
      </DipasCard>
    </section>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DemoDipasCard {
  p {
    font-weight: bold;
  }

  .DipasCard {
    width: 50%;

    div.demoArticle {
      div.demoText {
        margin: 0 1rem 0.5rem 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      div.demoList {
        padding: 0 0 0.5rem 0;

        div {
          padding: 0.5rem 1rem;

          &.even {
            background-color: #0D30630B;
          }
        }
      }
    }
  }

  &.bootstrap {
    &-xs,
    &-sm {
      .DipasCard {
        width: 100%;
      }
    }
  }
}
</style>
