<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasMasterportal from "@/components/DipasMasterportal.vue";
import DipasRadioGroup from "@/components/DipasRadioGroup.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasMasterportal,
    DipasRadioGroup
  },
  data () {
    return {
      geometryType: "point",
      options: {
        geometryType: [
          {
            value: "point",
            label: "Point",
          },
          {
            value: "polygon",
            label: "Polygon",
          },
          {
            value: "linestring",
            label: "Line",
          }
        ]
      },
      drawnFeatures: undefined,
      geodata: JSON.stringify({
        "type": "Feature",
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [10.000261979700962, 53.564949965582066],
              [10.010793147386028, 53.56429107728992],
              [10.009017199179219, 53.56017096967841],
              [9.997768130691549, 53.560835696649285],
              [10.000261979700962, 53.564949965582066]
            ]
          ]
        },
        "properties": {
          "centerPoint": {
            "type": "Point",
            "coordinates": [10.004435315513334, 53.562562264719524]
          }
        }
      })
    };
  },
  computed: {
    masterportalSrcCreate () {
      return this.$store.getters["proceeding/masterportalUrl"]("createcontribution");
    },
    masterportalSrcSingleContribution () {
      return this.$store.getters["proceeding/masterportalUrl"]("singlecontribution") + "?uiStyle=simple&zoomLevel=6&projection=EPSG:4326&hideOthers=1&node=13493&zoomToExtent=10.058517412015219,53.559383156007975,10.059437881473732,53.559674365555175";
    },
    masterportalSrcAppointment () {
      const coords = "9.995645538994566,53.55507557108743";

      return this.$store.getters["proceeding/masterportalUrl"]("schedule") + "?projection=EPSG:4326&marker=" + coords + "&center=" + coords;
    }
  },
  methods: {
    getFeatures (features) {
      this.drawnFeatures = features;
    }
  }
};

</script>

<template>
  <DevDemoPageSection
    class="DemoDipasMasterportal"
    title="DipasMasterportal"
  >
    <section class="mapContainer">
      <p>
        Activated draw tool
      </p>

      <DipasRadioGroup
        v-model="geometryType"
        :options="options.geometryType"
        :optionsInline="true"
      />

      <br>

      <DipasMasterportal
        :src="masterportalSrcCreate"
        :geometryType="geometryType"
        iframeTitle="Draw map"
        useType="interact"
        @input="getFeatures"
      />

      <div class="output">
        {{ drawnFeatures }}
      </div>
    </section>

    <section class="mapContainer">
      <p>
        Activated draw tool with existing geometry
      </p>

      <DipasMasterportal
        :src="masterportalSrcCreate"
        :geometryType="geometryType"
        :geodata="geodata"
        iframeTitle="Draw map with existing geometry"
        useType="interact"
        @input="getFeatures"
      />
    </section>

    <section class="mapContainer">
      <p>
        Single contribution (Polygon) im Verfahren Schulung
      </p>

      <DipasMasterportal
        :src="masterportalSrcSingleContribution"
        iframeTitle="Contribution map"
        contributionID="13493"
      />
    </section>

    <section class="mapContainer">
      <p>
        Appointment
      </p>

      <DipasMasterportal
        :src="masterportalSrcAppointment"
        iframeTitle="Appointment map"
      />
    </section>
  </DevDemoPageSection>
</template>
