<script>
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DipasPaginator from "@/components/DipasPaginator.vue";

export default {
  components: {
    DevDemoPageSection,
    DipasPaginator
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      currentPageFor4: 1,
      currentPageFor7: 1,
      currentPageFor15: 1
    };
  },
  methods: {
    clickHandler4 (value) {
      this.currentPageFor4 = value;
    },
    clickHandler7 (value) {
      this.currentPageFor7 = value;
    },
    clickHandler15 (value) {
      this.currentPageFor15 = value;
    }
  }
};
</script>

<template>
  <DevDemoPageSection
    class="DemoDipasPaginator"
    title="DipasPaginator"
  >
    <section class="inline">
      <div class="output">
        Aktuelle Seite: {{ currentPageFor4 }}
      </div>
      <DipasPaginator
        :maxPageNumber="4"
        @selectedPage="clickHandler4"
      />
      <div class="output">
        Aktuelle Seite: {{ currentPageFor7 }}
      </div>
      <DipasPaginator
        :maxPageNumber="7"
        @selectedPage="clickHandler7"
      />
      <div class="output">
        Aktuelle Seite: {{ currentPageFor15 }}
      </div>
      <DipasPaginator
        :maxPageNumber="15"
        @selectedPage="clickHandler15"
      />
    </section>
  </DevDemoPageSection>
</template>

<style lang="scss">
section.DipasPaginator {
  section.inline {
    display: flex;
    gap: 1em;
  }
}
</style>
