<script>
export default {
  props: {
    dates: {
      type: Array,
      required: true,
      default () {
        return [];
      },
      validator (val) {
        let isValid = true,
          requiredProperties = [
            {key: "date", type: "object"},
            {key: "yPos", type: "number"},
            {key: "active", type: "boolean"}
          ];

        val.forEach(elem => {
          if (!(elem instanceof Object)) {
            console.error("ScheduleTimeline: Each element of the dates property array has to be an object containing properties date, yPos and active");
            isValid = false;
          }
          else {
            /* eslint-disable array-callback-return */
            requiredProperties.map(property => {
              if (!elem.hasOwnProperty(property.key)) {
                console.error(`ScheduleTimeline: all date objects are required to feature a ${property.key} property!`);
                isValid = false;
              }
              else if (typeof elem[property.key] !== property.type) {
                console.error(`ScheduleTimeline: property ${property.key} of date objects must be of type ${property.type}!`);
                isValid = false;
              }
            });
          }
        });

        return isValid;
      }
    }
  },
  emits: ["setActive"],
  data () {
    return {
      yDotOffset: 13
    };
  },
  methods: {
    timelineHeight () {
      return {
        "--timelineHeight": (this.dates[this.dates.length - 1].yPos - this.dates[0].yPos) + "px"
      };
    },
    dateYPos (date) {
      return {
        "--yPos": (date.yPos + this.yDotOffset) + "px"
      };
    },
    setActive (index) {
      this.$emit("setActive", index);
    }
  }
};
</script>

<template>
  <div class="ScheduleTimeline">
    <div
      v-if="dates.length > 1"
      class="timeline"
      :style="timelineHeight()"
    />

    <div
      v-for="(date, index) in dates"
      :key="`date-${index}`"
      class="date"
      :class="{active: date.active}"
      :style="dateYPos(date)"
      v-on="
        !date.active ? {
          click: () => setActive(index),
          keyup: (event) => {
            // Handle enter key for enter and space key
            if (event.keyCode === 13 || event.keyCode === 32) {
              setActive(index)
            }
          }
        } : {}
      "
    >
      <a
        class="dot"
        :class="{active: date.active}"
        :aria-label="$dayjs(date.date).format('DD.MM.YYYY')"
        :tabindex="!date.active ? 0 : null"
        v-on="
          !date.active ? {
            click: () => setActive(index),
            keyup: (event) => {
              // Handle enter key for enter and space key
              if (event.keyCode === 13 || event.keyCode === 32) {
                setActive(index)
              }
            }
          } : {}
        "
      />

      <p
        class="date"
        aria-hidden="true"
      >
        <span class="day">
          {{ $dayjs(date.date).format("DD") }}
        </span>

        <span class="month">
          {{ $t("datetime.monthnames.3digit." + $dayjs(date.date).format("M")) }}
        </span>

        <span class="year">
          {{ $dayjs(date.date).format("YYYY") }}
        </span>
      </p>
    </div>
  </div>
</template>

<style lang="scss">
div.ScheduleTimeline {
  position: absolute;
  left: -130px;
  width: 100px;
  height: 300px;
  margin: 0;
  padding: 0;

  div.timeline {
    position: absolute;
    top: 1rem;
    right: -0.2rem;
    height: var(--timelineHeight);
    width: 0.375rem;
    background-color: $color_border;
  }

  div.date {
    position: absolute;
    right: 0;
    top: var(--yPos);
    width: fit-content;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &.active {
      cursor: default;
    }

    a.dot {
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      background-color: $color_primary_2;
      position: absolute;
      right: -0.5rem;
      top: 0.2rem;
      cursor: pointer;

      &.active {
        background-color: $color_blank;
        border: solid 0.45rem $color_primary_2;
        width: 1.4rem;
        height: 1.4rem;
        right: -0.7rem;
        top: -0.1rem;
        cursor: default;
      }

      &:focus-visible {
        outline: 0.1875rem solid $color_focus;
      }
    }

    p.date {
      position: absolute;
      right: 1rem;
      top: -0.6rem;
      text-align: center;

      span {
        display: block;

        &.day {
          @extend %fontdefinition_headline_1;
        }

        &.month {
          text-transform: uppercase;
        }

        &.month,
        &.year {
          @extend %fontdefinition_text;
        }
      }
    }
  }

  &.pastAppointments {
    div.date {
      a.dot {
        background-color: $color_font_disabled;

        &.active {
          width: 1rem;
          height: 1rem;
          right: -0.5rem;
          top: 0.2rem;
          background-color: $color_primary_1;
          border: none;
        }

        &:focus-visible {
          outline: 0.1875rem solid $color_focus;
        }
      }
    }
  }

  &.isMobile {
    div.date {
      p.date {
        top: -0.4rem;

        span {
          &.day {
            @extend %fontdefinition_headline_3;
          }

          &.month,
          &.year {
            @extend %fontdefinition_card;
          }
        }
      }
    }
  }
}
</style>
