<script>
import DipasCard from "@/components/DipasCard.vue";
import DipasCollapsible from "@/components/DipasCollapsible.vue";
import DipasCollapsibleItem from "@/components/DipasCollapsibleItem.vue";

export default {
  components: {
    DipasCard,
    DipasCollapsible,
    DipasCollapsibleItem
  },
  props: {
    appointment: {
      type: Object,
      required: true,
      default () {
        return {};
      }
    },
    active: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  emits: ["setActive"],
  computed: {
    appointmentHasGeolocation () {
      return this.appointment.lon && this.appointment.lat;
    }
  },
  methods: {
    setActive (event, showGeolocation = false) {
      this.$emit("setActive", showGeolocation);
    },
    showGeolocation (event) {
      this.setActive(event, this.appointmentHasGeolocation);
    }
  }
};
</script>

<template>
  <div class="ScheduleAppointment">
    <DipasCard
      :class="{isActiveAppointment: active}"
      :tabindex="!active ? 0 : null"
      v-on="
        !active ? {
          click: () => setActive(),
          keyup: (event) => {
            // Handle enter key
            if (event.keyCode === 13) {
              setActive()
            }
          }
        } : {}
      "
    >
      <template #headerLeft>
        {{ appointment.title }}
      </template>

      <div class="row appointmentdetails">
        <div class="col-5">
          <p class="date">
            <span class="icon icon-event_black_24dp" />

            {{ $dayjs(appointment.start).format($t("datetime.format_date")) }}

            <template v-if="appointment.end && $dayjs(appointment.start).format('DD.MM.YYYY') !== $dayjs(appointment.end).format('DD.MM.YYYY')">
              - {{ $dayjs(appointment.end).format($t("datetime.format_date")) }}
            </template>
          </p>

          <p class="time">
            <span class="icon icon-watch_later_black_24dp" />

            <template v-if="appointment.end">
              {{
                $t("datetime.timespan", {
                  from: $dayjs(appointment.start).format($t("datetime.format_time")),
                  until: $dayjs(appointment.end).format($t("datetime.format_time"))
                })
              }}
            </template>

            <template v-else>
              {{
                $t("datetime.time", {
                  from: $dayjs(appointment.start).format($t("datetime.format_time"))
                })
              }}
            </template>
          </p>
        </div>

        <div class="col-7">
          <p
            class="address"
            :class="{geolocated: appointmentHasGeolocation}"
            :tabindex="(!isDesktop && appointmentHasGeolocation) ? 0 : null"
            v-on="
              (!isDesktop && appointmentHasGeolocation) ? {
                click: () => showGeolocation(),
                keyup: (event) => {
                  // Handle enter key
                  if (event.keyCode === 13) {
                    showGeolocation()
                  }
                }
              } : {}
            "
          >
            <span class="icon icon-room_black_24dp" />

            <template v-if="appointment.organizer">
              {{ appointment.organizer }},
            </template>

            {{ appointment.street1 }},

            <template v-if="appointment.street2">
              {{ appointment.street2 }},
            </template>

            {{ appointment.zip }} {{ appointment.city }}

            <span
              v-if="!isDesktop && appointmentHasGeolocation"
              class="icon icon-right icon-layers_black_24dp"
            />
          </p>

          <p class="topic">
            <span class="icon icon-ads_click_black_24dp" />

            {{ appointment.topic }}
          </p>
        </div>
      </div>

      <DipasCollapsible renderAs="accordion">
        <DipasCollapsibleItem
          :title="$t('pages.Schedule.appointmentcard.cardtitle')"
          :active="active"
          :disabled="active"
          @collapsibleOpened="setActive"
        >
          <div
            v-if="appointment.description"
            v-html="appointment.description"
          />

          <div v-else>
            <p>{{ $t("pages.Schedule.appointmentWithoutDescription") }}</p>
          </div>
        </DipasCollapsibleItem>
      </DipasCollapsible>
    </DipasCard>
  </div>
</template>

<style lang="scss">
div.ScheduleAppointment {
  div.DipasCard:not(.isActiveAppointment) {
    cursor: pointer;

    &:focus-visible {
      outline: 0.1875rem solid $color_focus;
    }
  }

  div.appointmentdetails {
    p {
      width: fit-content;
      position: relative;
      margin: 0 0 0.5rem 1.5rem;
      @extend %fontdefinition_subline;

      span {
        &.icon {
          position: absolute;
          left: -1.5rem;

          &-right {
            left: auto;
            right: -1.2rem;
          }
        }
      }

      &.address:focus-visible {
        outline: 0.1875rem solid $color_focus;
      }
    }
  }

  div.DipasCollapsibleAccordion {
    div.DipasCollapsibleItemAccordion {
      border-bottom: none;

      button.accordionHeader.isActive {
        cursor: default;
      }

      div.bodyContainer {
        background-color: $color_blank;

        div.body {
          p {
            @extend %fontdefinition_card;
          }
        }
      }
    }
  }

  &:not(.isDesktop) {
    div.appointmentdetails {
      p.address.geolocated {
        cursor: pointer;
        color: $color_primary_2;
      }
    }
  }

  &.isMobile {
    div.appointmentdetails {
      & > div {
        flex: none;
        width: 100%;
      }
    }
  }
}
</style>
