<script>
import ScheduleAppointment from "@/pages/Schedule/components/ScheduleAppointment.vue";
import ScheduleTimeline from "@/pages/Schedule/components/ScheduleTimeline.vue";

export default {
  components: {
    ScheduleAppointment,
    ScheduleTimeline
  },
  props: {
    appointments: {
      type: Array,
      required: true,
      default () {
        return [];
      }
    },
    pastAppointments: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  emits: ["setActiveAppointment", "showGeolocation"],
  data () {
    return {
      activeAppointment: 0,
      dates: []
    };
  },
  watch: {
    appointments: {
      deep: true,
      handler () {
        this.$nextTick(() => this.updateDates());
      }
    }
  },
  mounted () {
    this.$nextTick(() => this.updateDates());
  },
  methods: {
    updateDates () {
      const dates = this.appointments.map(appointment => ({date: appointment.start})),
        yOffset = this.$refs.scheduleTable?.getBoundingClientRect().top ?? 0;

      dates.forEach((date, index) => {
        date.yPos = Math.round((this.$refs[`appointment-${index}`]?.[0]?.$el?.getBoundingClientRect().top ?? 0) - yOffset);
        date.active = this.activeAppointment === index;
      });

      this.dates = dates;
    },
    setActive (index, showGeolocation) {
      this.activeAppointment = index;
      this.$nextTick(() => this.updateDates());
      this.$emit("setActiveAppointment", this.appointments[index]);

      if (this.isDesktop || showGeolocation) {
        this.$emit("showGeolocation");
      }

      this.$nextTick(() => this.$refs[`appointment-${index}`][0].$el.scrollIntoView());
    }
  }
};
</script>

<template>
  <div
    ref="scheduleTable"
    class="ScheduleTable"
  >
    <ScheduleTimeline
      :class="{pastAppointments}"
      :dates="dates"
      @setActive="setActive($event, false)"
    />

    <ScheduleAppointment
      v-for="(appointment, index) in appointments"
      :ref="`appointment-${index}`"
      :key="`appointment-${index}`"
      :appointment="appointment"
      :active="activeAppointment === index"
      @setActive="setActive(index, $event)"
    />

    <div
      v-if="!appointments.length"
      class="noAppointments"
    >
      <p>{{ $t("pages.Schedule.noAppointmentsAvailable." + (pastAppointments ? "past" : "currentAndUpcoming")) }}</p>
    </div>
  </div>
</template>

<style lang="scss">
div.ScheduleTable {
  position: relative;


  &:not(.isDesktop) {
    div.ScheduleTimeline {
      width: 60px;
      right: auto;
      left: 0;
    }

    div.ScheduleAppointment {
      margin-left: 90px;
    }
  }

  &.isMobile {
    div.ScheduleTimeline {
      left: -0.5rem;
    }

    div.ScheduleAppointment {
      margin-left: 75px;
    }
  }
}
</style>
