<script>
export default {};
</script>

<template>
  <div class="DemoDataText1">
    <p>
      <strong>Etiam eget augue nec sapien faucibus lacinia.</strong> Fusce quis ante vel elit rhoncus congue. Sed fringilla, libero nec tempor auctor, turpis felis vehicula libero, a rhoncus eros libero ac justo. <strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Nulla facilisi.
    </p>

    <p>
      Nulla facilisi. Curabitur at justo vitae massa condimentum bibendum. Etiam et purus a urna aliquet eleifend. Vivamus nec ante et ligula tristique iaculis. Quisque vehicula justo eget augue congue, vel euismod lectus interdum.
    </p>

    <p>
      <em>Sed aliquam venenatis risus, id vulputate justo feugiat non.</em>
    </p>
  </div>
</template>

<style lang="scss">
div.DemoDataText1 {
}
</style>
