<script>
export default {};
</script>

<template>
  <div class="DemoDataText2">
    <p>
      Aenean tristique, sapien at egestas ullamcorper, dolor turpis congue enim, id hendrerit nisi quam non metus. Sed tincidunt tristique sapien, eu tincidunt libero dapibus id.
    </p>

    <p>
      Fusce quis ante vel elit rhoncus congue. Sed fringilla, libero nec tempor auctor, turpis felis vehicula libero, a rhoncus eros libero ac justo.
    </p>
  </div>
</template>

<style lang="scss">
div.DemoDataText2 {
}
</style>
