<script>
import DipasRadioGroup from "@/components/DipasRadioGroup.vue";
import StatisticsPieChart from "./StatisticsPieChart.vue";
import StatisticsTable from "./StatisticsTable.vue";

export default {
  components: {
    DipasRadioGroup,
    StatisticsPieChart,
    StatisticsTable
  },
  props: {
    chartData: {
      type: Object,
      default () {
        return {};
      },
      required: true
    },
    tableData: {
      type: Object,
      default () {
        return {};
      },
      required: true
    },
    textAlternative: {
      type: String,
      default: "",
      required: true
    },
    tableHeader: {
      type: Array,
      default () {
        return [];
      },
      required: false
    },
    useChips: {
      type: Boolean,
      default: false,
      required: false
    },
    useIcon: {
      type: Boolean,
      default: false,
      required: false
    },
    iconToUse: {
      type: String,
      default: "",
      required: false
    },
    useTableSectionHeaders: {
      type: Boolean,
      default: false,
      required: false
    },
    interactive: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  emits: ["handleEmittedData", "switchViewSetting"],
  data () {
    return {
      displayType: "chart",
      options: [
        {
          value: "chart",
          label: this.$t("pages.Statistics.chartTableSelection.chartSelectorLabel")
        },
        {
          value: "table",
          label: this.$t("pages.Statistics.chartTableSelection.tableSelectorLabel")
        },
      ]
    };
  },
  methods: {
    handleEmittedData (data) {
      this.$emit("handleEmittedData", data);
    },
    trackViewSetting (type) {
      this.$emit("switchViewSetting", type);
    }
  }
};
</script>

<template>
  <div
    class="StatisticsChartTableView"
    aria-live="polite"
  >
    <DipasRadioGroup
      v-model="displayType"
      class="radioGroup"
      fieldLabel=""
      :options="options"
      :optionsInline="true"
      @click="trackViewSetting"
    />

    <StatisticsPieChart
      v-if="displayType === 'chart'"
      class="pieChart"
      :chartData="chartData"
      :textAlternative="textAlternative"
      :interactive="interactive"
      @handleEmittedData="handleEmittedData"
    />

    <StatisticsTable
      v-if="displayType === 'table'"
      :tableData="tableData"
      :useChips="useChips"
      :tableHeader="tableHeader"
      :useTableSectionHeaders="useTableSectionHeaders"
      :iconToUse="iconToUse"
      :useIcon="useIcon"
      :interactive="interactive"
      @handleEmittedData="handleEmittedData"
    />
  </div>
</template>

<style lang="scss">
  div.StatisticsChartTableView {
    fieldset.radioGroup {
      margin-left: 1rem;
    }

    div.pieChart {
      margin: 1rem;
    }
  }
</style>
