<script>
import DipasTextChip from "@/components/DipasTextChip.vue";

export default {
  components: {
    DipasTextChip
  },
  props: {
    tableData: {
      type: Object,
      default () {
        return {};
      },
      required: true
    },
    tableHeader: {
      type: Array,
      default () {
        return [];
      },
      required: false
    },
    useChips: {
      type: Boolean,
      default: false,
      required: false
    },
    useIcon: {
      type: Boolean,
      default: false,
      required: false
    },
    iconToUse: {
      type: String,
      default: "",
      required: false
    },
    useTableSectionHeaders: {
      type: Boolean,
      default: false,
      required: false
    },
    interactive: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  emits: ["handleEmittedData", "rowclick"],
  methods: {
    tableRowClickhandler (rowdata) {
      this.$emit("rowclick", rowdata);

      if (rowdata.link) {
        this.$router.push(rowdata.link);
      }
      else if (rowdata.data !== "tableSectionHeader") {
        this.$emit("handleEmittedData", rowdata);
      }
    }
  }
};
</script>

<template>
  <section class="StatisticsTable">
    <table>
      <thead v-if="tableHeader.length">
        <tr>
          <th
            v-for="header in tableHeader"
            :key="header"
          >
            {{ header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          v-for="(data, index) in tableData"
          :key="'row-' + index"
          :tabindex="interactive ? 0 : null"
          :role="data.link || data.emit ? 'button' : null"
          :class="{
            'evenRow': tableHeader.length
              ? (index + 1) % 2 === 0
              : index % 2 === 0,
            'hasLink': data.link || data.emit && data.data
          }"
          v-on="
            interactive ? {
              click: () => tableRowClickhandler(data),
              keyup: (event) => {
                // Handle enter key
                if (event.keyCode === 13) {
                  tableRowClickhandler(data)
                }
              }
            } : {}
          "
        >
          <td class="label">
            <DipasTextChip
              v-if="useChips"
              :backgroundColor="data.color"
              :chipText="data.label"
              :tooltipTitle="data.label"
              :tooltipText="data.description ? data.description : undefined"
              :tooltipTextIsHTML="true"
            />

            <span
              v-else
              :class="{
                'tableSectionHeader': useTableSectionHeaders && data.data === 'tableSectionHeader',
                'tableSubsection': useTableSectionHeaders && data.data !== 'tableSectionHeader'
              }"
            >
              {{ data.label }}
            </span>
          </td>

          <td class="number">
            {{ data.data !== "tableSectionHeader" ? data.data : "" }}

            <span
              v-if="useIcon && data.data !== 'tableSectionHeader'"
              class="icon"
              :class="iconToUse"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<style lang="scss">

section.StatisticsTable {
  table {
    margin-top: 1rem;
    width: 100%;

    thead {
      tr {
        background-color: $color-form;
        height: 2rem;

        th {
          padding: 0 1rem;
          @extend %fontdefinition_subline;

          &:last-child {
             text-align: end;
          }
        }
      }
    }

    tbody {
      tr {
        height: 3.188rem;

        &.evenRow {
          background-color: $color-form;
        }

        &.hasLink {
          cursor: pointer;

          &:hover {
            background-color: $color_table_header;
          }
        }

        &.hasLink:focus {
          outline: 0.1875rem solid $color_focus;
        }

        td {
          padding: 0 1rem;
          max-width: 10rem;
          overflow-wrap: break-word;

          &.number {
            text-align: end;
          }

          span.tableSectionHeader {
            font-weight: bold;
            cursor: default;
          }

          span.tableSubsection  {
            padding-left: 1rem;
            display: block;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}
</style>
