<script>
import Chart from "chart.js/auto";
import StatisticsColorsMixin from "./StatisticsColors.mixin.js";

export default {
  mixins: [StatisticsColorsMixin],
  props: {
    chartData: {
      type: Object,
      default () {
        return {};
      },
      required: true
    },
    textAlternative: {
      type: String,
      default: "",
      required: true
    },
    interactive: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  emits: ["handleEmittedData"],
  data () {
    // do not put this inside the return-statement (https://stackoverflow.com/a/68606394)
    this.drawnChart = null;

    return {
      chartOptions: {
        type: "pie",
        options: {
          maintainAspectRatio: false,
          responsive: true,
          plugins: {
            legend: {
              display: true,
              position: "bottom",
              align: "start",
              title: {
                padding: {
                  top: 50,
                },
                position: "start",
                text: this.$t("pages.Statistics.chartLegendTitle"),
                display: true,
                font: {
                  weight: 700
                }
              }
            },
            tooltip: {
              enabled: true
            }
          }
        }
      }
    };
  },
  computed: {
    formattedChartData () {
      const borderColors = this.chartData.colors.map(() => {
          return "#FFFFFF";
        }),
        borderWidth = this.chartData.colors.map(() => {
          return "1";
        });

      return {
        labels: this.chartData.labels,
        datasets: [{
          backgroundColor: this.chartData.colors,
          data: this.chartData.data,
          borderColor: borderColors,
          borderAlign: "inner",
          borderWidth: borderWidth
        }]
      };
    }
  },
  watch: {
    formattedChartData: {
      deep: true,
      handler () {
        this.initChart();
      }
    }
  },
  mounted () {
    this.initChart();
  },
  methods: {
    initChart () {
      if (this.chartData?.data.length && this.$refs.chart) {
        if (this.drawnChart) {
          this.drawnChart.data = this.formattedChartData;
          this.drawnChart.update("none");
        }
        else {
          this.drawnChart = new Chart(
            this.$refs.chart.getContext("2d"),
            JSON.parse(JSON.stringify({...this.chartOptions, ...{data: this.formattedChartData}}))
          );

          if (this.interactive) {
            this.$refs.chart.onclick = (e) => {
              const chartIndex = this.drawnChart.getElementsAtEventForMode(e, "index", {intersect: true}, true)[0]?.index,
                selectedData = JSON.parse(JSON.stringify(this.formattedChartData));

              selectedData.datasets[0].borderColor[chartIndex] = this.chartSelectionColor;
              selectedData.datasets[0].borderWidth[chartIndex] = "4";
              this.drawnChart.data = selectedData;
              this.drawnChart.update("none");

              this.$emit("handleEmittedData", this.chartData.labels[chartIndex]);
            };
          }
        }
        this.drawnChart.canvas.parentNode.style.height = (this.chartData.data.length * 20 + 300) + "px";
      }
    }
  }
};
</script>

<template>
  <div>
    <div class="canvasContainer">
      <canvas
        ref="chart"
        :alt="textAlternative"
        :aria-label="textAlternative"
        tabindex="-1"
      >
        {{ textAlternative }}
      </canvas>
    </div>
  </div>
</template>
