<script>
import DipasStatusPill from "@/components/DipasStatusPill.vue";
import DipasInfoButton from "@/components/DipasInfoButton.vue";

export default {
  components: {
    DipasStatusPill,
    DipasInfoButton
  },
  props: {
    proceedingName: {
      type: String,
      required: true,
    },
    proceedingActive: {
      type: [Boolean, Number],
      required: true,
      default: false
    },
    pageTitle: {
      type: String,
      required: false,
      default: ""
    },
    pageSubtitle: {
      type: String,
      required: false,
      default: ""
    },
    showInfoButton: {
      type: Boolean,
      required: false,
      default: false
    },
    infoButtonText: {
      type: String,
      required: false,
      default: ""
    }
  },
};
</script>

<template>
  <div class="ContentTitleSection">
    <div class="proceedingTitle">
      <span class="title">
        {{ proceedingName }}
      </span>

      <DipasStatusPill :proceedingActive="proceedingActive" />
    </div>

    <div class="infoContainer">
      <div>
        <div class="titleRow">
          <h1 class="pageTitle">
            {{ pageTitle }}
          </h1>

          <DipasInfoButton
            v-if="showInfoButton"
            :tooltipText="infoButtonText"
            :tooltipTitle="pageTitle"
          />
        </div>

        <h2
          v-if="pageSubtitle !== ''"
          class="pageSubtitle"
        >
          {{ pageSubtitle }}
        </h2>
      </div>

      <template v-if="$slots.headerRightAction">
        <slot name="headerRightAction" />
      </template>
    </div>
  </div>
</template>

<style lang="scss">
div.ContentTitleSection {
  width: 100%;

  div.proceedingTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0 0.25rem 0;

    span.title {
      @extend %fontdefinition_headline_4;
      margin-bottom: 0;
    }
  }

  div.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;

    div.titleRow {
      display: flex;
      flex-direction: row;

      h1.pageTitle {
        @extend %fontdefinition_headline_1;
        line-height: initial;
        margin: 0;
      }

      div.DipasInfoButton {
        & > button.icon {
          font-size: 1.5rem;
          margin: 0.25rem;
        }
      }
    }

    h2.pageSubtitle {
      margin: 0.25rem 0 0 0;
      @extend %fontdefinition_headline_1_mobile;
      line-height: initial;
    }

    button.DipasButton {
      @extend %fontdefinition_headline_1;
    }
  }

  &.isMobile {
    div.proceedingTitle {
      margin-top: 16px;

      span.title {
        @extend %fontdefinition_headline_3_mobile;
        line-height: initial;
      }
    }

    div.infoContainer {
      margin-bottom: 0.75rem;

      h1.pageTitle {
        @extend %fontdefinition_headline_1_mobile;
        line-height: initial;
        margin: 0 0 4px 0;
      }

      h2.pageSubtitle {
        @extend %fontdefinition_headline_3_mobile;
        line-height: initial;
      }
    }
  }
}
</style>
