<script>
import HomePageWelcome from "@/pages/HomePage/components/HomePageWelcome.vue";
import HomePageInfoPage from "@/pages/HomePage/components/HomePageInfoPage.vue";

export default {
  components: {
    HomePageWelcome,
    HomePageInfoPage
  },
  beforeRouteUpdate (to) {
    // This router "navigation guard" method is only called when switching between "/" and "/#projectinfo"
    // and scrolls the site to the project info section automatically.
    if (to.fullPath === "/#projectinfo") {
      this.scrollToProjectInfo();
    }
  },
  data () {
    return {
      // Sets the HTML page title
      htmlPageTitle: this.$t("pages.HomePage.htmlPageTitle"),
    };
  },
  computed: {
    hasProjectInfopage () {
      return this.$store.getters["proceeding/hasProjectInfopage"];
    }
  },
  methods: {
    // This method is used here, but also called from the nested components
    // HomePageInfoPage and HomePageWelcome, see $parent.scrollToProjectInfo().
    scrollToProjectInfo () {
      // $nextTick() does not work here, the workaround it to use a setTimeout of 0 to execute the scrollIntoView.
      window.setTimeout(() => this.$refs.infoPage.$el.scrollIntoView());
    }
  }
};
</script>

<template>
  <main class="HomePage">
    <div
      class="componentInnerContainer"
      :class="{hasProjectInfopage}"
    >
      <HomePageWelcome />

      <HomePageInfoPage
        v-if="hasProjectInfopage"
        ref="infoPage"
      />
    </div>
  </main>
</template>

<style lang="scss">
main.HomePage {
  div.componentInnerContainer {
    flex: 1;

    &:not(.hasProjectInfopage) {
      display: flex;
      flex-direction: column;
    }

    section.HomePageInfoPage.isLandscape:not(.isDesktop) {
      margin-top: 10rem;
    }
  }
}
</style>
