/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./materialicons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

form.dipasconfiguration fieldset:not(.multiValueRow) > div {
  display: flex;
  flex-direction: column;
}

form.dipasconfiguration fieldset:not(.multiValueRow) > div > div.description {
  order: -1;
}

form.dipasconfiguration select.materialicons {
  width: 70px;
  margin-right: 10px;
  line-height: 20px;
  position: relative;
  top: 5px;
}

form.dipasconfiguration select.materialicons,
form.dipasconfiguration select.materialicons option {
  font-family: 'Material Icons';
  font-size: 20px;
  line-height: 20px;
}

form.dipasconfiguration div.endpointname {
  width: 180px;
}

form.dipasconfiguration .item-inline {
  display: inline-block;
}

form.dipasconfiguration .inline-fieldset {
  border: none 0 transparent;
  padding: 0;
}

form.dipasconfiguration .inline-fieldset legend {
  position: unset;
}

form.dipasconfiguration .inline-fieldset .fieldset-wrapper {
  display: block;
}

form.dipasconfiguration ul.vertical-tabs__menu li.error a {
  background-color: rgba(255, 0, 0, .2);
  border-left: solid 2px red;
  border-top: solid 2px red;
  border-bottom: solid 2px red;
  color: red;
}

form.dipasconfiguration ul.vertical-tabs__menu li.error.is-selected a {
  background-color: white;
}
