<article{{ attributes }}>
  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content }}

    <p>
      Story-URL:

      <a
        href="{{ story_url }}"
        target="_blank"
        style="text-decoration: none;"
      >
        {{ story_url }}
      </a>

      <a
        href="javascript:(async () => { try { await navigator.clipboard.writeText('{{ story_url }}'); } catch (err) { alert('Could not copy to clipboard'); }})()"
        title="Copy to clipboard"
        style="text-decoration: none;"
      >
        (&#x1F4CB; Copy URL to Clipboard)
      </a>
    </p>

    {{ story_iframe }}
  </div>
</article>
