<script>
/**
 * DEV ONLY toolbar - Hidden on the production environment automatically
 */
export default {
  computed: {
    isDev () {
      return import.meta.env.DEV;
    },
  }
};
</script>

<template>
  <div
    v-if="isDev"
    class="DevToolbar"
  >
    <strong>{{ activeBootstrapBreakpoint }}</strong>

    <span>&raquo;</span>

    <span v-if="isMobile">isMobile</span>
    <span v-if="isTablet">isTablet</span>
    <span v-if="isDesktop">isDesktop</span>
  </div>
</template>

<style lang="scss">
div.DevToolbar {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #eeeecc;
  padding: 0.3125rem 0.625rem;
  border-top-right-radius: 0.3125rem;
  z-index: 2;

  strong,
  span {
    font-size: 0.75rem;
  }
}
</style>
