<script>
export default {
  props: {
    buttonId: {
      type: [String, Number],
      required: false,
      default: undefined,
    },
    label: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: false,
      default (props) {
        return props.label;
      },
    },
    disabledTitle: {
      type: String,
      required: false,
      default (props) {
        return props.title;
      },
    },
    icon: {
      type: String,
      required: false,
      default: "",
    },
    iconOnly: {
      type: Boolean,
      required: false,
      default: false,
    },
    iconAfterText: {
      type: Boolean,
      required: false,
      default: false,
    },
    iconColor: {
      type: String,
      required: false,
      default: undefined
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    inline: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: ["click"],
  computed: {
    cssVars () {
      const customStyles = {};

      if (this.iconColor) {
        customStyles["--iconColor"] = this.iconColor;
      }

      return customStyles;
    }
  }
};
</script>

<template>
  <button
    :title="!disabled ? title : disabledTitle"
    :disabled="disabled"
    class="DipasButton"
    :class="{
      'onlyIconLabel': !label.length && icon.length,
      'secondary inline': inline,
      'iconColorForced': iconColor
    }"
    :style="cssVars"
    tabindex="0"
    @click.prevent="$emit('click', buttonId)"
  >
    <span
      v-if="icon && !iconAfterText"
      :class="['icon', 'icon-' + icon]"
    />

    <!-- a11y for screen reader - For icon only buttons, add hidden title or disabled title. -->
    <span
      v-if="label.length"
      class="dps-button__text"
      :class="{'visually-hidden': iconOnly}"
    >
      {{ label }}
    </span>

    <span
      v-if="icon && iconAfterText"
      :class="['icon', 'icon-right', 'icon-' + icon]"
    />
  </button>
</template>

<style lang="scss">
button.DipasButton {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: $color_primary_2;
  border-width: 0;
  border-radius: $border_radius;
  box-shadow: $box_shadow;
  @extend %fontdefinition_button;
  padding: 0.625rem 1rem;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  white-space: nowrap;

  span {
    display: inline-block;

    &.dps-button__text {
      @extend %fontdefinition_button;
    }

    &.dps-button__text,
    &.icon {
      color: $text_contrast_color_primary2;
    }
  }

  &:hover {
    background-color: $color_button_primary_hover;
  }

  &:focus-visible:not(:active):not(:target) {
    outline: 0.1875rem solid $color_focus;
  }

  &:disabled {
    background-color: $color_button_disabled;
    box-shadow: none;

    span {
      &.dps-button__text,
      &.icon {
        color: $color_font_disabled;
      }
    }
  }

  &.onlyIconLabel {
    span.icon {
      margin: 0;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $color_primary_1;
    box-shadow: none;

    span {
      &.dps-button__text,
      &.icon {
        color: $color_primary_1;
      }
    }

    &:hover {
      span.dps-button__text {
        text-decoration: underline $color_primary_1 solid;
      }
    }

    &:focus-visible:not(:active):not(:target) {
      outline: 0.1875rem solid $color_focus;
    }

    &:disabled {
      span {
        &.dps-button__text,
        &.icon {
          color: $color_font_disabled;
        }
      }

      &:hover {
        span.dps-button__text {
          text-decoration: none;
        }
      }
    }
  }

  &.inline {
    padding: 0 0.25rem;

    .dps-button__text {
      @extend %fontdefinition_subline;
      line-height: initial;
    }

    span.icon {
      border-radius: 50%;
      background-color: $color_table_header;
      padding: 0.125rem 0.4375rem;
      display: inline-block;
      color: $color_primary_1;
    }

    &:hover {
      span.icon {
        background-color: $color_button_disabled;
      }
    }
  }

  &.isMobile,
  &.isTablet {
    padding: 0.5rem;

    span {
      &.dps-button__text {
        @extend %fontdefinition_button_mobile;
      }

      &.dps-button__text,
      &.icon {
        color: $text_contrast_color_primary2;
      }
    }

    &.secondary {
      span {
        &.dps-button__text,
        &.icon {
          color: $color_primary_1;
        }
      }

      &:hover {
        span.dps-button__text {
          text-decoration: underline $color_primary_1 solid;
        }
      }

      &:focus-visible:not(:active):not(:target) {
        outline: 0.1875rem solid $color_focus;
      }

      &:disabled {
        span {
          &.dps-button__text,
          &.icon {
            color: $color_font_disabled;
          }
        }

        &:hover {
          span.dps-button__text {
            text-decoration: none;
          }
        }
      }
    }

    &.inline {
      padding: 0;

      span {
        &.dps-button__text {
          @extend %fontdefinition_subline;
        }
      }
    }
  }

  &.iconColorForced {
    span {
      &.icon {
        color: var(--iconColor);
      }
    }
  }
}
</style>
