<script>
export default {
  props: {
    proceedingActive: {
      type: [Boolean, Number],
      required: true,
      default: false
    },
  },
  computed: {
    chipText () {
      return this.$t(this.proceedingActive ? "statusPill.active" : "statusPill.completed");
    }
  }
};
</script>

<template>
  <span
    class="DipasStatusPill"
    :class="{active: proceedingActive}"
  >
    {{ chipText }}
  </span>
</template>

<style lang="scss">
span.DipasStatusPill {
  @extend %fontdefinition_button_mobile;
  line-height: initial;
  border-radius: 0.75rem;
  padding: 0 0.5rem;
  border: solid 1px $color_state_completed_border;
  background-color: $color_state_completed;
  color: $color_state_completed_border;

  &.active {
    border: solid 1px $color_state_active_border;
    background-color: $color_state_active;
    color: $color_state_active_border;
  }

  &.isMobile {
    @extend %fontdefinition_subline;
    line-height: initial;
  }
}
</style>
