<script>
import DipasButton from "./DipasButton.vue";

export default {
  components: {
    DipasButton
  },
  props: {
    buttons: {
      type: Array,
      default: function () {
        return [];
      },
      required: true,
    },
    selected: {
      type: String,
      required: false,
      default: ""
    }
  },
  computed: {
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  methods: {
    toggleClick (button) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Sidebar Toggle', button.label]);
      }

      button.callback();
    }
  }
};
</script>

<template>
  <div class="DipasSidebarToggle">
    <DipasButton
      v-for="button in buttons"
      :key="button"
      :class="{secondary: selected === button.id}"
      :label="button.label"
      :icon="button.icon"
      :title="button.title ?? null"
      :disabled="button.disabled ?? false"
      :disabledTitle="button.disabledTitle ?? null"
      :iconOnly="true"
      @click="toggleClick(button)"
    />
  </div>
</template>

<style lang="scss">
div.DipasSidebarToggle {
  display: inline-flex;
  flex-direction: row;
  overflow: hidden;
  gap: 1px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $white;

  button.DipasButton {
    padding: 0 0.5rem;
    border-radius: 0;
    display: inline-flex;
    align-items: center;
    border: 0.1875rem solid transparent;

    span.icon {
      font-size: 1.25rem;
      padding: 0;
      margin: 1px 0;
    }

    &.secondary {
      span.icon {
        color: $color_primary_2;
      }
    }

    &:focus {
      border: 0.1875rem solid $color_focus;
      outline: 0;
    }
  }

  &.fixed {
    position: fixed;
    z-index: 99999;
    right: 2rem;
    top: 50%;
    flex-direction: column;
  }

  &.bootstrap-xs,
  &.bootstrap-sm,
  &.bootstrap-md,
  &.bootstrap-lg {
    &.fixed {
      flex-direction: row;
      top: initial;
      bottom: 1rem;
      right: 1rem;
    }

    button.DipasButton {
      padding: 0.125rem 0.375rem;

      span.icon {
        margin: 0;
        line-height: initial;
      }
    }
  }
}
</style>
