<script>
export default {
  props: {
    itemContent: {
      type: [String, Number],
      required: true,
      default: ""
    },
    itemLabel: {
      type: String,
      required: true,
      default: ""
    },
    pageNumberToEmit: {
      type: Number,
      required: false,
      default: -1
    },
    isActivePage: {
      type: Boolean,
      required: false,
      default: false
    },
    isClickable: {
      // not shown as "disabled" but not clickable (e.g. the "...")
      type: Boolean,
      required: false,
      default: true
    },
    isDisabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  emits: ["pageNumber"],
  methods: {
    clickPage () {
      if (this.isClickable && !this.isDisabled) {
        this.$emit("pageNumber", this.pageNumberToEmit);
      }
    }
  }
};
</script>

<template>
  <li
    class="page-item DipasPaginatorItem"
    :class="{disabled: isDisabled, active: isActivePage, nopointer: !isClickable }"
    @click.prevent="clickPage"
  >
    <a
      class="page-link"
      :aria-label="itemLabel"
      href="#"
    >
      {{ itemContent }}
    </a>
  </li>
</template>

<style lang="scss">
li.DipasPaginatorItem {
  &.active {
    background-color: $color_primary_1;

    &.page-item {
      a.page-link {
        color: $text_contrast_color_primary1;
      }
    }
  }

  &.nopointer {
    a.page-link {
      cursor: default;
      background-color: $white;
    }
  }

  &.page-item {
    cursor: pointer;

    a.page-link {
      color: $color_primary_1;

      &:focus {
        border: 0.125rem solid $color-focus;
        box-shadow: none;
        outline: none;
      }

      &.unclickable {
        cursor: default;
      }
    }

    &.firstLastElement {
      a.page-link {
         color: $color_primary_2;
         font-weight: bold;
      }

       &.disabled, &.nopointer {
        a.page-link {
          background-color: $color_button_disabled;
          color: $white;
        }
      }
    }

    &.forwardBackwardElement {
      a.page-link {
         background-color: $color_primary_2;
         color: $text_contrast_color_primary2;
         font-weight: bold;
      }

      &.disabled, &.nopointer {
        a.page-link {
          background-color: $color_button_disabled;
        }
      }
    }

    &.disabled, &.nopointer {
      cursor: auto;

      a.page-link {
        color: $white;
      }
    }

    &.isDesktop {
      &:hover {
        background-color: $color_hover;
      }
    }

    &.isMobile,
    &.isTablet {
       a.page-link {
         @extend %fontdefinition_text_mobile
       }
    }
  }
}
</style>
