<script>
import {defineAsyncComponent} from "vue";

export default {
  model: {
    prop: "checked"
  },
  props: {
    groupName: {
      type: String,
      required: false,
      default: "radio-group"
    },
    checked: {
      type: [String, Number, Boolean],
      required: false,
      default: undefined
    },
    value: {
      type: [String, Number, Boolean],
      required: true,
      default: undefined
    },
    label: {
      type: String,
      required: true,
      default: "Missing label!"
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    inputComponent: {
      type: String,
      required: false,
      default: undefined
    },
    componentProperties: {
      type: Object,
      required: false,
      default: undefined
    }
  },
  emits: ["update:checked", "click"],
  data () {
    return {
      uniqueId: this.$generateUUID()
    };
  },
  computed: {
    internalValue: {
      get () {
        return this.checked;
      },
      set (val) {
        this.$emit("update:checked", val);
      }
    },
    labelComponent () {
      // INTENTIONALLY USE OF "././" IN IMPORT PATH - DO NOT REMOVE!
      return this.inputComponent
        ? defineAsyncComponent(() => import(`././${this.inputComponent}.vue`))
        : null;
    }
  }
};
</script>

<template>
  <div class="DipasRadio radio-wrapper form-check">
    <input
      :id="uniqueId"
      v-model="internalValue"
      type="radio"
      :value="value"
      :disabled="disabled"
      :name="groupName"
      class="form-check-input"
      @click="$emit('click', value)"
      @keyup.enter="$emit('click', value)"
    >

    <label
      class="form-check-label"
      :for="uniqueId"
    >
      <component
        :is="labelComponent"
        v-if="inputComponent"
        v-bind="componentProperties"
      />

      <span v-else>
        {{ label }}
      </span>
    </label>
  </div>
</template>

<style lang="scss">
div.DipasRadio {
  &.radio-wrapper.form-check {
    display: inline-flex;
    align-items: center;

    input {
      border: solid 1px $color_primary_1;
      width: 1.25rem;
      height: 1.25rem;

      &:before {
        border: solid 1px $color_primary_1;
      }

      &:disabled {
        background-color: $color_border;
        border: none;
      }

      &.form-check-input:checked {
        background-color: $color_primary_2;
        border: none;
      }

      &.form-check-input:focus {
        border-color: $color_primary_1;
        outline: 0;
        box-shadow: 0 0 0 0.188rem $color_focus;
      }
    }

    label {
      position: relative;
      top: 2px;
      text-align: center;

      & > span {
        @extend %fontdefinition_interaction;
        color: $color_font;
        line-height: initial;
      }
    }

    input.form-check-input:focus + label > span{
      color: $color_focus;
    }

    &.bootstrap-xs,
    &.bootstrap-sm,
    &.bootstrap-md {
      input {
        width: 1rem;
        height: 1rem;
      }

      label {
        & > span {
          @extend %fontdefinition_button_mobile;
          color: $color_font;
          line-height: initial;
        }
      }

      input:focus + label > span{
        color: $color_focus;
      }
    }
  }
}
</style>
