<script>
export default {
  props: {
    isCollapsible: {
      type: Boolean,
      require: false,
      default: false,
    },
    noPadding: {
      type: Boolean,
      required: false,
      default: false,
    },
    headerRightContainsActions: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data () {
    return {
      showMainCard: true,
    };
  },
};
</script>

<template>
  <div
    class="DipasCard"
    :class="{
      'headerRightContainsActions': headerRightContainsActions,
      'isCollapsible': isCollapsible
    }"
  >
    <template v-if="isCollapsible">
      <button
        class="header"
        @click="showMainCard = !showMainCard"
        @keyup.enter="showMainCard = !showMainCard"
      >
        <span
          class="icon icon-chevron_right_black_24dp"
          :class="{closed: !showMainCard}"
        />

        <template v-if="$slots.headerLeft">
          <slot name="headerLeft" />
        </template>
      </button>
    </template>

    <div
      v-if="showMainCard"
      class="mainCard"
    >
      <template v-if="($slots.headerLeft || $slots.headerRight) && !isCollapsible">
        <div class="header">
          <template v-if="$slots.headerLeft">
            <div class="headerLeft">
              <slot name="headerLeft" />
            </div>
          </template>

          <template v-if="$slots.headerRight">
            <div class="headerRight">
              <slot name="headerRight" />
            </div>
          </template>
        </div>
      </template>

      <div
        class="inner"
        :class="{'noPadding': noPadding}"
      >
        <slot />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
div.DipasCard {
  margin: 0 0 1rem 0;

  button.header {
    display: flex;
    width: 100%;
    align-items: center;
    @extend %fontdefinition_button_mobile;
    line-height: initial;
    background-color: $color_primary_1;
    color: $text_contrast_color_primary1;
    padding: 0.6875rem 3.375rem 0.625rem 0.5rem;
    cursor: pointer;
    user-select: none;
    border: none;
    margin: 0 0 1rem 0;

    span.icon {
      color: $white;
      margin: 0 0.5rem 0 0.25rem;
      transform: rotate(90deg);

      &.closed {
        transform: rotate(0);
      }
    }

    &:focus-visible {
      outline: 0.1875rem solid $color_focus;
    }
  }

  div.mainCard {
    border: solid 0.0625rem $color_border;
    border-radius: $border_radius;
    box-shadow: $box_shadow;

    div.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color_hover;
      padding: 0.875rem 1rem 0.8125rem 1rem;
      border-radius: $border_radius $border_radius 0 0;
      line-height: initial;

      div.headerLeft {
        color: $color_font;
        @extend %fontdefinition_headline_4;
        line-height: initial;
      }

      div.headerRight {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }

    &.headerRightContainsActions {
      div.header {
        padding-right: 0.75rem;
      }
    }

    &:not(.headerRightContainsActions) {
      div.headerRight {
        color: $color_font;
        @extend %fontdefinition_subline_2;
        line-height: initial;
        text-align: right;
      }
    }

    div.inner {
      margin: 0.5rem 1rem;

      div.content {
        white-space: break-spaces;
        word-break: break-word;
      }

      &.noPadding {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &.isCollapsible {
    div.mainCard {
      margin: 0 0.8125rem 0 0.875rem;
    }
  }
}
</style>
