<script>
import VueMultiselect from "vue-multiselect";

export default {
  components: {
    VueMultiselect
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: null,
    },
    /**
     * The placeholder of the select, if no data is selected.
     */
    optionPlaceholder: {
      type: String,
      required: true,
    },
    /**
     * The dropdown options
     *
     * Name and Id field names can be altered by the attributes
     * - optionFieldLabel
     * - optionFieldId
     *
     * :options="[
     *   {
     *     id: 'option-1',
     *     name: 'Option 1',
     *   },
     *   {
     *     id: 'option-2',
     *     name: 'Option 2',
     *   },
     * ]"
     */
    options: {
      type: Array,
      required: true,
    },
    /**
     * Field name to access the id inside the options array.
     */
    optionFieldId: {
      type: String,
      required: false,
      default: "value",
    },
    /**
     * Field name to access the label inside the options array.
     */
    optionFieldLabel: {
      type: String,
      required: false,
      default: "label",
    },
    /**
     * Part of the VueMultiselect API
     */
    optionsLimit: {
      type: Number,
      required: false,
      default: undefined
    },
    /**
     * Part of the VueMultiselect API
     */
    maxHeight: {
      type: Number,
      required: false,
      default: undefined
    },
    /**
     * Part of the VueMultiselect API
     */
    openDirection: {
      type: String,
      required: false,
      default: "",
      validator (val) {
        if (!["above", "top", "below", "bottom"].indexOf(val)) {
          console.error("Opening direction options may only be one of above/top/below/bottom for DipasSelects!");
          return false;
        }

        return true;
      }
    },
    /**
     * If not set, the DipasSelect acts as a single select field.
     */
    isMultiselect: {
      type: Boolean,
      required: false,
      default: false,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: [
    "update:modelValue",
    "update"
  ],
  methods: {
    updateSelected (selected) {
      this.$emit("update:modelValue", selected);
    }
  }
};
</script>

<template>
  <div
    class="DipasSelect"
    :class="{isMultiselect}"
  >
    <VueMultiselect
      :modelValue="modelValue"
      :options="options"
      :closeOnSelect="true"
      :clearOnSelect="false"
      :searchable="false"
      :optionsLimit="optionsLimit"
      :multiple="isMultiselect"
      :trackBy="optionFieldId"
      :label="optionFieldLabel"
      :preselectFirst="false"
      :placeholder="optionPlaceholder"
      deselectLabel=""
      selectLabel=""
      selectedLabel=""
      :maxHeight="maxHeight"
      :openDirection="openDirection"
      :disabled="disabled"
      @update:model-value="updateSelected"
      @select="$emit('update', $event.value)"
    >
      <template
        v-if="isMultiselect"
        #selection="properties"
      >
        <template v-if="properties.values.length">
          <span
            v-for="(value, index) in properties.values"
            :key="value[optionFieldId]"
            class="multiselect__single"
          >
            {{ index !== properties.values.length - 1 ? `${value[optionFieldLabel]}, ` : value[optionFieldLabel] }}
          </span>
        </template>
      </template>
      <template #option="properties">
        <span>{{ properties.option[optionFieldLabel] }}</span>
      </template>
    </VueMultiselect>
  </div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.css"></style>

<style lang="scss">
div.DipasSelect {
  div.multiselect {
    border-radius: $border_radius;

    div.multiselect__tags {
      border: solid 0.0625rem $color_border;
      background-color: $color_form;
      padding: 0.5625rem 0.5rem 0.5rem 0.875rem;

      span.multiselect__placeholder,
      span.multiselect__single {
        background-color: transparent;
        color: $color_primary_1;
        @extend %fontdefinition_button;
        line-height: initial;
        padding: 0;
        margin: 0;
        display: inline;
      }

      span.multiselect__placeholder {
        color: $color_font_placeholder;
      }

      &:hover {
        background-color: $color_table_header;
      }
    }

    div.multiselect__content-wrapper {
      border: solid 0.0625rem $color_border;
      border-radius: $border_radius;
      margin: 0.5rem 0 0 0;

      ul {
        list-style: none;
        padding: 0;

        /** The selected option */
        span.multiselect__option--selected {
          background-color: $color_form;
        }

        /** The hovered option */
        span.multiselect__option--highlight {
          background-color: $color_table_header;
        }
      }
    }

    &.multiselect--active {
      outline: 0.1875rem solid $color_focus;
    }
  }

  &.bootstrap-xs,
  &.bootstrap-sm,
  &.bootstrap-md {
    div.multiselect {
      div.multiselect__tags {
        span.multiselect__placeholder,
        span.multiselect__single {
          @extend %fontdefinition_button_mobile;
          color: $color_primary_1;
        }
      }
    }
  }
}
</style>
