<script>
import DipasButton from "./DipasButton.vue";

/**
 * The global Modal Element.
 * @displayName ModalEelement
 */
export default {
  components: {
    DipasButton
  },
  props: {
    heading: {
      type: String,
      required: false,
      default: undefined
    },
    title: {
      type: String,
      required: false,
      default: undefined
    },
    displayTitle: {
      type: Boolean,
      required: false,
      default: true
    },
    iconClose: {
      type: Boolean,
      required: false,
      default: true
    },
    useFooter: {
      type: Boolean,
      required: false,
      default: true
    },
    isTooltip: {
      type: Boolean,
      required: false,
      default: false
    },
    role: {
      type: String,
      required: false,
      default: undefined
    },
    focusOnClose: {
      type: Object,
      required: false,
      default () {
        return null;
      }
    }
  },
  emits: ["closeModal", "pressedTabOnCloseX"],
  data () {
    return {
      zoom: ""
    };
  },
  computed: {
    bootstrapBreakpoint () {
      return this.activeBootstrapBreakpoint;
    },
  },
  mounted () {
    this.updatePixelRatio();
    this.$refs.content.focus();

    const focusableElements = "button, [href], input, select, textarea, [tabindex]:not([tabindex='-1'])",
      modal = this.$refs.content,
      firstFocusableElement = modal.querySelectorAll(focusableElements)[0],
      focusableContent = modal.querySelectorAll(focusableElements),
      lastFocusableElement = focusableContent[focusableContent.length - 1];

    document.addEventListener("keydown", function (e) {
      const isTabPressed = e.key === "Tab" || e.code === 9;

      if (!isTabPressed) {
        return;
      }

      if (e.shiftKey) {
        if (document.activeElement === firstFocusableElement) {
          lastFocusableElement.focus();
          e.preventDefault();
        }
      }
      else if (document.activeElement === lastFocusableElement) {
        firstFocusableElement.focus();
        e.preventDefault();
      }
    });

    // eslint-disable-next-line consistent-this
    const self = this;

    // Click on modal background closes it.
    document.addEventListener("click", (e) => {
      if (e.target === self.$refs.modalBackground) {
        self.closeModal();
      }
    });
  },
  methods: {
    /**
     * Close the Modal element
     * @event closeModal
     * @returns {void}
     */
    closeModal () {
      const pixelRatio = window.devicePixelRatio,
        mediaQuery = window.matchMedia(`(resolution: ${pixelRatio}dppx)`);

      mediaQuery.removeEventListener("change", this.updatePixelRatio);
      this.focusOnClose?.focus();

      /**
       * Close the modal
       */
      this.$emit("closeModal");
    },
    updatePixelRatio () {
      const pixelRatio = window.devicePixelRatio,
        isMobile = ["xs", "sm", "md"].indexOf(this.activeBootstrapBreakpoint) > -1;

      switch (true) {
        case !isMobile && pixelRatio >= 1.25 && pixelRatio < 1.50:
          this.zoom = "zoom125";
          break;
        case !isMobile && pixelRatio >= 1.50 && pixelRatio < 1.75:
          this.zoom = "zoom150";
          break;
        case !isMobile && pixelRatio >= 1.75 && pixelRatio < 2:
          this.zoom = "zoom175";
          break;
        case !isMobile && pixelRatio >= 2:
          this.zoom = "zoom200";
          break;
        default:
          this.zoom = "";
      }

      matchMedia(`(resolution: ${pixelRatio}dppx)`).addEventListener("change", this.updatePixelRatio, {once: true});
    }
  }
};
</script>

<template>
  <div
    class="DipasModal"
    :class="[
      'bootstrap-' + bootstrapBreakpoint,
      role ? `role-${role}` : null
    ]"
  >
    <div
      ref="content"
      class="modalContent"
      :class="zoom"
      role="dialog"
      tabindex="0"
      :aria-label="title ? `${title} ${$t('DipasModal.label')}` : `${heading} ${$t('DipasModal.label')}`"
      @keyup.esc="closeModal"
    >
      <div class="closeButtonWithHeading">
        <h3 v-if="heading">
          {{ heading }}
        </h3>

        <DipasButton
          v-if="iconClose"
          ref="dipasModalCloseIcon"
          :iconOnly="true"
          :label="$t('DipasButton.close')"
          class="closeModalTop secondary icon"
          icon="close_black_24dp"
          @click="closeModal"
          @keydown.tab="$emit('pressedTabOnCloseX', $event)"
        />
      </div>

      <h2
        v-if="title && displayTitle"
        class="modalTitle"
      >
        {{ title }}
      </h2>

      <slot name="header" />

      <slot />

      <div
        v-if="useFooter"
        class="modalFooter"
      >
        <slot name="footer">
          <DipasButton
            class="closeModalFooter"
            :label="$t('DipasButton.close')"
            title="Tooltip schliessen"
            @click="closeModal"
          />
        </slot>
      </div>
    </div>

    <div
      ref="modalBackground"
      class="modalBackground"
      tabindex="0"
      @keyup.esc="closeModal"
    />
  </div>
</template>

<style lang="scss">
div.DipasModal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;

  div {
    &.modalContent {
      position: relative;
      background-color: $white;
      border: none 0 transparent;
      width: fit-content;
      height: fit-content;
      max-height: calc(100vh - 3.125rem);
      overflow-x: auto;
      overflow-y: auto;
      z-index: 1001;
      box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem $black;
      padding: 64px 32px;
      text-align: left;

      h2.modalTitle {
        margin-bottom: 16px;
      }

      div.closeButtonWithHeading {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;

        & > button:only-child {
          margin-left: auto;
          padding: 0.5rem;
        }

        h3 {
          padding-top: 1rem;
          padding-left: 2rem;
        }
      }

      button.DipasButton.closeModal {
        &Top {
          span.icon {
            font-size: 1.5rem;
          }
        }

        &Footer {
          margin: 0.5rem 0;
        }
      }

      div.modalFooter {
        background-color: $color_table_header;
        border-top: 0.125rem solid $color_border;
        height: 4.563rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        width: calc(100% + 64px);
        margin: 32px -32px -64px -32px;

        & button:only-child {
          margin-left: auto;
        }
      }

      &:focus-visible {
        outline-color: $color_focus;
      }

      &.zoom {
        &125 {
          zoom: 0.9;
        }

        &150 {
          zoom: 0.8;
        }

        &175 {
          zoom: 0.7;
        }

        &200 {
          zoom: 0.65;
        }
      }
    }

    &.modalBackground {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $black;
      opacity: 0.5;
      pointer-events: all;
      z-index: 1000;
    }
  }

  &.noPadding {
    div.modalContent {
      padding: 0;

      h2.modalTitle {
        margin: 64px 32px 16px 32px;
      }

      div.modalFooter {
        margin: 0;
        width: 100%;
      }
    }
  }

  &.role- {
    &info {
      div.modalContent {
        max-width: 70vw;
      }
    }
  }

  &.bootstrap-xs,
  &.bootstrap-sm,
  &.bootstrap-md {
    div.modalContent {
      width: fit-content;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }
}
</style>
