<script>
export default {
  props: {
    links: {
      type: Array,
      required: true,
      validator (value) {
        // Intentionally no return for valid- elements
        // eslint-disable-next-line consistent-return
        value.forEach(link => {
          if (
            !link.hasOwnProperty("endpoint") ||
            !link.hasOwnProperty("linktext") ||
            !link.endpoint.length ||
            !link.linktext.length
          ) {
            console.error("DipasNavigation component was fed with faulty link definitions!");
            return false;
          }
        });

        return true;
      }
    }
  },
  computed: {
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  methods: {
    menuLinkActive (linkHref) {
      const link = linkHref.split("#").shift(),
        currentRoute = this.$route.fullPath.split("#").shift().substring(1);

      if (
        link === "contributions" &&
        (
          this.$route.fullPath === this.$router.resolve({name: "route_ContributionsMap"}).fullPath ||
          this.$route.fullPath === this.$router.resolve({name: "route_ContributionsList"}).fullPath
        )
      ) {
        return true;
      }

      if (link === "projectinfo" && this.$route.fullPath === "/#projectinfo") {
        return true;
      }

      return link === currentRoute;
    },
    navigationLinkClick (link) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Menu', link.endpoint]);
      }
    }
  }
};
</script>

<template>
  <nav class="DipasNavigation">
    <ul>
      <li
        v-for="link in links"
        :key="link.endpoint"
      >
        <router-link
          v-if="!link.url"
          :to="'/' + link.endpoint"
          :class="{linkActive: menuLinkActive(link.endpoint)}"
          :aria-label="link.linktext"
          @click="navigationLinkClick(link)"
        >
          <span class="linkText">
            {{ link.linktext }}
          </span>

          <span class="activeIndicator" />
        </router-link>

        <a
          v-else
          :href="link.url"
          target="_blank"
          :aria-label="link.linktext"
        >
          <span class="linkText">
            {{ link.linktext }}
          </span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<style lang="scss">
nav.DipasNavigation {
  margin: 0 0 0.6875rem 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;

    li {
      display: inline-block;

      a {
        display: inline-block;
        text-decoration: none;
        margin-bottom: -0.6875rem;

        span {
          display: block;
          color: $color_font;

          &.linkText {
            @extend %fontdefinition_navigation;
            text-decoration: none;
            margin-bottom: 0.6875rem;
          }

          &.activeIndicator {
            display: none;
            width: 100%;
            height: 0.1875rem;
            left: 0;
            bottom: 0;
          }
        }

        &:focus-visible:not(:active) {
          outline: 0.1875rem solid $color_focus;
          outline-offset: 0.5rem;
        }

        &:hover,
        &.linkActive {
          margin-bottom: -0.6875rem;

          span {
            &.linkText {
              margin-bottom: 0.5rem;
            }

            &.activeIndicator {
              display: block;
            }
          }
        }

        &:hover:not(.linkActive) {
          span.activeIndicator {
            background-color: $color_inactive_nav_element_hover_color_underline;
          }
        }

        &.linkActive {
          span.activeIndicator {
            background-color: $color_primary_2;
          }
        }
      }

      &:not(:last-of-type) {
        margin-right: 2.875rem;
      }
    }
  }

  &.footerDipasNavigation {
    ul {
      li {
        a {
          span {
            color: $white;
          }

          &:active,
          &:focus:not(.linkActive) {
            outline: 0.1875rem solid $color_focus;
          }

          &:hover,
          &.linkActive {
            span.activeIndicator {
              background-color: $white;
            }
          }
        }
      }
    }
  }

  &.isMobile,
  &.isTablet {
    ul {
      li {
        display: block;
        margin: 0;
        float: none;

        a {
          display: block;
          margin: 0;
          padding: 0.75rem 2rem;
          border-bottom: solid 0.0625rem $color_border;

          span {
            margin-bottom: 0;

            &.activeIndicator {
              display: none;
            }
          }

          &:active,
          &:focus:not(.linkActive) {
            margin: 0;
            padding: 0.75rem 2rem;
          }

          &:hover,
          &.linkActive {
            margin-bottom: 0;
            background-color: $color_primary_1;

            span {
              margin-bottom: 0;

              &.linkText {
                color: $white;
              }
            }
          }

          &:focus-visible:not(:active) {
            outline-offset: 0;
          }
        }

        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }

    &.footerDipasNavigation {
      ul {
        li {
          a {
            span.linkText {
              @extend %fontdefinition_navigation_mobile;
            }
          }
        }
      }
    }
  }
}

footer {
  nav.DipasNavigation {
    ul {
      li {
        a {
          span {
            &.linkText {
              color: $white;
            }

            &.activeIndicator {
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
</style>
