<script>
import DipasCheckbox from "./DipasCheckbox.vue";

export default {
  components: {
    DipasCheckbox,
  },
  props: {
    fieldLabel: {
      type: String,
      required: true,
      default: ""
    },
    fieldLabelHidden: {
      type: Boolean,
      required: false,
      default: true
    },
    options: {
      type: Array,
      required: true,
      default () {
        return [];
      },
    },
    modelValue: {
      type: Array,
      default () {
        return [];
      },
    },
    optionValue: {
      type: String,
      required: false,
      default: "value"
    },
    optionLabel: {
      type: String,
      required: false,
      default: "label"
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:modelValue"],
  data () {
    return {
      internalValue: []
    };
  },
  watch: {
    internalValue: {
      deep: true,
      handler (val) {
        this.$emit("update:modelValue", Array.isArray(val) ? val.filter(item => item) : []);
      }
    }
  },
  beforeMount () {
    this.setInternalValue(this.modelValue);
  },
  methods: {
    setInternalValue (value) {
      let valueToSet = Array.isArray(value) ? value.filter(item => item) : [];

      valueToSet.forEach((elem) => {
        this.internalValue[this.options.findIndex(option => option[this.optionValue] === elem)] = elem;
      });
    }
  }
};
</script>

<template>
  <fieldset class="DipasCheckboxGroup">
    <legend :class="{'visually-hidden': fieldLabelHidden}">
      {{ fieldLabel }}
    </legend>

    <DipasCheckbox
      v-for="(option, index) in options"
      :key="'option-' + index"
      v-model="internalValue[index]"
      :label="option[optionLabel]"
      :inputValue="option[optionValue]"
      :disabled="disabled"
    />
  </fieldset>
</template>
