<script>
import {Offcanvas} from "bootstrap";

export default {
  data () {
    return {
      offcanvasComponent: null,
      panelComponentName: null
    };
  },
  mounted () {
    this.$refs.sidebarRef.addEventListener("hide.bs.offcanvas", () => {
      this.offcanvasComponent = null;
      this.panelComponentName = null;
    });
  },
  methods: {
    toggleDipasSidebar (panelComponentName) {
      // Toggle component, if same component is selected already
      if (
        this.offcanvasComponent &&
        this.panelComponentName === panelComponentName
      ) {
        this.offcanvasComponent.hide();

        return;
      }

      this.panelComponentName = panelComponentName;

      if (!this.offcanvasComponent) {
        this.offcanvasComponent = new Offcanvas(this.$refs.sidebarRef);
        this.offcanvasComponent.show();
      }
    },
    currentDipasSidebarPanel () {
      return this.panelComponentName;
    },
  }
};
</script>

<template>
  <!-- a11y: Add a corresponding ID for ":aria-labelledby" to each DipasSidebarPanelPanelName.vue (First H2 only!) -->
  <div
    ref="sidebarRef"
    class="DipasSidebar offcanvas offcanvas-end"
    :class="{
      isDesktop,
      isTablet,
      isMobile
    }"
    tabindex="-1"
    :aria-labelledby="`ariaLabelledBy${currentDipasSidebarPanel()}`"
    aria-live="polite"
  >
    <div class="offcanvas-header">
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        :aria-label="$t('DipasButton.close')"
      />
    </div>

    <div class="offcanvas-body">
      <slot
        name="sidebarBody"
        :panelComponentName="panelComponentName"
      />
    </div>

    <div id="teleportTargetOpenedDipasSidebar" />
  </div>
</template>

<style lang="scss">
div.DipasSidebar {
  display: flex;
  flex-direction: column;
  --bs-offcanvas-padding-x: 2rem;

  div.offcanvas-header {
    button.btn-close {
      padding-left: 0;
      padding-right: 0;
    }
  }

  div.offcanvas-body {
    flex: 1;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &.bootstrap-md,
  &.bootstrap-lg,
  &.bootstrap-xl,
  &.bootstrap-xxl {
    div.offcanvas-end {
      width: 35%;
    }
  }

  &.bootstrap-xs,
  &.bootstrap-sm {
    div.offcanvas-end {
      width: 100%;
    }
  }

  &.isDesktop {
    --bs-offcanvas-width: 33%;

    div.offcanvas-body {
      padding-top: 2rem;
      padding-right: 5rem;
    }
  }

  &.isTablet {
    --bs-offcanvas-width: 65%;

    div.offcanvas-body {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
  }

  &.isMobile {
    --bs-offcanvas-width: 100%;;

    div.offcanvas-body {
      padding-bottom: 4rem;
    }
  }
}
</style>
