<script>
export default {
  props: {
    label: {
      type: [String, Boolean],
      required: false,
      default: false,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    tooltipTitle: {
      type: String,
      required: true,
      default: undefined
    },
    tooltipText: {
      type: String,
      required: true,
      default: undefined
    },
    tooltipTextIsHTML: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      displayTooltip: false
    };
  },
  methods: {
    showTooltip (event) {
      this.displayTooltip = true;
      event.preventDefault();
      event.stopPropagation();
    },
    catchClick (event) {
      event.preventDefault();
      event.stopPropagation();
    }
  }
};
</script>

<template>
  <div
    class="DipasInfoButton"
    @click="catchClick"
    @keyup.enter="catchClick"
  >
    <button
      class="icon icon-info_black_24dp"
      :disabled="disabled"
      @click="showTooltip"
      @keyup.enter="showTooltip"
    >
      <span class="visually-hidden">
        {{ label ? label : $t("DipasInfoButton.label") }}
      </span>
    </button>

    <DipasModal
      v-if="displayTooltip"
      :iconClose="!isDesktop"
      :useFooter="true"
      :title="tooltipTitle"
      :isTooltip="true"
      role="info"
      @closeModal="displayTooltip = false"
    >
      <template v-if="!tooltipTextIsHTML">
        <p>
          {{ tooltipText }}
        </p>
      </template>

      <template v-else>
        <div v-html="tooltipText" />
      </template>
    </DipasModal>
  </div>
</template>

<style lang="scss">
div.DipasInfoButton {
  &.light {
    color: $white;
  }

  button.icon {
    border-radius: 0.813rem;
    padding: 0;
    border: 0.3rem solid transparent;
    outline: 0;
    font-size: 1rem;
    background: none;

    &:hover {
      color: $color_border;
    }

    &:focus {
      border: 0.3rem solid $color_focus;
      border-radius: 0.813rem;
    }

    &:disabled {
      color: $color_button_disabled;
    }
  }

  &.bootstrap-xs,
  &.bootstrap-sm,
  &.bootstrap-md {
    .modalContent {
      div.modalTitle {
        margin: 1rem 1rem 0 1rem;
      }
    }
  }
}
</style>
