<script>
export default {
  inject: [
    "providedRenderAs",
    "providedTabRegister",
    "providedTabSelected",
    "providedAccordionSelected",
    "providedAccordionRegister",
  ],
  props: {
    title: {
      type: String,
      required: true,
    },
    active: {
      type: Boolean,
      required: false,
      default: false,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: [
    "collapsibleOpened"
  ],
  data () {
    return {
      isActive: false,
      microTime: Date.now(),
      uuid: this.$generateUUID()
    };
  },
  watch: {
    active () {
      this.isActive = this.active;
    },
  },
  created () {
    this.providedAccordionRegister(this);
    this.providedTabRegister(this.title, this.active);

    if (this.active) {
      this.isActive = true;
      this.providedAccordionSelected(this, true, true);
    }
  },
  methods: {
    onAccordionToggle (value) {
      if (value !== this.isActive) {
        this.isActive = value;
        this.providedAccordionSelected(this, this.isActive);

        this.$emit("collapsibleOpened", this.isActive);
      }
    },
    collapsibleId (postfix) {
      return `collapsibleId_${this.uuid}_${postfix}`;
    },
  },
};
</script>


<template>
  <div class="DipasCollapsibleItem">
    <!-- Render "tabs" -->
    <template v-if="providedRenderAs === 'tabs'">
      <div
        v-if="providedTabSelected === title"
        class="DipasCollapsibleItemTabs"
      >
        <slot />
      </div>
    </template>

    <!-- Render "accordion" -->
    <template v-if="providedRenderAs === 'accordion'">
      <div class="DipasCollapsibleItemAccordion">
        <button
          :id="collapsibleId('aria-labelledby')"
          class="accordionHeader"
          :class="{
            'isActive': isActive,
          }"
          :aria-expanded="isActive"
          :aria-controls="collapsibleId('aria-controls')"
          :disabled="disabled"
          @click.stop="onAccordionToggle(!isActive)"
        >
          <span class="icon icon-chevron_right_black_24dp" />

          {{ title }}
        </button>

        <div class="bodyContainer">
          <div
            v-if="isActive"
            :id="collapsibleId('aria-controls')"
            class="body"
            role="region"
            :aria-labelledby="collapsibleId('aria-labelledby')"
          >
            <slot />
          </div>
        </div>
      </div>
    </template>

    <!-- Render "transparent" -->
    <template v-if="providedRenderAs === 'transparent'">
      <div class="DipasCollapsibleItemTransparent">
        <slot />
      </div>
    </template>
  </div>
</template>

<style lang="scss">
div.DipasCollapsibleItem {
  div.DipasCollapsibleItemTabs {
  }

  div.DipasCollapsibleItemAccordion {
    border-bottom: solid 0.0625rem $color_border;

    button.accordionHeader {
      display: flex;
      width: 100%;
      @extend %fontdefinition_button_mobile;
      line-height: initial;
      background-color: $color_form;
      color: $color_primary_1;
      padding: 0.9375rem 3.375rem 0.9375rem 0.5rem;
      cursor: pointer;
      user-select: none;
      border: none;
      text-align: left;

      span.icon {
        margin: 0 0.25rem;
        color: $color_primary_1;
      }

      &:hover {
        background-color: $color_hover;
      }

      &.isActive {
        background-color: $color_primary_1;
        color: $text_contrast_color_primary1;

        span.icon {
          color: $text_contrast_color_primary1;
          margin: 0 0.5rem 0 0.25rem;
          transform: rotate(90deg);
        }
      }

      &:focus-visible {
        outline: 0.1875rem solid $color_focus;
      }
    }

    /* Container required in order to get a clean outline on focus for tab navigation */
    div.bodyContainer {
      border-top: solid 0.0625rem $color_border;

      div.body {
        margin-top: 1rem;

        img {
          max-width: 100%;
        }
      }
    }

    &:last-child {
      div.bodyContainer {
        border-top: none;
      }

      &:focus-visible {
        border-bottom: none;
      }
    }
  }

  div.DipasCollapsibleItemTransparent {
  }
}
</style>
