<script>
export default {
  props: {
    modelValue: {
      type: [String, Number, Boolean],
      required: false,
      default: false
    },
    inputValue: {
      type: [String, Number, Boolean],
      required: false,
      default: true
    },
    returnValueWhenUnchecked: {
      type: [String, Number, Boolean],
      required: false,
      default: null
    },
    label: {
      type: String,
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:modelValue"],
  data () {
    return {
      uniqueId: this.$generateUUID()
    };
  },
  computed: {
    internalValue: {
      get () {
        return this.inputValue === this.modelValue;
      },
      set (val) {
        this.$emit("update:modelValue", val ? this.inputValue : this.returnValueWhenUnchecked);
      },
    },
  },
  beforeMount () {
    this.internalValue = this.inputValue === this.modelValue;
  }
};
</script>

<template>
  <div class="DipasCheckbox">
    <input
      :id="uniqueId"
      v-model="internalValue"
      :value="inputValue"
      type="checkbox"
      :disabled="disabled"
    />

    <label :for="uniqueId">
      {{ label }}
    </label>
  </div>
</template>

<style lang="scss">
div.DipasCheckbox {
  & > input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    accent-color: $color_primary_2;
    width: 1.25rem;
    height: 1.25rem;

    &:focus {
      outline: 0.125rem solid $color_focus;
    }

    &:disabled {
      background-color: $color_border;
      border-color: $color_button_disabled;
      box-shadow: none;

      + label {
        color: $color_font_disabled;
      }
    }
  }

  & > label {
    @extend %fontdefinition_interaction;
    padding-left: 0.5rem;
    height: 1.313rem;
    vertical-align: middle;
  }

  & > input[type="checkbox"]:focus + label {
    color: $color_focus;
  }

  &.isMobile,
  &.isTablet {
    & > input {
      @extend %fontdefinition_button_mobile;
      color: $color_font;
      width: 1rem;
      height: 1rem;
    }

    & > label {
      @extend %fontdefinition_button_mobile;
      color: $color_font;
      height: 1.188rem;
    }

    & > input:focus + label {
      color: $color_focus;
    }
  }
}
</style>
