<script>
export default {
  props: {
    images: {
      type: Array,
      required: true,
      default () {
        return [];
      },
      validator (val) {
        const requiredProperties = ["src", "derivates"],
          requiredDerivates = ["small", "large"];
        let propValid = true;

        val.forEach(elem => {
          if (!(elem instanceof Object)) {
            console.error("DipasImageGallery: all image definitions must be of type object!");
            propValid = false;
          }
          else {
            requiredProperties.forEach(prop => {
              if (!elem.hasOwnProperty(prop)) {
                console.error("DipasImageGallery: all image definitions must feature a " + prop + " property!");
                propValid = false;
              }
            });

            if (elem.hasOwnProperty("derivates")) {
              requiredDerivates.forEach(derivate => {
                if (!elem.derivates.hasOwnProperty(derivate)) {
                  console.error("DipasImageGallery: all image definitions must feature a " + derivate + " derivative src!");
                  propValid = false;
                }
              });
            }
          }
        });

        return propValid;
      }
    }
  },
  data () {
    return {
      showImageGalleryModal: false,
      displayedGalleryImage: 0
    };
  },
  methods: {
    showGalleryImage (index) {
      this.displayedGalleryImage = index;
      this.showImageGalleryModal = true;
    },
    showImage (offset) {
      this.displayedGalleryImage += offset;

      if (this.displayedGalleryImage > this.images.length - 1) {
        this.displayedGalleryImage = 0;
      }

      if (this.displayedGalleryImage < 0) {
        this.displayedGalleryImage = this.images.length - 1;
      }
    }
  }
};
</script>

<template>
  <div
    class="DipasImageGallery"
    :class="{
      'singleImage': images.length === 1,
      'multiImage': images.length > 1
    }"
  >
    <a
      class="imageContainer"
      :style="{'--imageurl': 'url(' + images[0].derivates.large + ')'}"
      :title="$t('imageGallery.imagePreviewLinkLabel', {imagealt: images[0].alt})"
      :aria-label="$t('imageGallery.imagePreviewLinkLabel', {imagealt: images[0].alt})"
      tabindex="0"
      @keyup.enter="showGalleryImage(0)"
      @click="showGalleryImage(0)"
    >
      <span class="icon icon-zoom_in_black_24dp" />
    </a>

    <div
      v-if="images.length > 1"
      class="imageColumn"
    >
      <a
        v-for="(image, index) in images.slice(1, 4)"
        :key="`image-${index}`"
        :style="{'--imageurl': 'url(' + image.derivates.small + ')'}"
        :title="$t('imageGallery.imagePreviewLinkLabel', {imagealt: image.alt})"
        :aria-label="$t('imageGallery.imagePreviewLinkLabel', {imagealt: image.alt})"
        tabindex="0"
        class="imageContainer"
        @keyup.enter="showGalleryImage(index + 1)"
        @click="showGalleryImage(index + 1)"
      >
        <span
          v-if="images.length <= 4 || index < 2"
          class="icon icon-zoom_in_black_24dp"
        />

        <div
          v-if="images.length > 4 && index === 2"
          class="shader"
        >
          <div class="background" />

          <p>+{{ images.length - 3 }}</p>
        </div>
      </a>
    </div>

    <DipasModal
      v-if="showImageGalleryModal"
      class="imageGalleryModal"
      :title="$t('imageGallery.imageModal.title')"
      :displayTitle="false"
      :useFooter="false"
      aria-live="polite"
      @keyup.left="showImage(-1)"
      @keyup.right="showImage(1)"
      @closeModal="showImageGalleryModal = false"
    >
      <div class="galleryImage">
        <img
          :src="images[displayedGalleryImage].src"
          :alt="images[displayedGalleryImage].alt"
        />

        <a
          v-if="images.length > 1"
          class="pager previous icon icon-chevron_right_black_24dp"
          tabindex="0"
          :aria-label="$t('imageGallery.imageModal.pagerLinks.prevImage')"
          @keyup.left="showImage(-1)"
          @click="showImage(-1)"
        />

        <a
          v-if="images.length > 1"
          class="pager next icon icon-chevron_right_black_24dp"
          tabindex="0"
          :aria-label="$t('imageGallery.imageModal.pagerLinks.nextImage')"
          @keyup.left="showImage(1)"
          @click="showImage(1)"
        />
      </div>

      <p class="imagesubline">
        <span
          v-if="images.length > 1"
          class="imageCounter"
        >
          Bild {{ displayedGalleryImage + 1 }} von {{ images.length }}<template v-if="images[displayedGalleryImage].caption">:</template>&nbsp;
        </span>

        <span
          v-if="images[displayedGalleryImage].caption"
          class="caption"
        >
          {{ images[displayedGalleryImage].caption }}
        </span>

        <span
          v-if="images[displayedGalleryImage].copyright"
          class="copyright"
        >
          &copy; {{ images[displayedGalleryImage].copyright }}
        </span>
      </p>
    </DipasModal>
  </div>
</template>

<style lang="scss">
div.DipasImageGallery {
  height: fit-content;

  a.imageContainer {
    display: block;
    position: relative;
    background-image: var(--imageurl);
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-top: 75%; // image format 4:3
    cursor: pointer;

    span.icon {
      display: block;
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      line-height: 1.5rem;
      background-color: $color_primary_1;
      border-radius: 1rem;
      color: $color_blank;
      z-index: 10;
    }

    div.shader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;

      div.background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        z-index: 1;
      }

      p {
        @extend %fontdefinition_headline_1;
        position: relative;
        z-index: 10;
        top: 50%;
        line-height: 0;
        padding: 0;
        margin: 0;
        display: block;
      }
    }
  }

  &.multiImage {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;

    & > a.imageContainer {
      width: 75%;
      padding-top: 56.25%;
    }

    div.imageColumn {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      & > a.imageContainer {
        flex: 1;
        max-height: 33%;
      }
    }
  }

  div.DipasModal.imageGalleryModal {
    div.modalContent {
      overflow-x: hidden;

      div.galleryImage {
        position: relative;

        img {
          max-height: 70vh;
          max-width: 70vw;
        }

        a.pager {
          position: absolute;
          top: 0;
          display: flex;
          opacity: 0;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 50%;
          text-decoration: none;
          font-size: 20rem;
          padding: 0;
          margin: 0;
          line-height: 0;
          cursor: pointer;

          &.previous {
            left: 0;
            transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          }

          &.next {
            right: 0;
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            opacity: 0.5;
          }
        }
      }

      p.imagesubline {
        margin: 0.5rem 0 0 0;

        span {
          @extend %fontdefinition_card;

          &.imageCounter {
            white-space: unset;
          }

          &.copyright {
            float: right;
          }
        }
      }
    }
  }

  &.isTablet {
    padding-bottom: 1rem;

    div.DipasModal.imageGalleryModal {
      div.modalContent {
        div.galleryImage {
          img {
            max-height: 90vh;
            max-width: 90vw;
          }
        }
      }
    }
  }

  &.isMobile {
    padding-bottom: 1rem;

    div.DipasModal.imageGalleryModal {
      div.modalContent {
        width: 99vw;
        height: 99vh;
        max-width: 100%;
        display: flex;
        justify-content: center;

        div.galleryImage {
          img {
            max-height: 100%;
            max-width: 100%;
          }
        }

        p.imagesubline {
          span {
            display: block;
            text-align: left;
            float: none;
          }
        }
      }
    }
  }
}
</style>
