<script>
import DipasInfoButton from "./DipasInfoButton.vue";

export default {
  components: {
    DipasInfoButton
  },
  props: {
    backgroundColor: {
      type: String,
      required: false,
      default: null
    },
    chipText: {
      type: String,
      required: true
    },
    tooltipTitle: {
      type: String,
      required: false,
      default: undefined
    },
    tooltipText: {
      type: String,
      required: false,
      default: undefined
    },
    tooltipTextIsHTML: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    cssVars () {
      return {
        "--backgroundColor": this.backgroundColor,
        "--borderColor": this.backgroundColor
      };
    },
    hasColorEdge () {
      return Boolean(this.backgroundColor);
    }
  }
};
</script>

<template>
  <div
    class="DipasTextChip"
    :class="tooltipTitle && tooltipText ? 'hasTooltip' : ''"
    :style="cssVars"
  >
    <span
      v-if="hasColorEdge"
      class="colorEdge"
    />

    <span
      :class="{
        'chipText': true,
        'hasColorEdge': hasColorEdge,
      }"
      :title="chipText"
    >
      {{ chipText }}
    </span>

    <DipasInfoButton
      v-if="tooltipTitle && tooltipText"
      :tooltipTitle="tooltipTitle"
      :tooltipText="tooltipText"
      :tooltipTextIsHTML="tooltipTextIsHTML"
    />
  </div>
</template>

<style lang="scss">
div.DipasTextChip {
  background-color: $color_blank;
  border-radius: 1rem;
  border: solid 0.0625rem var(--borderColor, $black);
  max-width: fit-content;
  height: 1.5rem;
  padding: 0.1rem 0.625rem 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  span {
    display: inline-block;
    margin: 0;
    padding: 0;

    &.colorEdge {
      position: absolute;
      left: 0;
      top: 0;
      width: 1.25rem;
      height: 100%;
      background-color: var(--backgroundColor);
    }

    &.chipText{
      @extend %fontdefinition_chips;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.hasColorEdge {
        padding-left: 1rem;
      }
    }
  }

  &.hasTooltip {
    padding-right: 0.02rem;
  }
}
</style>
