<script>
import DipasButton from "./DipasButton.vue";

export default {
  components: {
    DipasButton,
  },
  props: {
    cardTitle: {
      type: String,
      default: "",
      required: false,
    },
    cardText: {
      type: String,
      default: "",
      required: false,
    },
    imageLink: {
      type: String,
      default: "",
      required: false,
    },
    imageAltText: {
      type: String,
      default: "",
      required: false,
    },
    buttonLabel: {
      type: String,
      required: true,
    },
    buttonTooltipTitle: {
      type: String,
      required: false,
      default: ""
    }
  },
};
</script>

<template>
  <div class="DipasCardTeaser">
    <div class="card">
      <img
        class="card-image card-img-top"
        :src="imageLink"
        :alt="imageAltText"
      />

      <div class="card-body">
        <span
          class="card-title"
          :class="{'withoutCardText': cardText === ''}"
        >
          {{ cardTitle }}
        </span>

        <p
          v-if="cardText !== ''"
          class="card-text"
        >
          {{ cardText }}
        </p>

        <DipasButton
          :label="buttonLabel"
          :title="buttonTooltipTitle"
          class="card-button"
          @click="$emit('buttonClicked')"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
div.DipasCardTeaser {
  div.card {
    width: 29.688rem;
    @extend %fontdefinition_card;
    border-radius: 0.313rem;
    border: none;
    box-shadow: 0 0.188rem 0.375rem #00000029;

    img.card-image {
      height: 15rem;
      object-fit: cover;
      object-position: center;
    }

    span.card-title {
      @extend %fontdefinition_headline_3;
      line-height: initial;

      &.withoutCardText {
        display: block;
        margin-bottom: 1rem;
      }
    }

    div.card-body {
      position: relative;
      padding: 2rem 2rem 3.5rem;
      @extend %fontdefinition_card;
      color: $color_font;

      p.card-text {
        @extend %fontdefinition_card;
        color: $color_font;
        max-height: 6.688rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        margin-bottom: 2rem;
      }

      button.card-button {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    }
  }

  &.isMobile {
    div.card {
      width: 21.75rem;

      img.card-image {
        height: 8rem;
      }

      span.card-title {
        @extend %fontdefinition_headline_4;
        font-size: 0.875rem;
      }

      div.card-body {
        padding: 1rem 1rem 3.5rem;

        p.card-text {
          margin-bottom: 1rem;
        }

        button.card-button {
          padding: 0.5rem;
        }
      }
    }
  }

  &.isTablet {
    div.card {
      width: 22.75rem;

      img.card-image {
        height: 8rem;
      }

      div.card-body {
        padding: 1rem 1rem 3.5rem;

        p.card-text {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
</style>
