<script>
import DipasPaginatorItem from "./DipasPaginatorItem.vue";

export default {
  components: {
    DipasPaginatorItem
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    maxPageNumber: {
      type: Number,
      required: true,
    },
  },
  emits: ["selectedPage"],
  data () {
    return {
      activePage: 1
    };
  },
  computed: {
    /* tells how many page numbers shall be shown on the left and the right part of the paginator (additionally to page 1 and maxPageNumber) */
    borderPageNumbersToShow () {
      return this.isMobile ? 2 : 4;
    },
    /* creates the array of page numbers that shall be currently shown additionally to page 1 and maxPageNumber */
    currentlyShownPages () {
      let shownPagesArray = [],
        maxShownPageNumber = 0,
        firstShownPageNumber = this.activePage;

      // when seven or less page numbers shall be displayed, all page numbers can be shown
      if (this.maxPageNumber <= 7) {
        for (let i = 2; i < this.maxPageNumber; i++) {
          shownPagesArray.push(i);
        }
      }
      // for more than seven page numbers the handling of https://bootstrap-vue.org/docs/components/pagination-nav#goto-firstlast-button-type
      // shall be implemented, depending on the active page
      else {
        if (this.activePage < this.borderPageNumbersToShow) {
          // if the active page is smaller than the number of pages that shall be shown on the left hand side of the pager
          // start with page 2 and show borderPageNumbersToShow more pages
          firstShownPageNumber = 2;
          maxShownPageNumber = this.borderPageNumbersToShow + 1;
        }
        else if (this.activePage > this.maxPageNumber - this.borderPageNumbersToShow) {
          // if the active page is in the range of the number of pages that shall be shown on the right hand side of the pager
          // start with the first page that shall be shown on the right and show borderPageNumbersToShow more pages
          firstShownPageNumber = this.maxPageNumber - this.borderPageNumbersToShow;
          maxShownPageNumber = this.maxPageNumber - 1;
        }
        else if (this.isMobile) {
          // if the active page is somewhere inbetween and it is mobile, show only the active page inbetween the "..."
          firstShownPageNumber = this.activePage;
          maxShownPageNumber = this.activePage;
        }
        else {
          // if the active page is somewhere inbetween and it is NOT mobile, show the active page and one less and one more inbetween the "..."
          firstShownPageNumber = this.activePage - 1;
          maxShownPageNumber = this.activePage + 1;
        }

        // create the array of page numbers that shall be shown inbetween page number 1 and maxPageNumber
        for (let i = firstShownPageNumber; i <= maxShownPageNumber; i++) {
          shownPagesArray.push(i);
        }
      }

      return shownPagesArray;
    },
    showRightThreeDots () {
      // the right three dots shall only be shown if more than 7 pages are available and the active page is not short before maxPageNumber
      return this.maxPageNumber > 7 && this.activePage <= (this.maxPageNumber - this.borderPageNumbersToShow);
    },
    showLeftThreeDots () {
      // the left three dots shall only be shown if more than 7 pages are available and the active page is not near to page 1
      return this.maxPageNumber > 7 && this.activePage >= this.borderPageNumbersToShow;
    }
  },
  methods: {
    clickPage (value) {
      this.activePage = value;
      this.$emit("selectedPage", value);
    }
  }
};
</script>

<template>
  <nav
    :aria-label="$t('DipasPagination.ariaLabels.navElement')"
    class="DipasPaginator"
    role="navigation"
  >
    <ul class="pagination">
      <!-- first button will always flip back to first page -->
      <DipasPaginatorItem
        key="first"
        class="firstLastElement"
        :isDisabled="disabled || activePage===1"
        :pageNumberToEmit="1"
        itemContent="&laquo;"
        :itemLabel="$t('DipasPagination.ariaLabels.firstElement')"
        @page-number="clickPage"
      />
      <!-- button will flip on page back -->
      <DipasPaginatorItem
        ref="backward"
        key="backward"
        class="forwardBackwardElement"
        :isDisabled="disabled || activePage===1"
        :pageNumberToEmit="activePage-1"
        itemContent="‹"
        :itemLabel="$t('DipasPagination.ariaLabels.backwardElement')"
        @page-number="clickPage"
      />
      <!-- Always show page number 1 -->
      <DipasPaginatorItem
        v-if="maxPageNumber > 1"
        :key="1"
        :isActivePage="activePage===1"
        :pageNumberToEmit="1"
        itemContent="1"
        :itemLabel="$t('DipasPagination.ariaLabels.firstElement')"
        :isDisabled="disabled"
        @page-number="clickPage"
      />
      <!-- show three dots (not clickable) when too many pages -->
      <DipasPaginatorItem
        v-if="showLeftThreeDots"
        ref="showLeftThreeDots"
        key="leftthreedots"
        :isClickable="false"
        itemContent="..."
        :itemLabel="$t('DipasPagination.ariaLabels.threeDotsElement')"
      />
      <!-- show one page before and one page after the selected, or show all if maxPageNumber < 8 -->
      <DipasPaginatorItem
        v-for="index in currentlyShownPages"
        :key="index"
        :isActivePage="activePage===index"
        :itemContent="index"
        :itemLabel="$t('DipasPagination.ariaLabels.clickElement') + index"
        :pageNumberToEmit="index"
        :isDisabled="disabled"
        @page-number="clickPage"
      />
      <!-- show three dots (not clickable) when too many pages -->
      <DipasPaginatorItem
        v-if="showRightThreeDots"
        ref="showRightThreeDots"
        key="rightthreedots"
        :isClickable="false"
        itemContent="..."
        :itemLabel="$t('DipasPagination.ariaLabels.threeDotsElement')"
      />
      <!-- Always show maximum page number -->
      <DipasPaginatorItem
        :key="maxPageNumber"
        :isActivePage="activePage===maxPageNumber"
        :itemContent="maxPageNumber"
        :itemLabel="$t('DipasPagination.ariaLabels.lastElement')"
        :pageNumberToEmit="maxPageNumber"
        :isDisabled="disabled"
        @page-number="clickPage"
      />
      <!-- button will flip on page forward -->
      <DipasPaginatorItem
        ref="forward"
        key="forward"
        class="forwardBackwardElement"
        :isDisabled="disabled || activePage===maxPageNumber"
        itemContent="›"
        :itemLabel="$t('DipasPagination.ariaLabels.forwardElement')"
        :pageNumberToEmit="activePage+1"
        @page-number="clickPage"
      />
      <!-- last button will always flip forward to last page -->
      <DipasPaginatorItem
        key="last"
        class="firstLastElement"
        :isDisabled="disabled || activePage===maxPageNumber"
        itemContent="&raquo;"
        :itemLabel="$t('DipasPagination.ariaLabels.lastElement')"
        :pageNumberToEmit="maxPageNumber"
        @page-number="clickPage"
      />
    </ul>
  </nav>
</template>

<style lang="scss">
  nav.DipasPaginator {
    ul.pagination {
      --bs-pagination-active-bg: $color_primary_1;
    }

  }
</style>
