<script>
import DipasTextfield from "./DipasTextfield.vue";

export default {
  extends: DipasTextfield,
  props: {
    rows: {
      type: [Number, String],
      required: false,
      default: undefined,
    },
  },
  data: function () {
    return {
      hasScrollbar: false,
    };
  },
  methods: {
    validateInput () {
      this.detectScrollbar();

      // Call parent method
      DipasTextfield.methods.validateInput.call(this);
    },
    /**
     * Required to set a position offset for the "characterCount" div if the textarea has a scrollbar.
     */
    detectScrollbar () {
      this.hasScrollbar = this.$refs.input.clientHeight < this.$refs.input.scrollHeight;
    },
  },
};
</script>

<template>
  <div
    class="DipasTextarea"
    :class="dynamicClasses"
  >
    <div
      v-if="!fieldLabelHidden"
      class="wrapperLabel"
    >
      <label :for="domID">
        <slot
          name="label"
          :label="fieldLabel"
        >
          {{ fieldLabel }}
        </slot>

        <div
          v-if="required"
          class="required"
        >
          <span aria-hidden="true">*</span>
          <span class="visually-hidden">{{ $t("form.general.required") }}</span>
        </div>
      </label>

      <slot name="labelInfo"></slot>
    </div>

    <label
      v-else
      :for="domID"
      class="visually-hidden"
    >
      {{ fieldLabel }}
    </label>

    <div class="wrapperInput">
      <textarea
        :id="domID"
        ref="input"
        :value="modelValue"
        :placeholder="placeholder"
        :title="disabled ? disabledTitle : title"
        :disabled="disabled"
        :rows="rows"
        :maxlength="validationMaxCharacterCount && validationMaxCharacterCount.limitMaxLengthInput ? validationMaxCharacterCount.value : null"
        :aria-describedby="fieldDescription ? fieldDescriptionId : null"
        :aria-invalid="!inputIsValid"
        :aria-errormessage="idErrorMessage"
        @input="updateModelValueAndValidateInput($event)"
        @focus="setFocusColor"
        @blur="blurField"
      />

      <span
        v-if="validationMaxCharacterCount && validationMaxCharacterCount.showCounter"
        aria-hidden="true"
        class="characterCount"
        :class="{
          'error': !inputIsValidMaxLength,
          'hasScrollbar': hasScrollbar
        }"
      >
        {{ characterCount }}/{{ validationMaxCharacterCount.value }}</span>
    </div>

    <div
      v-if="!inputIsValid && errorMessage"
      :id="idErrorMessage"
      class="sublineText error"
    >
      {{ errorMessage }}
    </div>

    <div
      v-if="fieldDescription"
      :id="fieldDescriptionId"
      class="sublineText description"
    >
      {{ fieldDescription }}
    </div>
  </div>
</template>

<style lang="scss">
div.DipasTextarea {
  div.wrapperInput {
    position: relative;

    span.characterCount {
      position: absolute;
      bottom: 0.25rem;
      right: 0.5rem;
      font-size: 0.625rem;
      color: $color_font_placeholder;
      line-height: initial;
      background-color: $color_form;
      padding: 0.25rem;
      border-radius: $border_radius;

      &.error {
        color: $color_state_error;
      }

      &.hasScrollbar {
        bottom: 0.25rem;
        right: 1.5rem;
      }
    }

    textarea {
      display: block;
      width: 100%;
      padding: 0.5rem 0.5rem 0.5rem 0.875rem;
      background-color: $color_form;
      border: solid 0.0625rem $color_border;
      border-radius: $border_radius;

      &:disabled {
        background-color: $color_button_disabled;
      }

      &:focus {
        outline: 0.1875rem solid $color_focus;
        color: $color_font;
      }

      &[rows] {
        height: auto;
        min-height: 3rem;
      }

      &:focus ~ span.characterCount:not(.error) {
        color: $color_font;
      }
    }
  }

  &.error {
    textarea {
      border-color: $color_state_error !important;
    }
  }

  div.wrapperLabel {
    display: flex;
    margin: 0 0 0.5rem 0;
    align-items: center;

    label {
      margin: 0 0.25rem 0 0;
      color: $color_font;

      div.required {
        display: inline-block;
        margin: 0 0 0 0.25rem;

        span {
          color: $color_state_error;
        }
      }
    }
  }

  &.focussed {
    div.wrapperLabel {
      label {
        color: $color_focus;
      }
    }
  }

  div.sublineText {
    margin: 0.25rem 0 0 0.0625rem;
    @extend %fontdefinition_formfield_subline;

    &.error {
      color: $color_state_error;
    }

    &.description {
      color: $black;
    }
  }
}
</style>
