<script>
import DipasRadio from "./DipasRadio.vue";

export default {
  components: {
    DipasRadio
  },
  props: {
    fieldLabel: {
      type: String,
      required: true,
      default: ""
    },
    fieldLabelHidden: {
      type: Boolean,
      required: false,
      default: true
    },
    modelValue: {
      type: [Number, String, Object, Boolean],
      required: false,
      default: undefined
    },
    options: {
      type: Array,
      required: true,
      default () {
        return [];
      }
    },
    optionsInline: {
      type: Boolean,
      required: false,
      default: false
    },
    emitCompleteOptionOnInput: {
      type: Boolean,
      required: false,
      default: false
    },
    optionValue: {
      type: String,
      required: false,
      default: "value"
    },
    optionLabel: {
      type: String,
      required: false,
      default: "label"
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    componentProperties: {
      type: Array,
      required: false,
      default () {
        return [];
      }
    },
    inputComponent: {
      type: String,
      required: false,
      default: undefined
    }
  },
  emits: ["update:modelValue", "click", "update:checked"],
  data () {
    return {
      groupName: this.$generateUUID()
    };
  },
  computed: {
    internalValue: {
      get () {
        return typeof this.modelValue === "object" ? this.modelValue[this.optionValue] : this.modelValue;
      },
      set (val) {
        const chosenOption = this.internalOptions.find(elem => elem[this.optionValue] === val),
          externalValue = typeof this.modelValue === "object" ? this.value[this.optionValue] : this.modelValue;

        if (chosenOption[this.optionValue] !== externalValue) {
          this.$emit("update:modelValue", this.emitCompleteOptionOnInput ? chosenOption : val);
        }
      }
    },
    internalOptions () {
      const intermediateOptions = [];

      this.options.forEach(elem => {
        let option = {};

        if (typeof elem !== "object") {
          option[this.optionValue] = elem;
          option[this.optionLabel] = elem;
        }
        else {
          option = JSON.parse(JSON.stringify(elem));
        }
        intermediateOptions.push(option);
      });

      return intermediateOptions;
    }
  }
};
</script>

<template>
  <fieldset
    class="DipasRadioGroup"
    :class="{inline: optionsInline}"
    :aria-label="fieldLabel"
  >
    <legend :class="{'visually-hidden': fieldLabelHidden}">
      {{ fieldLabel }}:
    </legend>

    <DipasRadio
      v-for="(option, index) in internalOptions"
      :key="'option-' + index"
      v-model:checked="internalValue"
      :value="option[optionValue]"
      :label="option[optionLabel]"
      :disabled="disabled"
      :groupName="groupName"
      :inputComponent="inputComponent"
      :componentProperties="componentProperties[index]"
      @click="$emit('click', $event)"
      @update:checked="$emit('update:checked', $event)"
    />
  </fieldset>
</template>

<style lang="scss">
fieldset.DipasRadioGroup {
  div.DipasRadio.form-check {
    display: flex;
    gap: 0.5rem;
  }

  &.inline {
    display: flex;
    gap: 1rem;

    div.form-check {
      display: inline-flex;
      gap: 0.5rem;
      margin-bottom: 0;
    }
  }
}
</style>
