<script>
import {computed} from "vue";

export default {
  /**
   * The provided methods and variables are made available inside the DipasCollapsibleItem via "inject"
   */
  provide () {
    return {
      providedRenderAs: computed(() => this.renderAs),
      providedTabRegister: this.providedTabRegister,
      providedTabSelected: computed(() => this.tabSelected),
      providedAccordionRegister: this.providedAccordionRegister,
      providedAccordionSelected: this.providedAccordionSelected,
    };
  },
  props: {
    /**
     * Attribute "renderAs": (reactive, Example: :renderAs="!isMobile ? 'tabs' : 'accordion'")
     * - tabs:
     *   - Only one tab is selectable, shows content for selected tab. Tabs titles are vertical on the left.
     *   - Attribute "tabsHorizontal": Renders the tabs titles horizontal above the content.
     * - accordion:
     *   - One or more accordion headers are selectable, shows content for selected ones.
     *   - Attribute "accordionAutoCollapse" (Default false): Only one accordion content is visible at the same time.
     *   - Attribute "isSmall": Smaller accordion header.
     * - transparent:
     *   - Content of the DipasCollapsibleItem is rendered directly.
     */
    renderAs: {
      type: String,
      required: false,
      default: "tabs",
      validator (val) {
        if ([
          "tabs",
          "accordion",
          "transparent",
        ].indexOf(val) === -1) {
          console.error("Invalid option for the DipasCollapsible renderAs property.");
          return false;
        }
        return true;
      },
    },
    /**
     * Attribute "accordionAutoCollapse" (Default false): Only one accordion content is visible at the same time.
     */
    accordionAutoCollapse: {
      type: Boolean,
      required: false,
      default: false,
    },
    /**
     * Attribute "tabsHorizontal" (Default false): Renders the tabs titles horizontal above the content.
     */
    tabsHorizontal: {
      type: Boolean,
      required: false,
      default: false,
    },
    /**
     * Attribute "isSmall" (Default false): Smaller accordion header.
     */
    isSmall: {
      type: Boolean,
      required: false,
      default: false,
    },
    /**
     * Attribute "tabStyleLight" (Default false): Tab styling background-color: none, active with border-bottom: red.
     */
    tabStyleLight: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  emits: ["tabSelected"],
  data () {
    return {
      accordionItems: [],
      accordionSelected: null,
      tabItems: [],
      tabSelected: null,
      microTime: Date.now(),
    };
  },
  watch: {
    /**
     * Resets the data, if renders is updated dynamically from outside,
     * e.g. <DipasCollapsible :renderAs="isMobile ? 'accordion' : 'tabs'">
     */
    renderAs (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.accordionItems = [];
        this.accordionSelected = null;
        this.tabItems = [];
        this.tabSelected = null;
      }
    },
  },
  methods: {
    providedTabRegister (tabTitle, tabActive) {
      const tabItemsLength = this.tabItems.push(tabTitle);

      if (tabActive) {
        this.tabSelected = this.tabItems[tabItemsLength - 1];
      }
    },
    providedAccordionRegister (accordionItem) {
      this.accordionItems.push(accordionItem);
    },
    providedAccordionSelected (selectedAccordionItem, isOpen, initialSetup = false) {
      if (this.accordionAutoCollapse === true && !initialSetup) {
        this.accordionItems.forEach(accordionItem => {
          if (isOpen === true && accordionItem !== selectedAccordionItem) {
            accordionItem.onAccordionToggle(false);
          }
        });
      }
    },
    onTabSelect (tabTitle, index) {
      this.tabSelected = tabTitle;
      this.$emit("tabSelected", tabTitle, index);
    },
    tabId (postfix) {
      const uuid = this.$generateUUID();

      return `tabId_${uuid}_${postfix}`;
    },
  },
};
</script>

<template>
  <div
    class="DipasCollapsible"
    :class="{
      'isSmall': isSmall,
    }"
  >
    <!-- Render "tabs" -->
    <template v-if="renderAs === 'tabs'">
      <div
        class="DipasCollapsibleTabs"
        :class="{
          [`render-as-${renderAs}`]: true,
          'tabsHorizontal': tabsHorizontal,
          'tabStyleLight': tabStyleLight
        }"
      >
        <div
          class="tabs"
          role="tablist"
        >
          <button
            v-for="(tabTitle, index) in tabItems"
            :id="tabId(index)"
            :key="tabTitle"
            :class="{
              'tabHeader': true,
              'isActive': tabTitle === tabSelected
            }"
            role="tab"
            :aria-selected="tabTitle === tabSelected"
            @click.stop="onTabSelect(tabTitle, index)"
          >
            {{ tabTitle }}

            <span
              v-if="!tabStyleLight"
              class="icon icon-chevron_right_black_24dp"
            />
          </button>
        </div>

        <div
          class="content"
          role="tabpanel"
          :aria-labelledby="tabId(tabItems.indexOf(tabSelected))"
        >
          <slot />
        </div>
      </div>
    </template>

    <!-- Render "accordion" -->
    <template v-if="renderAs === 'accordion'">
      <div
        class="DipasCollapsibleAccordion"
        :class="{
          'accordionAutoCollapse': accordionAutoCollapse,
        }"
      >
        <slot />
      </div>
    </template>

    <!-- Render "transparent" -->
    <template v-if="renderAs === 'transparent'">
      <div class="DipasCollapsibleTransparent">
        <slot />
      </div>
    </template>
  </div>
</template>

<style lang="scss">
div.DipasCollapsible {
  //  Style "tabs"
  & > div.DipasCollapsibleTabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 0 1rem 0;

    div.tabs {
      display: flex;
      flex-direction: column;

      button.tabHeader {
        display: flex;
        width: 100%;
        align-items: center;
        @extend %fontdefinition_button_mobile;
        line-height: initial;
        background-color: $color_form;
        color: $color_primary_1;
        padding: 0.75rem 0.25rem 0.875rem 1rem;
        cursor: pointer;
        user-select: none;
        border: none;
        border-bottom: solid 0.0625rem $color_border;

        &:last-child {
          border: none;
        }

        span.icon {
          margin: 0 0.25rem;
          color: $color_primary_1;
        }

        &:hover {
          background-color: $color_hover;
        }

        &.isActive {
          background-color: $color_primary_1;
          color: $text_contrast_color_primary1;

          span.icon {
            color: $text_contrast_color_primary1;
          }
        }

        &:focus-visible {
          outline: 0.1875rem solid $color_focus;
          outline-offset: -0.0625rem;
          z-index: 1;
        }
      }
    }

    div.content {
      flex: 1;
    }

    &.tabsHorizontal {
      flex-direction: column;

      & > div.tabs {
        flex-direction: row;
        justify-content: flex-start;

        button {
          width: auto;
          border: none;
          border-bottom: solid 1px $color_border;
          border-right: solid 1px $color_border;

          &:last-child {
            border-bottom: solid 1px $color_border;
            border-right: none;
          }

          &.isActive {
            background-color: $color_primary_1;
            color: $text_contrast_color_primary1;

            span.icon {
              margin: 0 0.5rem 0 0.25rem;
              transform: rotate(90deg);
              color: $text_contrast_color_primary1;
            }
          }
        }
      }

      &.tabStyleLight {
        & > div.tabs {
          button {
            border: none;
            padding-right: 1rem;
            background-color: $white;
            font-size: 1rem;

            &.isActive {
              background-color: $white;
              border-bottom: 0.125rem solid $color_primary_2;
              color: $color_primary_1;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  //  Style "accordion"
  & > div.DipasCollapsibleAccordion {
    &:last-child {
      margin-bottom: 1rem;
    }
  }

  //  Style "transparent"
  & > div.DipasCollapsibleTransparent {
  }

  // Style small versions
  &.isSmall {
    & > div.DipasCollapsibleTabs {
      div.tabs {
        button.tabHeader {
          padding: 0.4375rem 2rem 0.375rem 1rem;
        }
      }
    }

    & > div.DipasCollapsibleAccordion {
      div.DipasCollapsibleItem {
        div.DipasCollapsibleItemAccordion {
          button.accordionHeader {
            padding: 0.4375rem 2rem 0.375rem 0.5rem;
          }
        }
      }
    }
  }
}
</style>
