<script>
import DipasNavigation from "@/components/DipasNavigation.vue";

export default {
  components: {
    DipasNavigation
  }
};
</script>

<template>
  <footer class="PageFooter">
    <DipasNavigation
      class="footerDipasNavigation"
      :links="$store.getters['proceeding/navigationLinks']('footer')"
    />

    <p>
      {{ $t("footer.participationBy") }}

      <a
        class="dipasLink"
        href="https://www.dipas.org"
        target="_blank"
      >
        <img
          src="@/assets/images/DIPAS-Logo-neg.svg"
          alt="DIPAS Logo"
        />
      </a>
    </p>
  </footer>
</template>

<style lang="scss">
footer.PageFooter {
  height: 5.5rem;
  padding: 2rem 11.875rem 0 11.875rem;
  background-color: $color_primary_1;

  & > nav.DipasNavigation,
  & > p {
    display: inline-block;
  }

  & > p {
    float: right;
    color: $white;

    a {
      display: inline-block;

      img {
        position: relative;
        top: 0.125rem;
        margin-left: 0.1875rem;
        height: 2.25rem;
      }
    }
  }
}
</style>
