<script>
import DipasNavigation from "@/components/DipasNavigation.vue";
import DipasButton from "@/components/DipasButton.vue";

export default {
  components: {
    DipasNavigation,
    DipasButton
  },
  data () {
    return {
      menuOpen: false
    };
  },
  computed: {
    settings () {
      // dipasSettings is defined globally by a referenced javascript.
      // eslint-disable-next-line no-undef
      return dipasSettings;
    },
    menuOpened () {
      return this.isDesktop || !this.isDesktop && this.menuOpen;
    },
    imagepath () {
      return window.location.protocol + "//" + window.location.host + "/drupal/dipas/design/";
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  methods: {
    navigationLinkClick () {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Menu', 'Proceeding logo']);
      }
    }
  }
};
</script>

<template>
  <header
    class="PageHeader"
    :class="{
      hasMenuLineLogo: settings.hasMenuLineLogo,
      logoAlignmentRight: settings.operatorLogoAlignment !== 'left'
    }"
  >
    <div class="logo">
      <router-link
        to="/"
        @click="navigationLinkClick"
      >
        <img
          class="logo"
          :src="imagepath + 'operatorlogo'"
          :alt="settings.operatorLogoAlttext"
        />
      </router-link>

      <img
        v-if="settings.hasMenuLineLogo"
        class="menuLineLogo"
        :src="imagepath + 'menulinelogo'"
        alt=""
      />
    </div>

    <div class="navigation">
      <DipasButton
        v-if="isMobile || isTablet"
        :label="$t('DipasButton.menu')"
        :icon="!menuOpen ? 'menu_black_24dp' : 'close_black_24dp'"
        :iconAfterText="true"
        :iconColor="settings.colors.primary2"
        class="secondary"
        @click="menuOpen ^= 1"
      />

      <div
        v-show="menuOpened"
        class="menuPanel"
      >
        <DipasNavigation
          :links="$store.getters['proceeding/navigationLinks']('main')"
          @click="menuOpen ^= 1"
          @keyup.enter="menuOpen ^= 1"
        />

        <DipasNavigation
          v-show="isMobile || isTablet"
          class="footerDipasNavigation"
          :links="$store.getters['proceeding/navigationLinks']('footer')"
          @click="menuOpen ^= 1"
          @keyup.enter="menuOpen ^= 1"
        />

        <div
          v-if="!isDesktop"
          class="footer"
        >
          <p>
            {{ $t("footer.participationBy") }}

            <a
              class="dipasLink"
              href="https://www.dipas.org"
              target="_blank"
            >
              <img src="@/assets/images/DIPAS-Logo-neg.svg" />
            </a>
          </p>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
header.PageHeader {
  vertical-align: top;
  position: relative;
  border-bottom: solid 1.5625rem $color_primary_1;
  z-index: 2;

  div {
    &.logo {
      position: relative;
      margin-right: 1.5625rem;
      padding-top: 1.1875rem;
      float: left;

      a {
        &:focus-visible {
          & > img {
            outline: 0.1875rem solid $color_focus;
          }
        }
      }

      img {
        display: block;
        max-height: 50px;

        &.menuLineLogo {
          width: 11.25rem;
          height: 1.25rem;
          position: relative;
          bottom: 0.4rem;
        }

        &.logo {
          margin-left: 2rem;
        }
      }
    }

    &.navigation {
      div.menuPanel {
        div.footer {
          display: none;
        }
      }
    }
  }

  &.logoAlignmentRight {
    padding-left: 2.125rem;

    div.logo {
      float: right;
      margin-left: 1.5625rem;
      margin-right: 0;
    }
  }

  nav.DipasNavigation {
    vertical-align: top;
    margin-top: 2rem;
  }

  &.hasMenuLineLogo {
    div.logo {
      margin-bottom: -0.9375rem;

      img.logo {
        margin-bottom: 0.625rem;
      }
    }
  }

  &:not(.hasMenuLineLogo) {
    div.logo {
      padding-bottom: 0.9375rem;
    }
  }

  &.isMobile,
  &.isTablet {
    border-bottom: none;
    -webkit-box-shadow: 0 0 0.625rem 0 $black;
    -moz-box-shadow: 0 0 0.625rem 0 $black;
    box-shadow: 0 0 0.625rem 0 $black;
    height: 3rem;

    div {
      &.logo {
        height: 100%;
        padding-left: 0.625rem;
        padding-top: 0.5625rem;

        img {
          max-height: 1.4375rem;
          margin-top: 0.1875rem;

          &.menuLineLogo {
            display: none;
          }
        }
      }

      &.navigation {
        float: right;
        position: relative;

        button.DipasButton {
          margin-top: 0.375rem;
        }

        div.menuPanel {
          position: absolute;
          right: 0;
          top: 3rem;
          background-color: $white;
          -webkit-box-shadow: inset 0 0.625rem 0.625rem -0.625rem $black;
          -moz-box-shadow: inset 0 0.625rem 0.625rem -0.625rem $black;
          box-shadow: inset 0 0.625rem 0.625rem -0.625rem $black;
          overflow-x: hidden;
          overflow-y: auto;
          max-height: calc(100vh - 3rem);

          nav.DipasNavigation {
            margin-top: 1rem;
            margin-bottom: 0;

            &.footerDipasNavigation {
              margin-top: 0;

              li:first-of-type {
                a {
                  border-top: solid 0.0625rem $color_border;
                }
              }
            }
          }

          div.footer {
            display: block;
            background-color: $color_primary_1;
            height: 4rem;
            padding: 0.875rem 2rem;
            text-align: right;

            & > p {
              color: $white;

              img {
                position: relative;
                top: 0.1875rem;
                max-height: 2.2rem;
              }
            }
          }
        }
      }
    }

    &.logoAlignmentRight {
      padding-left: 0;

      div {
        &.logo {
          padding-left: 0;
          padding-right: 0.625rem;
        }

        &.navigation {
          float: left;

          div.menuPanel {
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }

  &.isMobile {
    div {
      &.logo {
        img {
          &.logo {
            margin-left: 1rem;
          }
        }
      }

      &.navigation {
        div.menuPanel {
          width: 100vw;
        }
      }
    }
  }

  &.isTablet {
    div.navigation {
      div.menuPanel {
        width: fit-content;

        nav.DipasNavigation {
          ul li a {
            min-width: 40vw;
          }
        }
      }
    }
  }
}
</style>
