<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
      default: undefined
    }
  }
};
</script>

<template>
  <section class="DevDemoPageSection">
    <h2 v-if="title">
      {{ title }}
    </h2>

    <section>
      <slot />
    </section>
  </section>
</template>

<style lang="scss">
section.DevDemoPageSection {
  margin-bottom: 50px;

  & > h2 {
    border-bottom: solid 1px #CCC;
    padding: 0 0 0.5rem 0;
    margin: 0 0 1rem;
  }

  div.output {
    margin-top: 20px;
    border: dashed 1px $color_border;
    padding: 10px;
    @extend %fontdefinition_subline_mobile;
    color: $color_font_placeholder;
  }

  section {
    margin-bottom: 30px;
  }
}
</style>
