<script>
import DevDemoColors from "./DevDemoColors.vue";
import DevDemoFonts from "./DevDemoFonts.vue";
import DevDemoComponents from "./DevDemoComponents.vue";
import DevDemoFeatures from "./DevDemoFeatures.vue";
import DipasCollapsible from "@/components/DipasCollapsible.vue";
import DipasCollapsibleItem from "@/components/DipasCollapsibleItem.vue";

export default {
  components: {
    DipasCollapsible,
    DipasCollapsibleItem,
    DevDemoFeatures,
    DevDemoColors,
    DevDemoFonts,
    DevDemoComponents
  }
};
</script>

<template>
  <main class="DevDemoPage">
    <h1>[DEV] Demo Page</h1>

    <DipasCollapsible
      :renderAs="isMobile ? 'accordion' : 'tabs'"
      :tabsHorizontal="isDesktop ? false : true"
      :accordionAutoCollapse="true"
    >
      <DipasCollapsibleItem
        title="Components"
        :active="true"
      >
        <DevDemoComponents />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Colors">
        <DevDemoColors />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Fonts">
        <DevDemoFonts />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Features">
        <DevDemoFeatures />
      </DipasCollapsibleItem>
    </DipasCollapsible>
  </main>
</template>

<style lang="scss">
main.DevDemoPage {
  background-color: $color_blank;
  padding: 1rem;
  padding-right: 5rem;

  .breakpointPanel {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #eeeecc;
    padding: 0.3125rem 0.625rem;
    border-top-right-radius: 0.3125rem;
    z-index: 2;

    strong,
    span {
      font-size: 0.75rem;
    }
  }

  &:not(.isDesktop) {
    padding-right: 1rem;
  }
}
</style>
