<script>
export default {
  computed: {
    colors () {
      // dipasSettings is defined as a global const by a DIPAS design endpoint
      // eslint-disable-next-line
      return dipasSettings?.colors;
    }
  }
};
</script>

<template>
  <div class="DevDemoColors">
    <div class="colorgrid">
      <div
        v-for="(hex, name) in colors"
        :key="'color-' + name"
        class="color"
        :style="{'--backgroundColor': hex}"
      >
        <div>{{ name }}</div>

        <div class="color-box" />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
div.DevDemoColors {

  div.colorgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    div.color {
      display: flex;
      flex-direction: column;
      width: 15%;
      gap: 1rem;

      div.color-box {
        border: solid 1px #000;
        width: 100%;
        height: 2rem;
        border-radius: $border_radius;
        background-color: var(--backgroundColor);
      }
    }
  }
}
</style>
