<script>
import DipasButton from "../../components/DipasButton.vue";

export default {
  components: {
    DipasButton
  },
  methods: {
    toggleDipasSidebar (panelComponentName) {
      this.$root.$refs.sidebar.toggleDipasSidebar(panelComponentName);
    },
  }
};
</script>

<template>
  <div class="DevDemoFeatures">
    <section>
      <h3>Open the sidebar from another component</h3>

      <section class="variations">
        <section class="inline">
          <DipasButton
            label="Feedback zu DIPAS"
            title="Button öffnet Feedback-Komponente in DipasSidebar"
            icon="mark_as_unread_black_24dp"
            class="secondary"
            @click="toggleDipasSidebar('DipasSidebarPanelNewsletter')"
          />
        </section>
      </section>
    </section>
  </div>
</template>

<style lang="scss">
div.DevDemoFeatures {}
</style>
