<script>
export default {
  data () {
    return {
      fontDefinitionNames: [
        "fontdefinition_headline_1",
        "fontdefinition_headline_2",
        "fontdefinition_headline_3",
        "fontdefinition_headline_4",
        "fontdefinition_navigation",
        "fontdefinition_text",
        "fontdefinition_subline",
        "fontdefinition_subline_2",
        "fontdefinition_card",
        "fontdefinition_button",
        "fontdefinition_interaction",
        "fontdefinition_error",
        "fontdefinition_headline_1_mobile",
        "fontdefinition_headline_2_mobile",
        "fontdefinition_headline_3_mobile",
        "fontdefinition_text_mobile",
        "fontdefinition_subline_mobile",
        "fontdefinition_button_mobile",
        "fontdefinition_interaction_mobile",
        "fontdefinition_error_mobile",
      ]
    };
  }
};
</script>

<template>
  <div class="DevDemoFonts">
    <section>
      <p
        v-for="definition in fontDefinitionNames"
        :key="definition"
        class="fontSample"
      >
        {{ definition }}:
        <span :class="definition">Sampletext</span>
      </p>
    </section>
  </div>
</template>

<style lang="scss">
div.DevDemoFonts {
  p.fontSample {
    margin: 0;

    span {
      &.fontdefinition_headline_1 { @extend %fontdefinition_headline_1; }
      &.fontdefinition_headline_2 { @extend %fontdefinition_headline_2; }
      &.fontdefinition_headline_3 { @extend %fontdefinition_headline_3; }
      &.fontdefinition_headline_4 { @extend %fontdefinition_headline_4; }
      &.fontdefinition_navigation { @extend %fontdefinition_navigation; }
      &.fontdefinition_text { @extend %fontdefinition_text; }
      &.fontdefinition_subline { @extend %fontdefinition_subline; }
      &.fontdefinition_subline_2 { @extend %fontdefinition_subline_2; }
      &.fontdefinition_card { @extend %fontdefinition_card; }
      &.fontdefinition_button { @extend %fontdefinition_button; }
      &.fontdefinition_interaction { @extend %fontdefinition_interaction; }
      &.fontdefinition_error { @extend %fontdefinition_error; }
      &.fontdefinition_headline_1_mobile { @extend %fontdefinition_headline_1_mobile; }
      &.fontdefinition_headline_2_mobile { @extend %fontdefinition_headline_2_mobile; }
      &.fontdefinition_headline_3_mobile { @extend %fontdefinition_headline_3_mobile; }
      &.fontdefinition_text_mobile { @extend %fontdefinition_text_mobile; }
      &.fontdefinition_subline_mobile { @extend %fontdefinition_subline_mobile; }
      &.fontdefinition_button_mobile { @extend %fontdefinition_button_mobile; }
      &.fontdefinition_interaction_mobile { @extend %fontdefinition_interaction_mobile; }
      &.fontdefinition_error_mobile { @extend %fontdefinition_error_mobile; }
    }
  }
}
</style>
