<script>
import DipasCollapsible from "@/components/DipasCollapsible.vue";
import DipasCollapsibleItem from "@/components/DipasCollapsibleItem.vue";
import DevDemoPageSection from "@/pages/DevDemoPage/DevDemoPageSection.vue";
import DemoDipasInfoButton from "@/pages/DevDemoPage/ComponentDemos/DemoDipasInfoButton.vue";
import DemoDipasTextChip from "@/pages/DevDemoPage/ComponentDemos/DemoDipasTextChip.vue";
import DemoDipasModal from "@/pages/DevDemoPage/ComponentDemos/DemoDipasModal.vue";
import DemoDipasSelect from "@/pages/DevDemoPage/ComponentDemos/DemoDipasSelect.vue";
import DemoDipasRadioGroup from "@/pages/DevDemoPage/ComponentDemos/DemoDipasRadioGroup.vue";
import DemoDipasCheckbox from "@/pages/DevDemoPage/ComponentDemos/DemoDipasCheckbox.vue";
import DemoDipasButton from "@/pages/DevDemoPage/ComponentDemos/DemoDipasButton.vue";
import DemoDipasTextfield from "@/pages/DevDemoPage/ComponentDemos/DemoDipasTextfield.vue";
import DemoDipasTextarea from "@/pages/DevDemoPage/ComponentDemos/DemoDipasTextarea.vue";
import DemoDipasNavigation from "@/pages/DevDemoPage/ComponentDemos/DemoDipasNavigation.vue";
import DemoDipasStatusPill from "@/pages/DevDemoPage/ComponentDemos/DemoDipasStatusPill.vue";
import DemoDipasCard from "@/pages/DevDemoPage/ComponentDemos/DemoDipasCard.vue";
import DemoDipasCollapsible from "@/pages/DevDemoPage/ComponentDemos/DemoDipasCollapsible.vue";
import DemoDipasCardTeaser from "@/pages/DevDemoPage/ComponentDemos/DemoDipasCardTeaser.vue";
import DemoDipasMasterportal from "@/pages/DevDemoPage/ComponentDemos/DemoDipasMasterportal.vue";
import DemoDipasPaginator from "@/pages/DevDemoPage/ComponentDemos/DemoDipasPaginator.vue";

export default {
  components: {
    DipasCollapsible,
    DipasCollapsibleItem,
    DemoDipasStatusPill,
    DemoDipasCard,
    DevDemoPageSection,
    DemoDipasInfoButton,
    DemoDipasTextChip,
    DemoDipasModal,
    DemoDipasSelect,
    DemoDipasRadioGroup,
    DemoDipasCheckbox,
    DemoDipasButton,
    DemoDipasTextfield,
    DemoDipasTextarea,
    DemoDipasNavigation,
    DemoDipasCollapsible,
    DemoDipasCardTeaser,
    DemoDipasMasterportal,
    DemoDipasPaginator
  },
  data () {
    return {
      disabled: false
    };
  }
};
</script>

<template>
  <div class="DevDemoComponents">
    <DevDemoPageSection>
      <div class="form-check form-switch">
        <input
          id="disabledToggle"
          v-model="disabled"
          class="form-check-input"
          type="checkbox"
          role="switch"
        />

        <label
          class="form-check-label"
          for="disabledToggle"
        > Disabled </label>
      </div>
    </DevDemoPageSection>

    <DipasCollapsible
      :renderAs="isMobile ? 'accordion' : 'tabs'"
      :tabsHorizontal="true"
      :accordionAutoCollapse="true"
      :isSmall="isMobile ? true : false"
    >
      <DipasCollapsibleItem
        title="Selects / Radios / Checkboxes"
        :active="true"
      >
        <DemoDipasSelect :disabled="disabled" />

        <DemoDipasRadioGroup :disabled="disabled" />

        <DemoDipasCheckbox :disabled="disabled" />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Textfield / Textarea">
        <DemoDipasTextfield :disabled="disabled" />

        <DemoDipasTextarea :disabled="disabled" />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="DIPAS Cards">
        <DemoDipasCard />

        <DemoDipasCardTeaser />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Tabs / Accordions">
        <DemoDipasCollapsible />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Modals / Navigation">
        <DemoDipasModal :disabled="disabled" />

        <DemoDipasNavigation :disabled="disabled" />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Masterportal">
        <DemoDipasMasterportal />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Paginator">
        <DemoDipasPaginator />
      </DipasCollapsibleItem>

      <DipasCollapsibleItem title="Diverses">
        <DemoDipasInfoButton :disabled="disabled" />

        <DemoDipasStatusPill />

        <DemoDipasTextChip :disabled="disabled" />

        <DemoDipasButton :disabled="disabled" />
      </DipasCollapsibleItem>
    </DipasCollapsible>
  </div>
</template>
