@import "./colors.scss";
@import "./fonts.scss";
@import "./fontdefinitions/icons.scss";

$border_radius: 0.3125rem;
$box_shadow: 0 0.1875rem 0.375rem $color_shadow;

a {
  &:focus-visible {
    outline: 0.1875rem solid $color_focus;
    outline-offset: 2px;
  }
}
