// Primary colors
$color_primary_1: var(--DipasColorsPrimary1);
$color_primary_2: var(--DipasColorsPrimary2);
$text_contrast_color_primary1: var(--DipasColorsPrimary1TextColor);
$text_contrast_color_primary2: var(--DipasColorsPrimary2TextColor);

// Font colors
$color_font: var(--DipasColorsFont);
$color_font_disabled: var(--DipasColorsFontDisabled);
$color_font_placeholder: var(--DipasColorsFontPlaceholder);

// Page element colors
$color_blank: var(--DipasColorsBlank);
$color_table_header: var(--DipasColorsTableHeader);
$color_form: var(--DipasColorsFormBackground);
$color_border: var(--DipasColorsBorder);
$color_hover: #ECEEF3;
$color_focus: var(--DipasColorsFocus);
$color_inactive_nav_element_hover_color_underline: var(--DipasColorsInactiveNavElementHoverColorUnderline);
$color_button_primary_hover: var(--DipasColorsPrimaryButtonHover);
$color_button_disabled: var(--DipasColorsButtonDisabled);
$color_shadow: #00000029;

// Accessible State colors
$color_state_active_border: var(--DipasColorsStateActiveBorder);
$color_state_active: var(--DipasColorsStateActive);
$color_state_completed_border: var(--DipasColorsStateCompletedBorder);
$color_state_completed: var(--DipasColorsStateCompleted);
$color_state_error: var(--DipasColorsStateError);

// Accessible colors for contribution types
$color_accessible_type_1: #003063;
$color_accessible_type_2: #703980;
$color_accessible_type_3: #C63C76;
$color_accessible_type_4: #FB624F;
$color_accessible_type_5: #FFA600;
$color_accessible_type_6: #8F9800;
$color_accessible_type_7: #107C10;
$color_accessible_type_8: #BAD0AF;
$color_accessible_type_9: #033005;
$color_accessible_type_10: #FFFFFF;
$color_accessible_type_11: #488F31;
$color_accessible_type_12: #000000;

// Color aliases
$white: #FFFFFF;
$black: #000000;
