@import "./colors.scss";
@import "./fontdefinitions/icons.scss";

// Font usages
$font_regular: "DipasRegular";
$font_medium: "DipasMedium";
$font_bold: "DipasBold";

/* bold, 32px (2rem) */
%fontdefinition_headline_1 {
  font-family: $font_bold;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  color: $color_font;
}

/* bold, 26px (1.625rem) */
%fontdefinition_headline_2 {
  font-family: $font_bold;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.3;
  color: $color_font;
}

/* bold, 20px (1.25rem) */
%fontdefinition_headline_3 {
  font-family: $font_bold;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $color_font;
}

/* bold, 16px (1rem) */
%fontdefinition_headline_4 {
  font-family: $font_bold;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: $color_font;
}

/* medium, 20px (1.25rem) */
%fontdefinition_navigation {
  font-family: $font_medium;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  color: $color_font;
}

/* regular, 16px (1rem) */
%fontdefinition_text {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: $color_font;
}

/* bold, 12px (0.75rem) */
%fontdefinition_subline {
  font-family: $font_bold;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.3;
  color: $color_primary_1;
}

/* regular, 12px (0.75rem) */
%fontdefinition_subline_2 {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.3;
  color: $color_font;
}

/* regular, 14px (0.875rem) */
%fontdefinition_card {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
  color: $color_font;
}

/* medium, 16px (1rem) */
%fontdefinition_button {
  font-family: $font_medium;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: $white;
}

/* medium, 16px (1rem) */
%fontdefinition_interaction {
  font-family: $font_medium;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: $color_font;
}

/* regular, 12px (0.75rem) */
%fontdefinition_error {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.3;
  color: $color_state_error;
}

/* bold, 14px (0.875rem) */
%fontdefinition_chips {
  font-family: $font_regular;
  font-weight: 700;
  font-size: 0.75rem;
  color: $black;
}

/* bold, 20px (1.25rem) */
%fontdefinition_headline_1_mobile {
  font-family: $font_bold;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  color: $color_font;
}

/* bold, 14px (0.875rem) */
%fontdefinition_headline_2_mobile {
  font-family: $font_bold;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $color_font;
}

/* bold, 12px (0.75rem) */
%fontdefinition_headline_3_mobile {
  font-family: $font_bold;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.3;
  color: $color_font;
}

/* regular, 14px (0.875rem) */
%fontdefinition_text_mobile {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
  color: $color_font;
}

/* regular, 12px (0.75rem) */
%fontdefinition_subline_mobile {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.3;
  color: $color_font;
}

/* medium, 14px (0.875rem) */
%fontdefinition_button_mobile {
  font-family: $font_medium;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $white;
}

/* regular, 14px (0.875rem) */
%fontdefinition_navigation_mobile {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
  color: $color_font;
}

/* medium, 16px (1rem) */
%fontdefinition_interaction_mobile {
  font-family: $font_medium;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: $color_font;
}

/* regular, 12px (0.75rem) */
%fontdefinition_error_mobile {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.3;
  color: $color_state_error;
}

/* regular, 12px (0.75rem) */
%fontdefinition_formfield_subline {
  font-family: $font_regular;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  color: $color_font;
}

* {
  @extend %fontdefinition_text;

  h1 {
    @extend %fontdefinition_headline_1;
  }

  h2 {
    @extend %fontdefinition_headline_2;
  }

  h3 {
    @extend %fontdefinition_headline_3;
  }

  h4 {
    @extend %fontdefinition_headline_4;
  }

  label {
    @extend %fontdefinition_headline_4;
    line-height: initial;
  }

  &.bootstrap {
    &-xs,
    &-sm,
    &-md {
      @extend %fontdefinition_text_mobile;

      label {
        @extend %fontdefinition_headline_2_mobile;
      }

      input[type="text"],
      textarea {
        @extend %fontdefinition_text_mobile;
      }
    }
  }
}

