<script>
export default {
  props: {
    panelComponentName: {
      type: String,
      required: true
    },
    panelConfiguration: {
      type: Object,
      required: true
    }
  }
};
</script>

<template>
  <div class="DipasSidebarPanelNewsletter">
    <!-- a11y: id is required for the screen reader, see "aria-labelledby" in DipasSidebar.vue -->
    <h2 :id="`ariaLabelledBy${panelComponentName}`">
      {{ panelConfiguration.headline }}
    </h2>

    <div
      class="panelContent"
      v-html="panelConfiguration.snippet"
    />
  </div>
</template>

<style lang="scss">
div.DipasSidebarPanelNewsletter {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  div.panelContent {
    flex: 1;
    overflow-y: auto;
  }
}
</style>
