<script>
export default {
  props: {
    panelComponentName: {
      type: String,
      required: true
    },
    panelConfiguration: {
      type: Object,
      required: true
    }
  },
  computed: {
    panelContent () {
      let content = this.panelConfiguration?.feedbackText.value ?? "";

      return content.replace(
        /<a href="(.+?)">/g,
        "<a href=\"$1\" target=\"_blank\">"
      ) ?? "";
    }
  }
};
</script>

<template>
  <div class="DipasSidebarPanelFeedback">
    <!-- a11y: id is required for the screen reader, see "aria-labelledby" in DipasSidebar.vue -->
    <h2 :id="`ariaLabelledBy${panelComponentName}`">
      {{ $t("sidebar.panels.feedback.title") }}
    </h2>

    <div
      ref="panelContent"
      class="panelContent"
      v-html="panelContent"
    />
  </div>
</template>

<style lang="scss">
div.DipasSidebarPanelFeedback {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  div.panelContent {
    flex: 1;
    overflow-y: auto;
    padding-right: 1rem;
  }
}
</style>
