<script>
/* eslint-disable vue/no-v-for-template-key */

import ContentPage from "@/pages/ContentPage/ContentPage.vue";

export default {
  extends: ContentPage,
  props: {
    panelComponentName: {
      type: String,
      required: true
    },
    panelConfiguration: {
      type: Object,
      required: true
    },
    endpoint: {
      type: String,
      default: "faq" // Provided statically
    }
  },
  methods: {
    setHtmlPageTitle () {
      // Method body intentionally left empty in order to
      // prevent the page title from being overridden since
      // this is just a sidebar panel
    }
  }
};
</script>

<template>
  <div class="ContentPage DipasSidebarPanelFaq">
    <!-- a11y: id is required for the screen reader, see "aria-labelledby" in DipasSidebar.vue -->
    <h2 :id="`ariaLabelledBy${panelComponentName}`">
      {{ $t("sidebar.panels.faq.title") }}
    </h2>

    <div class="faqContent">
      <template
        v-for="(section, sectionIndex) in pageContent"
        :key="'sectionwrapper-' + sectionIndex"
      >
        <component
          :is="getComponent(element)"
          v-for="(element, index) in section.paragraphs"
          :key="'paragraph-' + index"
          :ref="element.bundle + '-' + index"
          :content="element"
          class="paragraph"
          @contentLoaded="loadedContentElements++"
        />
      </template>
    </div>
  </div>
</template>

<style lang="scss">
div.ContentPage.DipasSidebarPanelFaq {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;

  div.faqContent {
    padding-right: 1rem;
    flex: 1;
    overflow-y: auto;

    h2 {
      @extend %fontdefinition_headline_3;
    }
  }

  &.isDesktop {
    padding-top: 0;
  }
}
</style>
