.toolbar-icon.toolbar-icon-dipas-config:before {
  background-image: url('dipas.svg');
}

.toolbar-item.dipas_vci {
  cursor: default;
  text-decoration: none;
}

.toolbar-item.dipas_vci:hover {
  text-decoration: none;
}

.toolbar-tab:last-of-type {
  float: right !important;
}
