<script>

import DipasButton from "@/components/DipasButton.vue";
import CommentForm from "@/pages/components/Comments/CommentForm.vue";

export default {
  components: {
    CommentForm,
    DipasButton,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
    rootEntityId: {
      type: String,
      required: true,
    },
    hideAnswerButton: {
      type: Boolean,
      required: false,
      default: false,
    },
    allowNewComments: {
      type: Boolean,
      required: true,
    },
  },
  emmit: [
    "formSubmittedSuccessfullyForwarded"
  ],
  data () {
    return {
      showForm: false,
    };
  },
  computed: {
    isInitialComment () {
      return this.item.parentCid === null;
    },
  },
  methods: {
    onFormSubmittedSuccessfully (insertedId) {
      this.showForm = false;
      this.$emit("formSubmittedSuccessfullyForwarded", insertedId);
    },
    onShowForm (commentId) {
      this.showForm = !this.showForm;
      this.onCommentHighlight(commentId);
    },
    onCommentHighlight (commentId) {
      const parentElement = document.querySelector(`#highlight_id_${commentId}`);
      const contentElement = parentElement.querySelector("div.content");

      contentElement.classList.add("highlighted");

      setTimeout(function () {
        contentElement.classList.remove("highlighted");
      }, 400, this);

      window.scrollTo(0, parentElement.getBoundingClientRect().top + window.scrollY);
    },
  },
};
</script>

<template>
  <div
    :id="`highlight_id_${item.cid}`"
    class="CommentsListItem"
    :class="{
      'isInitialComment': isInitialComment,
    }"
  >
    <div
      v-if="!isInitialComment"
      class="commentsListItemHeader"
    >
      <DipasButton
        :label="$t('pages.ContributionDetails.comments.linkAnswerHighlight', { 'parentId': item.parentCid, 'currentId': item.cid})"
        :inline="true"
        @click="onCommentHighlight(item.parentCid)"
      />
    </div>

    <div class="content">
      <p>
        {{ item.comment }}
      </p>

      <span v-if="!isInitialComment">
        {{ $t("pages.ContributionDetails.comments.createdAt") }} {{ $dayjs(item.created).format($t("datetime.format_date")) }}
      </span>
    </div>

    <DipasButton
      v-if="allowNewComments && !showForm && !hideAnswerButton"
      :label="$t('pages.ContributionDetails.comments.linkAnswer')"
      :inline="true"
      icon="reply_black_24dp"
      class="answerCommentButton"
      @click="onShowForm(item.cid)"
    />

    <CommentForm
      v-if="allowNewComments && showForm"
      commentEntityType="comment"
      :title="$t('pages.ContributionDetails.comments.titleAnswerTo', { answerId: item.cid })"
      :rootEntityId="rootEntityId"
      :commentParentId="item.cid"
      :focusOnMount="true"
      @formCanceled="showForm = false"
      @formSubmittedSuccessfully="onFormSubmittedSuccessfully"
    />
  </div>
</template>

<style lang="scss">
div.CommentsListItem {
  div.commentsListItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem 0 0.5rem 0;

    button.DipasButton {
      padding: 0;
    }

    span {
      @extend %fontdefinition_subline_2;
    }
  }

  div.content {
    margin: 0.5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    transition: .5s;

    p {
      @extend %fontdefinition_card;
      margin: 0;
    }

    span {
      align-self: flex-end;
      flex-shrink: 0;
      @extend %fontdefinition_subline_2;
    }

    &.highlighted {
      background-color: $color_state_active;
    }
  }

  &.isInitialComment {
    margin: 1rem 0;
  }

  button.DipasButton {
    &.answerCommentButton {
      padding: 0;
      margin: 0.5rem 0 0 0;
    }
  }

  div.CommentForm {
    margin: 1rem 0 1rem 0;
  }
}
</style>
