<script>
import DipasTextarea from "@/components/DipasTextarea.vue";
import DipasButton from "@/components/DipasButton.vue";
import DipasCard from "@/components/DipasCard.vue";

export default {
  components: {
    DipasCard,
    DipasButton,
    DipasTextarea,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    commentEntityType: {
      type: String,
      required: true,
      validator (val) {
        if (!["node", "comment"].includes(val)) {
          console.error("Invalid commentEntityType");
          return false;
        }

        return true;
      }
    },
    rootEntityId: {
      type: String,
      required: true,
    },
    commentParentId: {
      type: [null, String],
      required: true,
    },
    focusOnMount: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data () {
    return {
      form: {
        textarea: ""
      },
      askForCancel: false
    };
  },
  emmit: [
    "formCanceled",
    "formSubmittedSuccessfully",
  ],
  computed: {
    contributionsCommentsMinLength () {
      return 5;
    },
    contributionsCommentsMaxLength () {
      return this.$store.getters["proceeding/contributionsCommentsMaxLength"];
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  methods: {
    askForCancelConfirmation () {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Comments form', 'Comment creation cancellation initiated']);
      }

      this.askForCancel = true;
    },
    onSubmit () {
      if (
        Number(this.rootEntityId) &&
        !this.$refs.textarea.hasError() &&
        this.form.textarea.trim() !== ""
      ) {
        const data = {
          commentedEntityType: this.commentEntityType,
          rootEntityID: this.rootEntityId,
          commentedEntityID: this.commentParentId ?? this.rootEntityId,
          comment: this.form.textarea,
          subject: "",
        };

        this.$store.dispatch("interactions/storeComment", data).then((newCommentID) => {
          this.form.textarea = "";

          this.$emit("formSubmittedSuccessfully", newCommentID);
        });
      }
    },
    onCancel () {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Comments form', 'Comment creation cancelled']);
      }

      this.form.textarea = "";
      this.$refs.textarea.resetErrors();
      this.askForCancel = false;
      this.$emit("formCanceled");
    },
    quitCancel () {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Comments form', 'Comment creation continued']);
      }

      this.$refs.textarea.$refs.input.focus();
      this.askForCancel = false;
    }
  }
};
</script>

<template>
  <div class="CommentForm">
    <DipasCard>
      <template #headerLeft>
        {{ title }}
      </template>

      <DipasTextarea
        ref="textarea"
        v-model="form.textarea"
        :focusOnMount="focusOnMount"
        :placeholder="$t('pages.ContributionDetails.comments.form.textareaPlaceholder')"
        rows="3"
        :fieldLabelHidden="true"
        :fieldLabel="$t('pages.ContributionDetails.comments.form.textareaLabel')"
        :validationMinCharacterCount="{
          value: contributionsCommentsMinLength,
          error: $t('pages.ContributionDetails.comments.form.errorMessage.minCharacterCount', { count: contributionsCommentsMinLength }),
        }"
        :validationMaxCharacterCount="{
          value: contributionsCommentsMaxLength,
          showCounter: true,
          limitMaxLengthInput: false,
          error: $t('pages.ContributionDetails.comments.form.errorMessage.maxCharacterCount', { count: contributionsCommentsMaxLength }),
        }"
      />

      <div class="actions">
        <DipasButton
          :label="$t('pages.ContributionDetails.comments.form.buttonCancel')"
          class="secondary"
          @click="askForCancelConfirmation"
        />

        <DipasButton
          :label="$t('pages.ContributionDetails.comments.form.buttonSubmit')"
          :disabled="form.textarea.trim() === ''"
          @click="onSubmit"
        />
      </div>
    </DipasCard>

    <!-- show this modal if the user tries to cancel the comment-form -->
    <DipasModal
      v-if="askForCancel"
      id="DipasCancelCommentModal"
      class="cancelmodal"
      :iconClose="false"
      :useFooter="true"
    >
      <template #default>
        <h2> {{ $t("pages.ContributionDetails.comments.form.cancel.headline") }} </h2>
        <p> {{ $t("pages.ContributionDetails.comments.form.cancel.subline") }} </p>
      </template>

      <template #footer>
        <div class="footerButtonContainer">
          <DipasButton
            class="secondary"
            :label="$t('pages.ContributionDetails.comments.form.cancel.leftButtonText')"
            :title="$t('pages.ContributionDetails.comments.form.cancel.leftButtonText')"
            @click="quitCancel"
          />
        </div>

        <div class="footerButtonContainer">
          <DipasButton
            :label="$t('pages.ContributionDetails.comments.form.cancel.rightButtonText')"
            :title="$t('pages.ContributionDetails.comments.form.cancel.rightButtonText')"
            icon="delete_forever_black_24dp"
            @click="onCancel"
          />
        </div>
      </template>
    </DipasModal>
  </div>
</template>

<style lang="scss">
div.CommentForm {
  div.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 1rem 0;
  }

  div.DipasTextarea {
    margin: 1rem 0 0 0;
  }
}
</style>
