<script>
import DipasCollapsible from "@/components/DipasCollapsible.vue";
import DipasCollapsibleItem from "@/components/DipasCollapsibleItem.vue";
import DipasButton from "@/components/DipasButton.vue";
import DipasCard from "@/components/DipasCard.vue";
import CommentsListItem from "@/pages/components/Comments/CommentsListItem.vue";
import CommentForm from "@/pages/components/Comments/CommentForm.vue";

export default {
  components: {
    CommentForm,
    CommentsListItem,
    DipasButton,
    DipasCard,
    DipasCollapsible,
    DipasCollapsibleItem,
  },
  props: {
    rootEntityId: {
      type: String,
      required: true,
    },
    visibleCount: {
      type: Number,
      required: false,
      default: 3,
    },
    allowNewComments: {
      type: Boolean,
      required: true,
    },
  },
  data () {
    return {
      showForm: false,
      collapsibleOpened: null,
    };
  },
  computed: {
    commentsCount () {
      return this.$store.getters["interactions/commentsCount"](this.rootEntityId);
    },
    commentList () {
      return this.getFlattenedCommentsList(this.$store.getters["interactions/comments"](this.rootEntityId), this.visibleCount);
    },
    collapsibleContainsAddedComment: (app) => (items) => {
      return app.insertedCommentID && Boolean(items.find(item => item.cid === app.insertedCommentID));
    },
    insertedCommentID () {
      return this.$store.getters["interactions/insertedCommentID"];
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  beforeMount () {
    this.$store.dispatch("interactions/loadComments", this.rootEntityId);
  },
  methods: {
    onFormSubmittedSuccessfully (insertedId) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Comments form', 'Comment created']);
      }

      this.showForm = false;

      const parentElement = document.querySelector(`#highlight_id_${insertedId}`);

      window.scrollTo(0, parentElement.getBoundingClientRect().top + window.scrollY);
    },
    async onFormSubmittedSuccessfullyForwarded (insertedId) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Comments form', 'Comment reply created']);
      }

      const parentElement = document.querySelector(`#highlight_id_${insertedId}`);

      await this.$nextTick();

      window.scrollTo(0, parentElement.getBoundingClientRect().top + window.scrollY);
    },
    onCollapsibleOpened (state) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Comments list', 'Collapsible ' + (state ? 'opened' : 'closed')]);
      }

      this.collapsibleOpened = state;
    },
    /**
     * Generate an array with all visible and initially invisible (inside accordion) comments.
     */
    getFlattenedCommentsList (list, visibleCount) {
      const result = [];

      list.forEach((item) => {
        const itemData = {
          cid: item.cid,
          hasMore: 0,
          items: [],
        };

        // Must be an object, because the counter must be updated by reference!
        let counter = {
          count: 0,
        };

        this.recursiveFlattenCommentsList(item, itemData, counter, visibleCount);

        result.push(itemData);
      });

      return result;
    },
    recursiveFlattenCommentsList (data, result, counter, visibleCount, parentCid = null) {
      let visible = true;

      if (visibleCount && counter.count >= visibleCount) {
        result.hasMore = result.hasMore + 1;
        visible = false;
      }
      counter.count++;

      result.items.push({
        parentCid: parentCid,
        ...data,
        replies: undefined,
        visible: visible,
      });

      if (Array.isArray(data.replies)) {
        for (const reply of data.replies) {
          this.recursiveFlattenCommentsList(reply, result, counter, visibleCount, data.cid);
        }
      }
    },
    cancelCommentCreation () {
      this.showForm = false;
    }
  },
};
</script>

<template>
  <div class="CommentsList">
    <DipasCollapsible :renderAs="!isMobile ? 'transparent' : 'accordion'">
      <DipasCollapsibleItem
        :title="$t('pages.ContributionDetails.comments.commentCountLabel', { count: commentsCount})"
        :active="true"
      >
        <div class="inner">
          <div
            v-if="!showForm && commentList.length"
            class="listActions"
          >
            <div>
              <DipasButton
                v-if="allowNewComments"
                :label="$t('pages.ContributionDetails.comments.buttonCreateComment')"
                @click="showForm = !showForm"
              />
            </div>

            <div
              v-if="!isMobile"
              class="comments"
            >
              <span class="icon icon-question_answer_black_24dp-1" />

              {{ $t("pages.ContributionDetails.comments.commentCountLabel", {count: commentsCount}) }}
            </div>
          </div>

          <!-- Form above the comments list -->
          <CommentForm
            v-if="showForm"
            commentEntityType="node"
            :title="$t('pages.ContributionDetails.comments.newComment')"
            :rootEntityId="rootEntityId"
            :commentParentId="null"
            :focusOnMount="true"
            @formCanceled="cancelCommentCreation"
            @formSubmittedSuccessfully="onFormSubmittedSuccessfully"
          />

          <DipasCard
            v-for="(comment, commentIndex) in commentList"
            :id="`highlight_id_${comment.cid}`"
            :key="`comment_list_comment_${commentIndex}`"
            class="cardComment"
          >
            <template #headerLeft>
              {{ $t("pages.ContributionDetails.comments.labelCommentNumber") }} {{ comment.items[0].cid }}
            </template>

            <template #headerRight>
              {{ $t("pages.ContributionDetails.comments.createdAt") }} {{ $dayjs(comment.items[0].created).format($t("datetime.format_date")) }}
            </template>

            <!-- Iterate initially visible comments first. -->
            <template v-for="(item, index) in comment.items">
              <CommentsListItem
                v-if="item.visible"
                :key="`comment_list_item_initially_visible_${index}`"
                :item="item"
                :rootEntityId="rootEntityId"
                :class="[
                  index === 0 ? 'firstCommentsListItem' : 'subsequentCommentsListItems',
                  {'withReplies': comment.items.length > 1},
                  {'insertedComment': insertedCommentID === item.cid},
                ]"
                :allowNewComments="allowNewComments"
                @formSubmittedSuccessfullyForwarded="onFormSubmittedSuccessfullyForwarded"
              />
            </template>

            <!-- If there are more comments, render them inside an accordion -->
            <DipasCollapsible
              v-if="comment.hasMore > 0"
              renderAs="accordion"
              :isSmall="true"
            >
              <DipasCollapsibleItem
                :title="$t('pages.ContributionDetails.comments.showMoreComments', {'count': comment.hasMore })"
                :active="collapsibleContainsAddedComment(comment?.items)"
                @collapsibleOpened="onCollapsibleOpened"
              >
                <template v-for="(item, index) in comment.items">
                  <CommentsListItem
                    v-if="!item.visible"
                    :key="`comment_list_item_initially_hidden_${index}`"
                    :item="item"
                    :rootEntityId="rootEntityId"
                    :class="{
                      'insertedComment': insertedCommentID === item.cid,
                    }"
                    :allowNewComments="allowNewComments"
                    @formSubmittedSuccessfullyForwarded="onFormSubmittedSuccessfullyForwarded"
                  />
                </template>
              </DipasCollapsibleItem>
            </DipasCollapsible>
          </DipasCard>

          <!-- Bottom form, visible by default -->
          <CommentForm
            v-if="allowNewComments && !showForm"
            commentEntityType="node"
            :title="$t('pages.ContributionDetails.comments.newComment')"
            :rootEntityId="rootEntityId"
            :commentParentId="null"
            @formSubmittedSuccessfully="onFormSubmittedSuccessfully"
          />
        </div>
      </DipasCollapsibleItem>
    </DipasCollapsible>
  </div>
</template>

<style lang="scss">
div.CommentsList {
  div.listActions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 1rem 0;

    div.comments {
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      @extend %fontdefinition_headline_4;
      line-height: initial;
    }
  }

  div.cardComment {
    div.DipasCollapsible {
      margin: 0 0 0 1rem;

      div.DipasCollapsibleItemAccordion {
        border: none;

        div.body {
          padding: 0 0 1rem 0;
        }
      }
    }

    div.CommentsListItem {

      &.firstCommentsListItem {
        margin: 1rem 0 1rem 0;

        &.withReplies {
          border-bottom: solid 1px $color_border;
          padding: 0 0 1rem 0;
        }

        &.insertedComment {
          padding-top: 0.5rem;
          margin-bottom: 1rem;
        }
      }

      &.subsequentCommentsListItems {
        padding: 0 0 1rem 1rem;

        & > div.commentsListItemHeader {
          margin: 0;
        }

        &.insertedComment {
          margin-bottom: 1rem;

          & > div.commentsListItemHeader {
            margin-top: 1rem;
          }
        }
      }

      &.insertedComment {
        border-radius: $border-radius;
        border: solid 1px $color_border;
        color: $black;
        margin: 1rem 0 0 0;
        padding: 0 1rem 1rem 1rem;
      }
    }
  }
}
</style>
