<script>
import DipasRadioGroup from "@/components/DipasRadioGroup.vue";
import DipasSelect from "@/components/DipasSelect.vue";
import DipasInfoButton from "@/components/DipasInfoButton.vue";
import DipasCreateContributionModalStep from "./DipasCreateContributionModalStep.vue";

export default {
  components: {
    DipasRadioGroup,
    DipasSelect,
    DipasInfoButton
  },
  extends: DipasCreateContributionModalStep,
  computed: {
    options () {
      return this.$store.getters["proceeding/taxonomyTerms"]("rubrics");
    },
    rubricComponents () {
      const returnValue = [];

      this.options.forEach(rubric => {
        returnValue.push({
          backgroundColor: rubric.field_color,
          chipText: rubric.name,
          tooltipTitle: rubric.description ? rubric.name : null,
          tooltipText: rubric.description ? rubric.description : null,
          tooltipTextIsHTML: true
        });
      });

      return returnValue;
    },
    numberOfColumnsOnDesktop () {
      // each column shall consist of maximum 6 contribution types on Desktop
      return Math.ceil(this.options.length / 6);
    }
  },
  mounted () {
    this.formData.types = this.form ? this.form.types : undefined;

    this.$refs.contentContainer.scrollIntoView();
  },
  methods: {
    validateStep () {
      if (!this.mandatory ||
        (this.formData.types && (this.formData.types.length > 0 || typeof this.formData.types === "object"))) {

        this.stepIsValid = true;
        this.errorMessage = "";
      }
      else {
        this.stepIsValid = false;
        this.errorMessage = this.$t("wizard.steps.type.errorMessage");

        // find element to focus after error modal close, depending on desktop or mobile and number of options
        if (this.isDesktop) {
          if (this.numberOfColumnsOnDesktop <= 3) {
            this.focusOnError = this.$refs.typesList.$el.children[1].children[0];
          }
          else {
            this.focusOnError = this.$refs.typesSelect.$el.firstChild;
          }
        }
        else {
          this.focusOnError = this.$refs.mobiletypesList.$el.children[1].children[0];
        }
      }
    }
  }
};
</script>

<template>
  <div
    ref="contentContainer"
    class="DipasCreateContributionModalStepType DipasCreateContributionModalStep"
  >
    <div class="titleRow">
      <h2> {{ $t('wizard.steps.type.headline') }} </h2>

      <div
        v-if="mandatory"
        class="required"
      >
        <span aria-hidden="true">*</span>
        <span class="visually-hidden">{{ $t("form.general.required") }}</span>
      </div>

      <DipasInfoButton
        :tooltipTitle="$t('wizard.steps.type.infoButton.tooltipTitle')"
        :tooltipText="$t('wizard.steps.type.infoButton.tooltipText')"
        :label="$t('wizard.steps.type.infoButton.label')"
      />
    </div>

    <div
      v-if="isDesktop && numberOfColumnsOnDesktop <= 3"
      class="typesList"
    >
      <div class="typesListColumn">
        <DipasRadioGroup
          ref="typesList"
          v-model="formData.types"
          :options="options.slice(0,6)"
          optionValue="id"
          optionLabel="name"
          inputComponent="DipasTextChip"
          :componentProperties="rubricComponents.slice(0,6)"
          :fieldLabel="`${$t('wizard.steps.type.stepTitle')} ${getRadioGroupColumnNumbers(1, options)}`"
        />
      </div>

      <div class="typesListColumn">
        <DipasRadioGroup
          v-if="numberOfColumnsOnDesktop > 1"
          v-model="formData.types"
          :options="options.slice(6,12)"
          optionValue="id"
          optionLabel="name"
          inputComponent="DipasTextChip"
          :componentProperties="rubricComponents.slice(6,12)"
          :fieldLabel="`${$t('wizard.steps.type.stepTitle')} ${getRadioGroupColumnNumbers(2, options)}`"
        />
      </div>

      <div class="typesListColumn">
        <DipasRadioGroup
          v-if="numberOfColumnsOnDesktop > 2"
          v-model="formData.types"
          :options="options.slice(12)"
          optionValue="id"
          optionLabel="name"
          inputComponent="DipasTextChip"
          :componentProperties="rubricComponents.slice(12)"
          :fieldLabel="`${$t('wizard.steps.type.stepTitle')} ${getRadioGroupColumnNumbers(3, options)}`"
        />
      </div>
    </div>

    <div
      v-else-if="isDesktop && numberOfColumnsOnDesktop > 3"
      class="typesSelect"
    >
      <!-- show all contribution types in a select if more than 18 are available (= more than 3 columns necessary) [only on desktop] -->
      <DipasSelect
        ref="typesSelect"
        v-model="formData.types"
        :options="options"
        optionFieldId="id"
        optionFieldLabel="name"
        inputComponent="DipasTextChip"
        :componentProperties="rubricComponents"
        :optionPlaceholder="$t('wizard.steps.type.selectPlaceholder')"
      />
    </div>

    <div
      v-else
      class="mobiletypesList"
    >
      <DipasRadioGroup
        ref="mobiletypesList"
        v-model="formData.types"
        :options="options"
        optionValue="id"
        optionLabel="name"
        inputComponent="DipasTextChip"
        :componentProperties="rubricComponents"
        :fieldLabel="$t('wizard.steps.type.stepTitle')"
      />
    </div>

    <img
      class="wizardImage wizardTypeImage"
      src="@/assets/images/WizardStepType.svg"
      alt=""
      :class="`bootstrap-${activeBootstrapBreakpoint}`"
    />
  </div>
</template>

<style lang="scss">
div.DipasCreateContributionModalStepType {
  div.titleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h2 {
      @extend %fontdefinition_headline_4;
      margin: 0;
    }

    div.required {
      display: inline-block;
      margin: 0 0 0 0.25rem;

      span {
        color: $color_state_error;
      }
    }

    div.DipasInfoButton {
      margin-left: 0.5rem;
      line-height: 1;
    }
  }

  div.typesList {
    display: flex;
    flex-direction: row;
    padding-left: 0.25rem;

    div.typesListColumn {
      flex: 1;

      fieldset.DipasRadioGroup {
        width: 65%;
        margin-top: 1rem;

        div.DipasRadio.form-check {
          margin-bottom: 2rem;
        }
      }
    }
  }

  div.typesSelect {
    width: 65%;
    margin-top: 2rem;
  }

  &.isMobile,
  &.isTablet {
    fieldset.DipasRadioGroup {
      width: 100%;

      div.DipasRadio.form-check {
        margin-bottom: 1rem;
      }
    }
  }

  &.isMobile,
  &.isTablet {
    padding-top: 0;
    margin: 0 0.2rem 0 0.2rem;

    div.titleRow {
      margin-top: 0;
    }
  }
}
</style>
