<script>
import DipasRadioGroup from "@/components/DipasRadioGroup.vue";
import DipasSelect from "@/components/DipasSelect.vue";
import DipasInfoButton from "@/components/DipasInfoButton.vue";
import DipasCreateContributionModalStep from "./DipasCreateContributionModalStep.vue";

export default {
  components: {
    DipasRadioGroup,
    DipasSelect,
    DipasInfoButton
  },
  extends: DipasCreateContributionModalStep,
  computed: {
    options () {
      return this.$store.getters["proceeding/taxonomyTerms"]("categories");
    },
    categoryComponents () {
      const returnValue = [];

      this.options.forEach((category) => {
        returnValue.push({
          backgroundColor: category.field_color,
          chipText: category.name,
          tooltipTitle: category.description ? category.name : null,
          tooltipText: category.description ? category.description : null,
          tooltipTextIsHTML: true
        });
      });

      return returnValue;
    },
    numberOfColumnsOnDesktop () {
      // each column shall consist of maximum 6 categories on Desktop
      return Math.ceil(this.options.length / 6);
    }
  },
  mounted () {
    this.formData.categories = this.form ? this.form.categories : undefined;

    this.$refs.contentContainer.scrollIntoView();
  },
  methods: {
    validateStep () {
      if (
        !this.mandatory ||
        (this.formData.categories && (this.formData.categories.length > 0 || typeof this.formData.categories === "object"))
      ) {
        this.stepIsValid = true;
        this.errorMessage = "";
      }
      else {
        this.stepIsValid = false;
        this.errorMessage = this.$t("wizard.steps.category.errorMessage");

        // find element to focus after error modal close, depending on desktop or mobile and number of options
        if (this.isDesktop) {
          if (this.numberOfColumnsOnDesktop <= 3) {
            this.focusOnError = this.$refs.categoryList.$el.children[1].children[0];
          }
          else {
            this.focusOnError = this.$refs.categorySelect.$el.firstChild;
          }
        }
        else {
          this.focusOnError = this.$refs.mobilecategoryList.$el.children[1].children[0];
        }
      }
    }
  }
};
</script>

<template>
  <div
    ref="contentContainer"
    class="DipasCreateContributionModalStepCategory DipasCreateContributionModalStep"
  >
    <div class="titleRow">
      <h2>{{ `${$t('wizard.steps.category.headline')} (${options.length})` }}</h2>

      <div
        v-if="mandatory"
        class="required"
      >
        <span aria-hidden="true">*</span>
        <span class="visually-hidden">{{ $t("form.general.required") }}</span>
      </div>

      <DipasInfoButton
        :tooltipTitle="$t('wizard.steps.category.infoButton.tooltipTitle')"
        :tooltipText="$t('wizard.steps.category.infoButton.tooltipText')"
        :label="$t('wizard.steps.category.infoButton.label')"
      />
    </div>

    <div
      v-if="isDesktop && numberOfColumnsOnDesktop <= 3"
      class="categoryList"
    >
      <div class="categoryListColumn">
        <DipasRadioGroup
          ref="categoryList"
          v-model="formData.categories"
          :options="options.slice(0,6)"
          optionValue="id"
          optionLabel="name"
          inputComponent="DipasTextChip"
          :componentProperties="categoryComponents.slice(0,6)"
          :fieldLabel="`${$t('wizard.steps.category.stepTitle')} ${getRadioGroupColumnNumbers(1, options)}`"
        />
      </div>

      <div class="categoryListColumn">
        <DipasRadioGroup
          v-if="numberOfColumnsOnDesktop > 1"
          v-model="formData.categories"
          :options="options.slice(6,12)"
          optionValue="id"
          optionLabel="name"
          inputComponent="DipasTextChip"
          :componentProperties="categoryComponents.slice(6,12)"
          :fieldLabel="`${$t('wizard.steps.category.stepTitle')} ${getRadioGroupColumnNumbers(2, options)}`"
        />
      </div>

      <div class="categoryListColumn">
        <DipasRadioGroup
          v-if="numberOfColumnsOnDesktop > 2"
          v-model="formData.categories"
          :options="options.slice(12)"
          optionValue="id"
          optionLabel="name"
          inputComponent="DipasTextChip"
          :componentProperties="categoryComponents.slice(12)"
          :fieldLabel="`${$t('wizard.steps.category.stepTitle')} ${getRadioGroupColumnNumbers(3, options)}`"
        />
      </div>
    </div>

    <div
      v-else-if="isDesktop && numberOfColumnsOnDesktop > 3"
      class="categorySelect"
    >
      <!-- show all categories in a select if more than 18 are available (= more than 3 columns necessary) [only on desktop] -->
      <DipasSelect
        ref="categorySelect"
        v-model="formData.categories"
        :options="options"
        optionFieldId="id"
        optionFieldLabel="name"
        :optionPlaceholder="$t('wizard.steps.category.selectPlaceholder')"
      />
    </div>

    <div
      v-else
      class="mobilecategoryList"
    >
      <DipasRadioGroup
        ref="mobilecategoryList"
        v-model="formData.categories"
        :options="options"
        optionValue="id"
        optionLabel="name"
        inputComponent="DipasTextChip"
        :componentProperties="categoryComponents"
        :fieldLabel="$t('wizard.steps.category.stepTitle')"
      />
    </div>

    <img
      class="wizardImage wizardCategoryImage"
      src="@/assets/images/WizardStepCategory.svg"
      alt=""
      :class="`bootstrap-${activeBootstrapBreakpoint}`"
    />
  </div>
</template>

<style lang="scss">
div.DipasCreateContributionModalStepCategory {
  div.titleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;

    h2 {
      @extend %fontdefinition_headline_4;
      margin: 0;
    }

    div.required {
      display: inline-block;
      margin: 0 0 0 0.25rem;

      span {
        color: $color_state_error;
      }
    }

    div.DipasInfoButton {
      margin-left: 0.5rem;
      line-height: 1;
    }
  }

  div.categoryList {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 0.25rem;

    div.categoryListColumn {
      flex: 1;

      fieldset.DipasRadioGroup {
        margin-top: 2rem;

        div.DipasRadio.form-check {
          margin-bottom: 2rem;
        }
      }
    }
  }

  div.categorySelect {
    width: 65%;
    margin-top: 2rem;
  }

  &.isMobile,
  &.isTablet {
    fieldset.DipasRadioGroup {
      width: 100%;
      margin-top: 1rem;

      div.DipasRadio.form-check {
        margin-bottom: 1rem;
      }
    }
  }

  &.isMobile,
  &.isTablet {
    padding-top: 0;
    margin: 0 0.2rem 0 0.2rem;

    div.titleRow {
      margin-top: 0;
    }
  }
}
</style>
