<script>
import DipasButton from "@/components/DipasButton.vue";

export default {
  components: {
    DipasButton
  },
  props: {
    links: {
      type: Array,
      required: true,
      validator (value) {
        // Intentionally no return for valid-elements
        // eslint-disable-next-line consistent-return
        value.forEach(entry => {
          if (
            !entry.hasOwnProperty("id") ||
            !entry.hasOwnProperty("name") ||
            !entry.id.length ||
            !entry.name.length
          ) {
            console.error("DipasCreateContributionModalNavigation component was fed with faulty link definitions!");
            return false;
          }
        });

        return true;
      }
    },
    currentStep: {
      type: Number,
      required: true,
      default: 0
    },
    navigationDisabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  watch: {
    currentStep (newVal, oldVal) {
      if (newVal && newVal !== oldVal) {
        this.$refs[`DipasCreateContributionModalNavigation-Step-${newVal}`]?.[0]?.$el.focus();
      }
    }
  },
  methods: {
    isDisabled (index) {
      return (index > this.currentStep && !this.links[index].hasBeenVisited) || this.navigationDisabled;
    },
    onMoveToStep (index) {
      this.$emit("moveToStep", index);
    }
  }
};
</script>

<template>
  <nav class="DipasCreateContributionModalNavigation">
    <!-- this part will be shown in the header of the wizard on desktop devices and contains a 'classic navigation' -->
    <ul v-if="isDesktop">
      <li
        v-for="(link, index) in links"
        :key="link.id"
      >
        <DipasButton
          :ref="`DipasCreateContributionModalNavigation-Step-${index}`"
          class="secondary"
          :class="{'isCurrentStep': index === currentStep}"
          :disabled="isDisabled(index)"
          :label="link.name"
          @click="onMoveToStep(index)"
        />
      </li>
    </ul>

    <!-- this part will be shown in the footer of the wizard on mobile or tablet devices and contains a dotted line -->
    <div
      v-else
      class="bottomSlideLine"
    >
      <!-- a11y: Attributes and event listeners are only added to the HTML tag, if the step is not disabled. -->
      <span
        v-for="(link, index) in links"
        :key="`slide-circle-${index}`"
        :class="{
          'slide-circle': true,
          'slide-circle-active': index === currentStep,
          'disabled': isDisabled(index)
        }"
        :title="link.name"
        :role="!isDisabled(index) ? 'button' : null"
        :tabindex="!isDisabled(index) ? 0 : null"
        v-on="
          !isDisabled(index) ? {
            click: () => onMoveToStep(index),
            keyup: (event) => {
              // Handle enter key
              if (event.keyCode === 13) {
                onMoveToStep(index)
              }
            }
          } : {}
        "
      />
    </div>
  </nav>
</template>

<style lang="scss">
nav.DipasCreateContributionModalNavigation {
  margin: 0 -2rem 0.6875rem -2rem;
  padding: 0.5rem 0 0.5rem 0;
  background-color: $color_table_header;

  .isDesktop,
  .isTablet {
    height: 3.5625rem;
  }

  ul {
    margin: 0 2rem 0 2rem;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;

    li {
      display: inline-block;

        button.secondary {
          background-color: $white;
          height: 2.5625rem;

          &.isCurrentStep {
            text-decoration: underline;
          }
        }

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }

  div.bottomSlideLine {
    display: flex;
    flex-direction: row;
    justify-content: center;

    span.slide-circle {
      border: 1px solid $color_primary_1;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      background: white;
      margin-left: 5px;
      margin-top: 6px;
      cursor: pointer;

      &-active {
        background: $color_primary_1;
      }

      &.disabled {
        border-color: $color_font_disabled;
        cursor: default;
      }

      &:focus-visible:not(&-active):not(:target),
      &:focus-visible:not(.disabled):not(:target) {
        outline: 0.1875rem solid $color_focus;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
</style>
