<script>
import DipasButton from "@/components/DipasButton.vue";
import DipasInfoButton from "@/components/DipasInfoButton.vue";
import DipasMasterportal from "@/components/DipasMasterportal.vue";
import DipasCreateContributionModalStep from "./DipasCreateContributionModalStep.vue";

export default {
  components: {
    DipasButton,
    DipasInfoButton,
    DipasMasterportal
  },
  extends: DipasCreateContributionModalStep,
  props: {
    wizardSteps: {
      type: Array,
      required: true,
      default () {
        return [];
      }
    }
  },
  data () {
    return {
      timestamp: Date.now(),
    };
  },
  computed: {
    title () {
      return this.wizardSteps.find(step => step.id === "description")?.formData?.title ?? "";
    },
    description () {
      return this.wizardSteps.find(step => step.id === "description")?.formData?.description ?? "";
    },
    category () {
      const categoriesFromDipas = this.$store.getters["proceeding/taxonomyTerms"]("categories"),
        selectedCategory = this.wizardSteps.find(step => step.id === "category")?.formData?.categories;

      if (selectedCategory) {
        return categoriesFromDipas.find(cat => cat.id === selectedCategory).name;
      }

      return null;
    },
    type () {
      const typesFromDipas = this.$store.getters["proceeding/taxonomyTerms"]("rubrics"),
        selectedType = this.wizardSteps.find(step => step.id === "type")?.formData?.types;

      if (selectedType) {
        return typesFromDipas.find(type => type.id === selectedType).name;
      }

      return null;
    },
    locationType () {
      return this.wizardSteps.find(step => step.id === "location")?.formData?.selectedLocationType ?? "";
    },
    locationText () {
      return this.wizardSteps.find(step => step.id === "location")?.formData?.textdata ?? null;
    },
    locationGeodata () {
      return this.wizardSteps.find(step => step.id === "location")?.formData?.geodata ?? null;
    },
    locationGeodataType () {
      return this.locationGeodata
        ? JSON.parse(this.locationGeodata).geometry.type
        : "point";
    },
    // serves the masterportal settings for the overview map
    masterportalSrc () {
      const src = this.$store.getters["proceeding/masterportalUrl"]("createcontribution"),
        geodata = this.locationGeodata ? JSON.parse(this.locationGeodata) : null,
        latall = [],
        lonall = [];
      let center = "",
        extent = "",
        coord = [],
        valueToAdd = "projection=EPSG:4326&style=simple";

      if (typeof geodata === "object" && Object.keys(geodata).length) {
        if (geodata.geometry.type === "Point") {
          center = geodata.geometry.coordinates[0] + "," + geodata.geometry.coordinates[1];
          valueToAdd += "&zoomlevel=6&center=" + center;
        }
        else {
          if (geodata.geometry.type === "LineString") {
            coord = geodata.geometry.coordinates;
          }
          else if (geodata.geometry.type === "Polygon") {
            coord = geodata.geometry.coordinates[0];
          }

          coord.forEach(function (coordinate) {
            latall.push(coordinate[1]);
            lonall.push(coordinate[0]);
          });

          extent = Math.min(...lonall) + "," + Math.min(...latall) + "," + Math.max(...lonall) + "," + Math.max(...latall);
          valueToAdd += "&zoomtoextent=" + extent;
        }
      }

      return src + "?" + valueToAdd;
    }
  },
  mounted () {
    this.timestamp = Date.now();

    this.$refs.contentContainer.scrollIntoView();
  },
  methods: {
    validateStep () {
      this.stepIsValid = true;
      this.errorMessage = "";
    },
    editData (dataField) {
      const index = this.wizardSteps.findIndex(step => step.id === dataField);

      if (index !== -1) {
        this.$emit("moveToStep", index);
      }
    }
  }
};
</script>

<template>
  <div
    ref="contentContainer"
    class="DipasCreateContributionModalStepOverview DipasCreateContributionModalStep"
  >
    <div :class="{'row': isDesktop}">
      <div :class="{'col-6': isDesktop}">
        <div class="stepContainer">
          <p class="titleField">
            {{ $t("wizard.steps.overview.labels.title") }}
          </p>

          <p class="contentField">
            {{ title }}
          </p>

          <p class="titleField">
            {{ $t("wizard.steps.overview.labels.description") }}
          </p>

          <p class="contentField contentFieldDescription">
            {{ description }}
          </p>

          <DipasInfoButton
            :tooltipTitle="$t('wizard.steps.overview.infoButton.tooltipTitle')"
            :tooltipText="$t('wizard.steps.overview.infoButton.tooltipText')"
            :label="$t('wizard.steps.overview.infoButton.label')"
          />

          <DipasButton
            class="editDataButton"
            :label="$t('wizard.steps.overview.labels.edit')"
            :title="$t('wizard.steps.overview.labels.editTitle', {field: `${$t('wizard.steps.overview.labels.title')} + ${$t('wizard.steps.overview.labels.description')}` })"
            :inline="true"
            icon="edit_black_24dp"
            @click="editData('description')"
          />
        </div>

        <div
          v-if="category"
          class="stepContainer"
        >
          <p class="titleField">
            {{ $t("wizard.steps.overview.labels.category") }}
          </p>

          <p class="contentField">
            {{ category }}
          </p>

          <DipasButton
            class="editDataButton"
            :label="$t('wizard.steps.overview.labels.edit')"
            :title="$t('wizard.steps.overview.labels.editTitle', {field: $t('wizard.steps.overview.labels.category')})"
            :inline="true"
            icon="edit_black_24dp"
            @click="editData('category')"
          />
        </div>

        <div
          v-if="type"
          class="stepContainer"
        >
          <p class="titleField">
            {{ $t("wizard.steps.overview.labels.type") }}
          </p>

          <p class="contentField">
            {{ type }}
          </p>

          <DipasButton
            class="editDataButton"
            :label="$t('wizard.steps.overview.labels.edit')"
            :title="$t('wizard.steps.overview.labels.editTitle', {field: $t('wizard.steps.overview.labels.type')})"
            :inline="true"
            icon="edit_black_24dp"
            @click="editData('type')"
          />
        </div>

        <div
          v-if="locationType === 'geodata' && locationGeodata"
          class="stepContainer"
        >
          <p class="titleField">
            {{ $t("wizard.steps.overview.labels.geodata") }}
          </p>

          <p class="contentField">
            {{ $t("wizard.steps.overview.labels.geodataCheck") }}
          </p>

          <DipasButton
            class="editDataButton"
            :label="$t('wizard.steps.overview.labels.edit')"
            :title="$t('wizard.steps.overview.labels.editTitle', {field: $t('wizard.steps.overview.labels.geodata')})"
            :inline="true"
            icon="edit_black_24dp"
            @click="editData('location')"
          />
        </div>
      </div>

      <div :class="{'col-6': isDesktop}">
        <div
          v-if="locationType === 'text' && locationText"
          class="stepContainer"
        >
          <p class="titleField">
            {{ $t("wizard.steps.overview.labels.geodata") }}
          </p>

          <p class="contentField">
            {{ $t("wizard.steps.overview.labels.geodataText") }}
          </p>

          <p class="contentField">
            {{ locationText }}
          </p>

          <DipasButton
            class="editDataButton"
            :label="$t('wizard.steps.overview.labels.edit')"
            :title="$t('wizard.steps.overview.labels.editTitle', {field: $t('wizard.steps.overview.labels.geodata')})"
            :inline="true"
            icon="edit_black_24dp"
            @click="editData('location')"
          />
        </div>

        <div
          v-if="locationType === 'geodata' && locationGeodata"
          class="stepContainer masterportalContainer"
        >
          <div
            class="clickCatcher"
            tabindex="0"
          >
          </div>

          <DipasMasterportal
            :key="timestamp"
            :src="masterportalSrc"
            :fillSpace="true"
            useType="interact"
            :geometryType="locationGeodataType.toLowerCase()"
            :geodata="locationGeodata"
            :iframeTitle="$t('wizard.steps.overview.labels.iframeTitle')"
          />
        </div>
      </div>
    </div>

    <img
      class="wizardImage wizardOverviewImage"
      src="@/assets/images/WizardStepGeodata.svg"
      alt=""
      :class="`bootstrap-${activeBootstrapBreakpoint}`"
    />
  </div>
</template>

<style lang="scss">
div.DipasCreateContributionModalStepOverview {
  div.row {
    margin-right: 0;
    margin-left: 0;
  }

  div.stepContainer {
    padding: 1rem 1rem 1rem 1rem;
    position: relative;

    &:nth-child(odd) {
      background-color: $color_form;
    }

    p.titleField {
      @extend %fontdefinition_headline_4;
      margin-bottom: 0;
      margin-top: 0;

      &:not(:first-of-type) {
        margin-top: 1rem;
      }
    }

    > button.DipasButton {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
    }

    div.DipasInfoButton {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    p.contentField {
      @extend %fontdefinition_card;
      margin-bottom: 0;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;

      max-height: 3rem;
      width: calc(75%);
    }

    &.masterportalContainer {
      height: 40vh;

      div.clickCatcher,
      div.DipasMasterportal {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      div.clickCatcher {
        position: absolute;
        z-index: 10;
        margin-top: 5px;
      }

      div.DipasMasterportal {
        position: relative;
        z-index: 9;
      }
    }
  }

  &.bootstrap-xl {
    div.stepContainer {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;

      p.titleField:not(:first-of-type) {
        margin-top: 0.5rem;
      }
    }
  }

  &.isMobile,
  &.isTablet {
    div.stepContainer {
      padding-bottom: 2rem;

      p.titleField {
        @extend %fontdefinition_headline_2_mobile;
      }

      p.contentField {
        width: calc(95%);
      }
    }
  }
}
</style>
