<script>
export default {
  props: {
    form: {
      type: Object,
      required: false,
      default () {
        return {};
      }
    },
    mandatory: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return {
      stepIsValid: false,
      errorMessage: "",
      formData: {},
      focusOnError: null
    };
  },
  methods: {
    getRadioGroupColumnNumbers (columnIndex, options) {
      switch (columnIndex) {
        case 1:
          return `1-${options.length > 6 ? "6" : options.length}`;
        case 2:
          if (options.length === 7) {
            return "7";
          }
          else if (options.length > 11) {
            return "7-12";
          }

          return `7-${options.length}`;
        case 3:
          if (options.length === 13) {
            return "13";
          }
          else if (options.length > 17) {
            return "13-18";
          }

          return `13-${options.length}`;
        default:
          return "";
      }
    }
  }
};
</script>

<style lang="scss">
div.DipasCreateContributionModalStep {

  img.wizardImage {
    z-index: -1;

    &.bootstrap-xxl {
      position: absolute;
      right: 0;
      bottom: 4.563rem;
    }

    &.bootstrap-xl,
    &.bootstrap-lg {
      position: absolute;
      right: -120px;
      bottom: -35px;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5);
    }

    &.bootstrap-md {
      position: absolute;
      right: -95px;
      bottom: -15px;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6);
    }

    &.bootstrap-sm {
      position: absolute;
      right: -142px;
      bottom: -60px;
      -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      -ms-transform: scale(0.4);
      -o-transform: scale(0.4);
      transform: scale(0.4);
    }

    &.bootstrap-xs {
      position: absolute;
      right: -165px;
      bottom: -80px;
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
      -o-transform: scale(0.3);
      transform: scale(0.3);
    }
  }
}
</style>

