<script>
import DipasTextfield from "@/components/DipasTextfield.vue";
import DipasTextarea from "@/components/DipasTextarea.vue";
import DipasInfoButton from "@/components/DipasInfoButton.vue";
import DipasCreateContributionModalStep from "./DipasCreateContributionModalStep.vue";

export default {
  components: {
    DipasTextfield,
    DipasTextarea,
    DipasInfoButton
  },
  extends: DipasCreateContributionModalStep,
  data () {
    return {
      titleMinLength: 5,
      titleMaxLength: 250,
      descriptionMinLength: 10
    };
  },
  computed: {
    descriptionMaxLength () {
      return this.$store.getters["proceeding/contributionsMaxLength"];
    }
  },
  mounted () {
    this.formData.title = this.form ? this.form.title : undefined;
    this.formData.description = this.form ? this.form.description : undefined;

    this.$refs.contentContainer.scrollIntoView();
  },
  methods: {
    validateStep () {
      if (!this.mandatory ||
        (!this.$refs.title.hasError() && !this.$refs.description.hasError())) {

        this.stepIsValid = true;
        this.errorMessage = "";
      }
      else {
        this.stepIsValid = false;

        this.errorMessage = this.$t("wizard.steps.description.errorMessages.popupErrorMessage");

        if (this.$refs.title.hasError()) {
          this.errorMessage += "<br/>- " + this.$t("wizard.steps.description.titleLabel");
          this.focusOnError = this.$refs.title.$refs.input;
        }
        if (this.$refs.description.hasError()) {
          this.errorMessage += "<br/>- " + this.$t("wizard.steps.description.descriptionLabel");

          if (!this.$refs.title.hasError()) {
            this.focusOnError = this.$refs.description.$refs.input;
          }
        }
      }
    }
  }
};
</script>

<template>
  <div
    ref="contentContainer"
    class="DipasCreateContributionModalStepDescription DipasCreateContributionModalStep"
  >
    <DipasTextfield
      ref="title"
      v-model="formData.title"
      :fieldLabel="$t('wizard.steps.description.titleLabel')"
      :placeholder="$t('wizard.steps.description.inputPlaceholder', {count: titleMinLength})"
      :validationMinCharacterCount="{
        value: titleMinLength,
        error: $t('wizard.steps.description.errorMessages.minCharacterCount', { count: titleMinLength }),
      }"
      :validationMaxCharacterCount="{value: titleMaxLength}"
      :required="mandatory"
    />

    <DipasTextarea
      ref="description"
      v-model="formData.description"
      :fieldLabel="$t('wizard.steps.description.descriptionLabel')"
      rows="5"
      :placeholder="$t('wizard.steps.description.inputPlaceholder', {count: descriptionMinLength})"
      :validationMinCharacterCount="{
        value: descriptionMinLength,
        error: $t('wizard.steps.description.errorMessages.minCharacterCount', { count: descriptionMinLength }),
      }"
      :validationMaxCharacterCount="{
        value: descriptionMaxLength,
        showCounter: true,
        limitMaxLengthInput: true,
        error: $t('wizard.steps.description.errorMessages.maxCharacterCount', { count: descriptionMaxLength }),
      }"
      :required="mandatory"
    >
      <template #labelInfo>
        <DipasInfoButton
          :tooltipTitle="$t('wizard.steps.description.infoButton.tooltipTitle')"
          :tooltipText="$t('wizard.steps.description.infoButton.tooltipText')"
          :label="$t('wizard.steps.description.infoButton.label')"
        />
      </template>
    </DipasTextarea>

    <img
      class="wizardImage wizardTitleImage"
      src="@/assets/images/WizardStepTitle.svg"
      alt=""
      :class="`bootstrap-${activeBootstrapBreakpoint}`"
    />
  </div>
</template>

<style lang="scss">
div.DipasCreateContributionModalStepDescription {
  padding: 1rem 0.25rem 0.25rem 0.25rem;

  div.DipasTextfield,
  div.DipasTextarea {
    width: 65%;
  }

  div.DipasTextarea {
    margin-top: 2rem;
  }

  &.isMobile,
  &.isTablet {
    div.DipasTextfield,
    div.DipasTextarea {
      width: 100%;
    }

    div.DipasTextarea {
      margin-top: 1rem;
    }
  }

  &.isMobile,
  &.isTablet {
    padding-top: 0;
    margin: 0;
  }
}
</style>
