<script>
import DipasCreateContributionModalStep from "./DipasCreateContributionModalStep.vue";

export default {
  extends: DipasCreateContributionModalStep
};
</script>

<template>
  <div class="DipasCreateContributionModalStepCancel DipasCreateContributionModalStep">
    <div class="titleRow">
      <h2> {{ $t("wizard.cancel.headline") }} </h2>
      <p> {{ $t("wizard.cancel.subline") }} </p>
    </div>

    <img
      class="wizardImage wizardCancelImage"
      src="@/assets/images/WizardCancel.svg"
      alt=""
      :class="`bootstrap-${activeBootstrapBreakpoint}`"
    />
  </div>
</template>

<style lang="scss">
div.DipasCreateContributionModalStepCancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  div.titleRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;

    p {
      @extend %fontdefinition_text;
      margin-top: 1rem;
    }
  }
}
</style>
