body.role-project_admin div#edit-header.js-form-wrapper {
  display: none;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active {
  color: #000 !important;
}

form.node-story-edit-form div.field--type-story-step-entity-reference-field button.tabledrag-toggle-weight {
  display: none;
}