<script>
export default {
  props: {
    projectOwner: {
      type: Object,
      default () {
        return {
          city: "Hamburg",
          email: "",
          name: "",
          street1: "",
          street2: "",
          telephone: "",
          website: "",
          zip: ""
        };
      },
      required: true
    }
  },
  computed: {
    mailToLink () {
      return this.projectOwner.email ? "mailto:" + this.projectOwner.email : "";
    }
  }
};
</script>

<template>
  <div class="HomePageContact">
    <p> {{ projectOwner.name }} </p>

    <p> {{ projectOwner.street1 }} </p>

    <p v-if="projectOwner.street2 !== ''">
      {{ projectOwner.street2 }}
    </p>

    <p> {{ projectOwner.zip }} {{ projectOwner.city }}</p>


    <a
      v-if="mailToLink !== ''"
      class="email"
      :href="mailToLink"
    >
      <span class="icon icon-mail_black_24dp" />

      {{ projectOwner.email }}
    </a>

    <a
      v-if="projectOwner.website !== ''"
      class="website"
      :href="projectOwner.website"
      target="_blank"
    >
      <span class="icon icon-language_black_24dp" />

      {{ projectOwner.website }}
    </a>
  </div>
</template>

<style lang="scss">
div.HomePageContact {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  p {
    margin-bottom: 0;
  }

  a {
    color: $color_primary_1;
    text-decoration: none;
  }

  &.isDesktop {
    p {
      @extend %fontdefinition_text;
      line-height: 1.75rem;
    }

    a {
      @extend %fontdefinition_headline_4;
      color: $color_primary_1;
      line-height: 1.75rem;
    }
  }

  &.isMobile {
    padding-left: 1rem;
    padding-right: 1rem;

    p {
      @extend %fontdefinition_text_mobile;
      line-height: 1.375rem;
    }

    a {
      @extend %fontdefinition_headline_2_mobile;
      color: $color_primary_1;
      line-height: 1.375rem;
    }
  }
}
</style>
