<script>
import DipasButton from "@/components/DipasButton.vue";

export default {
  components: {
    DipasButton
  },
  data () {
    return {
      pageHasBeenScrolled: false
    };
  },
  computed: {
    proceedingTitle () {
      return this.$store.getters["proceeding/proceedingTitle"];
    },
    proceedingDescription () {
      return this.$store.getters["proceeding/landingPageText"];
    },
    proceedingPhase () {
      return this.$store.getters["proceeding/proceedingPhase"];
    },
    welcomeImage () {
      return this.$store.getters["proceeding/landingPageImage"];
    },
    buttonsBehavior () {
      return this.$store.getters["proceeding/landingPageButtons"];
    },
    leftButton () {
      const buttonBehavior = {
        text: this.$t("pages.HomePage.leftButtonDefaultText"),
        link: "/projectinfo",
        showButton: true
      };

      if (this.buttonsBehavior?.button_default_behavior === 0) {
        // this is the overridden behavior, defined by the project admin in the backend
        if (this.buttonsBehavior.overridden_behavior.left.behavior === "hidden") {
          buttonBehavior.showButton = false;
        }
        else {
          buttonBehavior.text = this.buttonsBehavior.overridden_behavior.left.text;

          if (this.buttonsBehavior.overridden_behavior.left.behavior !== "default") {
            buttonBehavior.link = "/" + this.buttonsBehavior.overridden_behavior.left.behavior;
          }
        }
      }
      else if (!this.hasProjectInfopage) {
        buttonBehavior.showButton = false;
      }

      return buttonBehavior;
    },
    rightButton () {
      const buttonBehavior = {
        text: this.$t("pages.HomePage.rightButtonDefaultText"),
        link: "/contributions",
        showButton: true
      };

      if (this.buttonsBehavior?.button_default_behavior === 1) {
        // this is the befault behavior, defined in DPS-1750
        switch (this.proceedingPhase) {
          case "unstarted":
            buttonBehavior.showButton = false;
            break;
          case "phase1":
            if (!this.$store.getters["proceeding/hasMenuItem"]("main", "contributions")) {
              buttonBehavior.showButton = false;
            }
            break;
          case "phase2":
            buttonBehavior.link = "/conceptionlist";
            break;
          case "frozen":
            buttonBehavior.text = this.$t("pages.HomePage.rightButtonFrozenText");
            break;
          default:
            break;
        }
      }
      else if (this.buttonsBehavior.overridden_behavior.right.behavior === "hidden") {
        // this is the overridden behavior, defined by the project admin in the backend
        buttonBehavior.showButton = false;
      }
      else {
        buttonBehavior.text = this.buttonsBehavior.overridden_behavior.right.text;

        if (this.buttonsBehavior.overridden_behavior.right.behavior !== "default") {
          buttonBehavior.link = "/" + this.buttonsBehavior.overridden_behavior.right.behavior;
        }
        else if (this.proceedingPhase === "phase2") {
          buttonBehavior.link = "/conceptionlist";
        }
      }

      return buttonBehavior;
    },
    hasProjectInfopage () {
      return this.$store.getters["proceeding/hasProjectInfopage"];
    }
  },
  mounted () {
    window.onscroll = () => {
      let scrolledTo = document.querySelector(".PageHeader");

      if (scrolledTo && scrolledTo.getBoundingClientRect().top < -50) {
        this.pageHasBeenScrolled = true;
      }
      else {
        this.pageHasBeenScrolled = false;
      }
    };
  }
};
</script>

<template>
  <section class="HomePageWelcome">
    <div
      class="componentInnerContainer"
      :class="{
        noBackgroundImage: welcomeImage.path === '',
        backgroundImage: welcomeImage.path !== '',
        hasProjectInfopage
      }"
      :style="{ backgroundImage: welcomeImage.path !== '' ? 'url(' + welcomeImage.path + ')' : '' }"
    >
      <div class="welcomeContainer">
        <img
          v-if="welcomeImage.path === '' && isDesktop"
          id="cowspot-dark"
          src="@/assets/images/HintergrundLandingDark.svg"
          :class="activeBootstrapBreakpoint"
          alt=""
        />

        <img
          v-if="welcomeImage.path === '' && !(orientation === 'isLandscape' && !isDesktop)"
          id="cowspot-lady"
          src="@/assets/images/HintergrundLandingLady.svg"
          :class="activeBootstrapBreakpoint"
          alt=""
        />

        <div
          class="infoContainer"
          :class="activeBootstrapBreakpoint"
        >
          <h1> {{ proceedingTitle }} </h1>

          <p> {{ proceedingDescription }} </p>

          <div class="welcomeButtonContainer">
            <DipasButton
              v-if="leftButton.showButton"
              :label="leftButton.text"
              class="primary"
              @click="leftButton.link === '/projectinfo' ? $parent.scrollToProjectInfo() : $router.push(leftButton.link)"
            />

            <DipasButton
              v-if="rightButton.showButton"
              :label="rightButton.text"
              class="primary"
              @click="$router.push(rightButton.link)"
            />
          </div>
        </div>
      </div>

      <img
        v-if="welcomeImage.path === '' && isDesktop"
        id="cowspot-light"
        src="@/assets/images/HintergrundLandingLight.svg"
        :class="activeBootstrapBreakpoint"
        alt=""
      />

      <div
        v-if="hasProjectInfopage && !(orientation === 'isLandscape' && !isDesktop)"
        ref="scrollButtonContainer"
        class="scrollToContainer"
      >
        <DipasButton
          :label="$t('pages.HomePage.buttonNextSection')"
          :iconOnly="true"
          icon="expand_more_black_24dp"
          class="secondary"
          :class="{fadeAnimation: !pageHasBeenScrolled}"
          @click="$parent.scrollToProjectInfo()"
        />
      </div>
    </div>
  </section>
</template>

<style lang="scss">
section.HomePageWelcome {
  div.componentInnerContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);

    &.hasProjectInfopage {
      // Calc height: Viewport height - headerHeight (see also isMobile/isTablet below)
      height: calc(100vh - 6.875rem);
    }

    &.noBackgroundImage {
      padding: 0 1.625rem 0 1.625rem;
    }

    &.backgroundImage {
      background-size: cover;
      background-position: center;
    }

    div.infoContainer {
      box-shadow: $box_shadow;
      border: 1px solid $color_border;
      border-radius: 5px;
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: $white;
    }

    div.scrollToContainer {
      text-align: center;
      margin: 1rem 0;
      z-index: 10;

      button.DipasButton {
        border-radius: 50%;
        border: solid 1px $color_border;
        height: 4.5rem;
        width: 4.5rem;
        align-items: center;
        justify-content: center;
        background-color: $white;

        span {
          color: $color_primary_2;
          font-size: 3.5rem;
        }

        &.fadeAnimation {
          animation: buttonwelle 3s infinite linear;

          @media (prefers-reduced-motion: reduce) {
            animation: none;
          }
        }

        @keyframes buttonwelle {
          0% {
            transform: scale(0.8);
            opacity: 0.5;
          }
          50% {
            transform: scale(1);
            opacity: 1;
          }
          100% {
            transform: scale(0.8);
            opacity: 0.5;
          }
        }
      }
    }

    img#cowspot-light {
      &.xxl {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &.xl {
        position: absolute;
        right: -67px;
        bottom: -109px;
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
      }
    }
  }

  &.isDesktop,
  &.isTablet {
    div.componentInnerContainer {
      div.welcomeContainer {
        flex: 1;

        div.infoContainer {
          height: 332px;
          padding: 2rem;

          &.xxl {
            width: 728px;
            top: 160px;
            left: 200px;
          }

          &.xl {
            width: 728px;
            top: 60px;
            left: 100px;
          }

          &.lg {
            width: 760px;
            top: 160px;
          }

          &.md {
            width: 732px;
            top: 160px;
          }

          h1 {
            @extend %fontdefinition_headline_1;
            line-height: initial;
            margin-bottom: 2rem;
          }

          p {
            @extend %fontdefinition_text;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          div.welcomeButtonContainer {
            display: flex;
            gap: 2rem;
          }

          button.DipasButton {
            @extend %fontdefinition_headline_1;
          }
        }

        img#cowspot-dark {

          &.xxl {
            position: relative;
            top: 133px;
            left: 140px;
          }

          &.xl {
            position: relative;
            top: 30px;
            left: 40px;
          }
        }

        img#cowspot-lady {
          &.xxl {
            position: absolute;
            left: 820px;
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            -o-transform: scale(0.8);
            transform: scale(0.8);
          }

          &.xl {
            position: absolute;
            left: 560px;
            top: -160px;
            -webkit-transform: scale(0.5);
            -moz-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -o-transform: scale(0.5);
            transform: scale(0.5);
          }

          &.lg {
            position: relative;
            top: 130px;
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            transform: scale(0.7);
          }

          &.md {
            position: relative;
            top: 210px;
            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6);
            -ms-transform: scale(0.6);
            -o-transform: scale(0.6);
            transform: scale(0.6);
          }
        }
      }
    }
  }

  &.isTablet,
  &.isMobile {
    div.componentInnerContainer {
      height: calc(100vh - 3rem);

      div.welcomeContainer {
      display: flex;
      justify-content: center;
    }
    }
  }

  &.isMobile {
    div.componentInnerContainer {
      div.welcomeContainer {
        flex: 1;

        div.infoContainer {
          height: 307px;
          padding: 1rem;

          width: 348px;
          top: 64px;

          h1 {
            @extend %fontdefinition_headline_1_mobile;
            line-height: initial;
            margin-bottom: 1rem;
          }

          p {
            @extend %fontdefinition_text_mobile;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          div.welcomeButtonContainer {
            display: flex;
            gap: 2rem;
          }

          button.DipasButton {
            @extend %fontdefinition_button_mobile;
          }
        }

        img#cowspot-lady {
          position: absolute;
          -webkit-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -ms-transform: scale(0.5);
          -o-transform: scale(0.5);
          transform: scale(0.5);

          &.sm{
            top: 120px;
          }

          &.xs{
            top: 75px;
            transform: scale(0.4);
            -webkit-transform: scale(0.4);
            -moz-transform: scale(0.4);
            -ms-transform: scale(0.4);
            -o-transform: scale(0.4);
          }
        }
      }

      div.scrollToContainer {
        button.DipasButton {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }
}
</style>
