<script>
import ContentPage from "@/pages/ContentPage/ContentPage.vue";
import DipasCollapsible from "@/components/DipasCollapsible.vue";
import DipasCollapsibleItem from "@/components/DipasCollapsibleItem.vue";
import HomePageContact from "./HomePageContact.vue";
import HomePageDownloads from "./HomePageDownloads.vue";

export default {
  components: {
    ContentPage,
    DipasCollapsible,
    DipasCollapsibleItem,
    HomePageContact,
    HomePageDownloads
  },
  computed: {
    projectOwner () {
      return this.$store.getters["proceeding/projectOwner"];
    },
    projectDownloads () {
      return this.$store.getters["proceeding/projectDownloads"];
    }
  },
  methods: {
    onContentLoadedScrollToNextSection () {
      // The ContentPage component triggers the "contentLoaded" event, after its content is rendered completely.
      // If the current page is /#projectinfo, then the page automatically scrolls to project info section.
      if (this.$route.fullPath === "/#projectinfo") {
        this.$parent.scrollToProjectInfo();
      }
    }
  }
};
</script>

<template>
  <section
    ref="infoPage"
    class="HomePageInfoPage row"
  >
    <div class="infoContentMain">
      <div class="infoPageContainer">
        <ContentPage
          endpoint="projectinfo"
          @contentLoaded="onContentLoadedScrollToNextSection"
        />
      </div>

      <DipasCollapsible
        renderAs="accordion"
        :accordionAutoCollapse="false"
        :isSmall="isMobile ? true : false"
      >
        <DipasCollapsibleItem
          v-if="projectOwner"
          key="index-contact"
          :active="true"
          :title="$t('pages.HomePage.accordeonContactTitle')"
        >
          <HomePageContact
            :projectOwner="projectOwner"
          />
        </DipasCollapsibleItem>

        <DipasCollapsibleItem
          v-if="projectDownloads.length"
          key="index-download"
          :active="true"
          :title="$t('pages.HomePage.accordeonDownloadsTitle')"
        >
          <HomePageDownloads
            :projectDownloads="projectDownloads"
          />
        </DipasCollapsibleItem>
      </DipasCollapsible>
    </div>
  </section>
</template>

<style lang="scss">
section.HomePageInfoPage {
  &.isTablet {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  div.ContentPage {
    padding-right: 0;
    padding-left: 0;
  }

  &.isMobile {
    div.ContentPage {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    &.bootstrap-xs {
      margin-top: 3rem;
    }
  }
}
</style>
