<script>
export default {
  props: {
    projectDownloads: {
      type: Array,
      default () {
        return [];
      },
      required: true
    }
  },
  methods: {
  /**
    * Adds the extension to the fileName for more user transparency
    * @type {String} fileNameWithExtension
    */
    linkFileName (file) {
      const pointIndex = file.url.lastIndexOf("."),
        extension = file.url.substr(pointIndex + 1);
      let returnValue = file.name;

      if (pointIndex > 0) {
        returnValue = file.name + " (" + extension.toUpperCase() + ")";
      }

      if (file.fordoc) {
        returnValue = this.$t("pages.HomePage.fileIsForDocumentation") + ": " + returnValue;
      }

      return returnValue;
    }
  }
};
</script>

<template>
  <div class="HomePageDownloads">
    <a
      v-for="(element, index) in projectDownloads"
      :key="index"
      :href="element.url"
    >
      <span class="icon icon-download_black_24dp" />

      {{ linkFileName(element) }}
    </a>
  </div>
</template>

<style lang="scss">
div.HomePageDownloads {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  p {
    margin-bottom: 0;
  }

  a {
    color: $color_primary_1;
    text-decoration: none;
  }

  &.isDesktop {
    p {
      @extend %fontdefinition_text;
      line-height: 1.75rem;
    }

    a {
      @extend %fontdefinition_headline_4;
      color: $color_primary_1;
      line-height: 1.75rem;
    }
  }

  &.isMobile {
    padding-left: 1rem;
    padding-right: 1rem;

    p {
      @extend %fontdefinition_text_mobile;
      line-height: 1.375rem;
    }

    a {
      @extend %fontdefinition_headline_2_mobile;
      color: $color_primary_1;
      line-height: 1.375rem;
    }
  }
}
</style>
