<script>
import DipasCard from "@/components/DipasCard.vue";
import DipasTextChip from "@/components/DipasTextChip.vue";

export default {
  components: {
    DipasTextChip,
    DipasCard,
  },
  props: {
    contributionID: {
      type: [Number, String],
      required: true
    }
  },
  computed: {
    relatedContributions () {
      return this.$store.getters["contributions/relatedContributions"](this.contributionID);
    },
    contributionCategoryName: (app) => (categoryId) => {
      return app.$store.getters["proceeding/taxonomyTermProperty"]("categories", categoryId, "name");
    },
    contributionCategoryColor: (app) => (categoryId) => {
      return app.$store.getters["proceeding/taxonomyTermProperty"]("categories", categoryId, "field_color");
    },
    displayRatings () {
      return this.$store.getters["proceeding/contributionsRatingsShowExisting"];
    },
    displayCommentCount () {
      return this.$store.getters["proceeding/contributionsCommentsShow"];
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  beforeMount () {
    this.$store.dispatch("contributions/loadRelatedContributions", this.contributionID);
  },
  methods: {
    switchToRelatedContribution (nid) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Contribution detail page', 'Navigated to related contribution']);
      }

      this.$router.push({name: "route_ContributionDetail", params: {id: nid}});
    }
  }
};
</script>

<template>
  <div class="ContributionsRelated">
    <DipasCard>
      <template
        v-if="!isMobile"
        #headerLeft
      >
        {{ $t("pages.ContributionDetails.relatedContributions.cardTitle") }}
      </template>

      <button
        v-for="(item, index) in relatedContributions"
        :key="`related_contribution_${index}`"
        class="item"
        :class="{'even-row-index': index%2!==0}"
        :title="$t('pages.ContributionDetails.relatedContributions.openRelatedContribution', { contributionTitle: item.title})"
        :aria-label="$t('pages.ContributionDetails.relatedContributions.openRelatedContribution', { contributionTitle: item.title})"
        @click="switchToRelatedContribution(item.nid)"
        @keyup.enter="switchToRelatedContribution(item.nid)"
      >
        <div class="textEllipsis">
          <DipasTextChip
            :chipText="contributionCategoryName(item.category)"
            :backgroundColor="contributionCategoryColor(item.category)"
          />

          <div class="text">
            {{ item.title }}
          </div>
        </div>

        <div>
          <div class="icons">
            <div v-if="displayCommentCount">
              <span class="counter">
                {{ item.comments }}
              </span>

              <span class="icon icon-question_answer_black_24dp-1"></span>
            </div>

            <div v-if="displayRatings">
              <span class="counter">
                {{ item.numVotes }}
              </span>

              <span class="icon icon-thumbs_up_down_black_24dp"></span>
            </div>
          </div>
        </div>
      </button>
    </DipasCard>
  </div>
</template>

<style lang="scss">
div.ContributionsRelated {
  div.DipasCard {
    div.mainCard {
      div.inner {
        padding-top: 0.5rem;
        margin: 0;

        button.item {
          display: flex;
          padding: 0.75rem 1rem 0.5rem 1rem;
          width: 100%;
          border-width: 0;
          background-color: $white;

          &.even-row-index {
            background-color: $color_form;
          }

          &:hover {
            background-color: $color_table_header;
          }

          &:focus {
            outline: 0.1875rem solid $color_focus;
          }

          div.DipasTextChip {
            margin: 0 0 0.625rem 0;
          }

          div.textEllipsis {
            flex: 1;
            min-width: 0;
            text-align: left;

            div.text {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              @extend %fontdefinition_card;
              line-height: initial;
            }
          }

          div.icons {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0 0 0 2rem;

            div {
              display: flex;
              align-items: center;
              gap: 0.25rem;
            }

            span.counter {
              @extend %fontdefinition_subline_2;
            }
          }
        }
      }
    }
  }
}
</style>
