<script>
import DipasButton from "@/components/DipasButton.vue";

export default {
  components: {
    DipasButton,
  },
  props: {
    entityType: {
      type: String,
      default: "",
    },
    entityID: {
      type: String,
      default: "",
    },
    upVotes: {
      type: [Number, String],
      default: 0,
    },
    downVotes: {
      type: [Number, String],
      default: 0,
    },
    ratingActive: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  computed: {
    colors () {
      // dipasSettings is defined as a global const by a DIPAS design endpoint
      // eslint-disable-next-line
      return dipasSettings?.colors;
    },
    cookiesAccepted () {
      return this.$store.getters.cookiesAccepted;
    },
    rateAlreadyCasted () {
      return Object.keys(this.$store.getters["interactions/ratedEntities"](this.entityType)).indexOf(this.entityID) > -1;
    },
    votedDirection () {
      const votingData = this.$store.getters["interactions/ratedEntities"](this.entityType);

      return votingData[Number(this.entityID)] ?? 0;
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  methods: {
    onVote (rating) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Rating', 'Rating casted: ' + (rating === 1 ? 'positive' : 'negative')]);
      }

      this.$store.dispatch(
        "interactions/storeRating",
        {
          id: this.entityID,
          rating,
        }
      );
    },
  },
};
</script>

<template>
  <div class="Rating">
    <template v-if="ratingActive">
      <div class="ratingActive">
        <span>
          {{ $t("pages.ContributionDetails.ratings.titleRatingActive") }}
        </span>

        <div>
          <span class="counter">
            {{ upVotes || "0" }}
          </span>

          <DipasButton
            :label="$t('pages.ContributionDetails.ratings.buttonLabelVoteUp')"
            :iconOnly="true"
            :inline="true"
            :icon="votedDirection === 1 ? 'thumb_up_off_alt_black_24dp' : 'thumb_down_off_alt_black_24dp-1'"
            :iconAfterText="true"
            :iconColor="cookiesAccepted ? colors.primary1 : undefined"
            :disabled="!cookiesAccepted || rateAlreadyCasted"
            :disabledTitle="$t(!cookiesAccepted ? 'rating.disabledTitles.cookiesNotAccepted' : 'rating.disabledTitles.rateAlreadyCasted')"
            @click="onVote(1)"
          />
        </div>

        <div>
          <span class="counter">
            {{ downVotes || "0" }}
          </span>

          <DipasButton
            :label="$t('pages.ContributionDetails.ratings.buttonLabelVoteDown')"
            :iconOnly="true"
            :inline="true"
            :icon="votedDirection === -1 ? 'thumb_down_alt_black_24dp' : 'thumb_down_off_alt_black_24dp'"
            :iconAfterText="true"
            :iconColor="cookiesAccepted ? colors.primary1 : undefined"
            :disabled="!cookiesAccepted || rateAlreadyCasted"
            :disabledTitle="$t(!cookiesAccepted ? 'rating.disabledTitles.cookiesNotAccepted' : 'rating.disabledTitles.rateAlreadyCasted')"
            @click="onVote(-1)"
          />
        </div>
      </div>
    </template>

    <template v-else>
      <div class="ratingInactive">
        <span>
          {{ $t("pages.ContributionDetails.ratings.titleRatingInactive") }}
        </span>

        <div>
          <span class="counter">
            {{ upVotes || "0" }}
          </span>

          <span
            class="icon icon-thumb_up_off_alt_black_24dp"
          />
        </div>

        <div>
          <span class="counter">
            {{ downVotes || "0" }}
          </span>

          <span
            class="icon icon-thumb_down_alt_black_24dp"
          />
        </div>
      </div>
    </template>
  </div>
</template>

<style lang="scss">
div.Rating {
  div.ratingActive,
  div.ratingInactive {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    div {
      display: flex;
      align-items: center;
    }

    & > span:first-child {
      @extend %fontdefinition_headline_4;
      margin-bottom: 0;
    }
  }

  .ratingInactive {
    div {
      gap: 0.5rem;
    }
  }
}
</style>
