<script>
import DipasTextChip from "@/components/DipasTextChip.vue";

export default {
  components: {
    DipasTextChip
  },
  props: {
    contribution: {
      type: Object,
      required: true
    }
  },
  computed: {
    typesIncluded () {
      return this.$store.getters["proceeding/typesIncluded"];
    },
    contributionDate () {
      return this.$dayjs(this.contribution.created).format(this.$t("datetime.format_date"));
    },
    displayRatings () {
      return this.$store.getters["proceeding/contributionsRatingsShowExisting"];
    },
    displayCommentCount () {
      return this.$store.getters["proceeding/contributionsCommentsShow"];
    }
  },
  methods: {
    getContributionsDetailUrl (nid) {
      return "/" + this.$router.resolve({name: "route_ContributionDetail", params: {id: nid}}).href;
    },
    openContributionDetails (nid) {
      this.$router.push({name: "route_ContributionDetail", params: {id: nid}});
    }
  }
};
</script>

<template>
  <div
    class="ContributionsListElement"
    @keyup.enter="openContributionDetails(contribution.nid)"
    @click="openContributionDetails(contribution.nid)"
  >
    <a :href="getContributionsDetailUrl(contribution.nid)">
      <header>
        <div class="column left">
          <DipasTextChip
            :chipText="$store.getters['proceeding/taxonomyTermProperty']('categories', contribution.category, 'name')"
            :backgroundColor="$store.getters['proceeding/taxonomyTermProperty']('categories', contribution.category, 'field_color')"
            :tooltipTitle="$store.getters['proceeding/taxonomyTermProperty']('categories', contribution.category, 'name')"
            :tooltipText="$store.getters['proceeding/taxonomyTermProperty']('categories', contribution.category, 'description')"
            :tooltipTextIsHTML="true"
          />
        </div>

        <div class="column right">
          <p>
            <span
              v-if="typesIncluded"
              class="rubric"
            >
              {{ $store.getters['proceeding/taxonomyTermProperty']('rubrics', contribution.rubric, 'name') }}
            </span>

            <span
              v-if="displayCommentCount"
              class="counter comments"
            >
              {{ contribution.comments }}
              <span class="icon icon-question_answer_black_24dp" />
            </span>

            <span
              v-if="displayRatings"
              class="counter votes upvotes"
            >
              {{ contribution.upVotes }}
              <span class="icon icon-thumb_up_off_alt_black_24dp" />
            </span>

            <span
              v-if="displayRatings"
              class="counter votes downVotes"
            >
              {{ contribution.downVotes }}
              <span class="icon icon-thumb_down_alt_black_24dp" />
            </span>
          </p>
        </div>
      </header>

      <div class="content">
        <div class="title">
          <p>{{ contribution.title }}</p>
        </div>

        <div class="contributiontext">
          <p>{{ contribution.text }}</p>
        </div>
      </div>

      <footer>
        <div class="column left">
          <p>{{ $t("pages.Contributions.ContributionsList.Teaser.createdOn") }} {{ contributionDate }}</p>
        </div>

        <div class="column right">
          <!-- TODO -->
          <p class="linkText">
            {{ $t("pages.Contributions.ContributionsList.Teaser.readMore") }}
          </p>
        </div>
      </footer>
    </a>
  </div>
</template>

<style lang="scss">
div.ContributionsListElement {
  padding: 1rem;
  margin: 0 0 1rem 0;
  border: solid 1px $color_border;
  border-radius: 3px;
  box-shadow: 0rem 0.1875rem 0.375rem 0rem rgba($black, 0.25);
  cursor: pointer;

  &:hover {
    background-color: $color_table_header;
  }

  &:focus-visible {
    outline: 0.1875rem solid $color_focus;
  }

  a {
    text-decoration: none;
  }

  header {
    margin-bottom: 1rem;

    div.column {
      display: inline-block;
      width: 50%;

      &.left { text-align: left; }
      &.right { text-align: right; }

      & > p {
        margin: 0;

        span {
          &:not(:last-of-type) {
            margin-right: 1rem;
          }

          &.rubric {
            @extend %fontdefinition_subline;
          }

          &.counter {
            @extend %fontdefinition_subline_2;
          }

          &.icon {
            position: relative;
            top: 3px;
          }

          &.votes {
            span.icon {
              top: 1px;
            }
          }
        }
      }
    }
  }

  div.content {
    & > div {
      & > p {
        @extend %fontdefinition_card;
      }

      &.title {
        & > p {
          @extend %fontdefinition_headline_2_mobile;
        }
      }

      &.contributiontext {
        & > p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  footer {
    div.column {
      display: inline-block;
      width: 50%;

      &.left { text-align: left; }
      &.right { text-align: right; }

      & > p {
        @extend %fontdefinition_subline_2;
        margin: 0;

        &.linkText {
          @extend %fontdefinition_subline_2;
          color: $color_primary_1;
          text-decoration: underline;

          &:not(:last-of-type) {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  &.isMobile {
    header {
      margin-bottom: 0.5rem;

      div.column {
        display: block;
        width: 100%;

        &.left { margin-bottom: 0.5rem; }
        &.right { text-align: left; }
      }
    }
  }
}
</style>
