<script>
import DipasSelect from "@/components/DipasSelect.vue";
import DipasTextfield from "@/components/DipasTextfield.vue";
import DipasButton from "@/components/DipasButton.vue";

export default {
  components: {
    DipasSelect,
    DipasTextfield,
    DipasButton
  },
  data () {
    return {
      filterSettings: {
        category: [],
        rubric: []
      },
      sortBy: undefined,
      search: "",
      showFilterModal: false,
      openDirection: "below",
    };
  },
  computed: {
    settings () {
      // eslint-disable-next-line no-undef
      return dipasSettings;
    },
    showRatings () {
      return this.$store.getters["proceeding/contributionsRatingsShowExisting"];
    },
    showComments () {
      return this.$store.getters["proceeding/contributionsCommentsShow"];
    },
    sortOptions () {
      const options = [],
        properties = ["date"];

      if (this.showComments) {
        properties.push("comments");
      }

      if (this.showRatings) {
        properties.push("rating");
      }

      properties.forEach(property => {
        ["DESC", "ASC"].forEach(direction => {
          const langStrIDPrefix = "pages.Contributions.ContributionsList.Filter.sortOptions.";

          options.push({
            value: property + direction,
            label: this.$t(langStrIDPrefix + property) + " " + this.$t(langStrIDPrefix + direction)
          });
        });
      });

      return options;
    },
    typesIncluded () {
      return this.$store.getters["proceeding/typesIncluded"];
    },
    categoryOptions () {
      return this.termOptions("categories");
    },
    rubricOptions () {
      return this.termOptions("rubrics");
    },
    filterButtonIconColor () {
      return this.filterSettings.category.length ||
      this.filterSettings.rubric.length ||
      this.search.length
        ? this.settings.colors.primary1
        : this.settings.colors.blank;
    },
    filterActive () {
      return this.filterSettings.category.length ||
        this.filterSettings.rubric.length ||
        this.search.length;
    }
  },
  watch: {
    filterSettings: {
      deep: true,
      handler (val) {
        this.$emit("filter", val);
      }
    }
  },
  methods: {
    termOptions (vocab) {
      const terms = this.$store.getters["proceeding/taxonomyTerms"](vocab);

      return terms.map(elem => ({id: elem.id, label: elem.name}));
    },
    resetFilter () {
      this.filterSettings.category = [];
      this.filterSettings.rubric = [];
      this.sortBy = undefined;
      this.search = "";
      this.showFilterModal = false;
      this.$emit("resetFilter");
    },
    commenceSearch () {
      this.$emit("search", this.search);
    }
  }
};
</script>

<template>
  <section class="ContributionsListFilter">
    <p>{{ $t("pages.Contributions.ContributionsList.Filter.label") }}</p>

    <div
      class="inputs"
      :class="{brief: !isDesktop}"
    >
      <template v-if="isDesktop">
        <DipasSelect
          v-model="filterSettings.category"
          :optionPlaceholder="$t('pages.Contributions.ContributionsList.Filter.placeholder.category')"
          :options="categoryOptions"
          optionFieldId="id"
          :isMultiselect="true"
          :openDirection="openDirection"
        />

        <DipasSelect
          v-if="typesIncluded"
          v-model="filterSettings.rubric"
          :optionPlaceholder="$t('pages.Contributions.ContributionsList.Filter.placeholder.rubric')"
          :options="rubricOptions"
          optionFieldId="id"
          :isMultiselect="true"
          :openDirection="openDirection"
        />

        <DipasSelect
          v-model="sortBy"
          :optionPlaceholder="$t('pages.Contributions.ContributionsList.Filter.placeholder.sortBy')"
          :options="sortOptions"
          :openDirection="openDirection"
          @update="$emit('setSorting', $event)"
        />

        <DipasTextfield
          v-model="search"
          :fieldLabel="$t('pages.Contributions.ContributionsList.Filter.placeholder.search')"
          :fieldLabelHidden="true"
          :placeholder="$t('pages.Contributions.ContributionsList.Filter.placeholder.search')"
          @keyup.enter="commenceSearch"
        >
          <template #button>
            <DipasButton
              :iconOnly="true"
              :label="$t('pages.Contributions.ContributionsList.Filter.placeholder.search')"
              icon="search_black_24dp"
              @click="commenceSearch"
            />
          </template>
        </DipasTextfield>

        <DipasButton
          class="secondary resetFilter"
          :iconOnly="true"
          :label="$t('pages.Contributions.ContributionsList.Filter.resetFilter')"
          :disabled="!filterActive"
          icon="filter_alt_off_black_24dp"
          @click="resetFilter"
        />
      </template>

      <template v-else>
        <DipasTextfield
          v-model="search"
          :fieldLabel="$t('pages.Contributions.ContributionsList.Filter.placeholder.search')"
          :fieldLabelHidden="true"
          :placeholder="$t('pages.Contributions.ContributionsList.Filter.placeholder.search')"
          @keyup.enter="commenceSearch"
        >
          <template #button>
            <DipasButton
              :iconOnly="true"
              :label="$t('pages.Contributions.ContributionsList.Filter.placeholder.search')"
              icon="search_black_24dp"
              @click="commenceSearch"
            />
          </template>
        </DipasTextfield>

        <DipasButton
          :label="$t('pages.Contributions.ContributionsList.Filter.openFilterModal')"
          :iconOnly="true"
          icon="filter_alt_black_24dp"
          :iconColor="filterButtonIconColor"
          @click="showFilterModal ^= 1"
        />
      </template>
    </div>

    <DipasModal
      v-if="showFilterModal"
      @closeModal="showFilterModal ^= 1"
    >
      <div class="modalInputs">
        <DipasSelect
          v-model="filterSettings.category"
          :optionPlaceholder="$t('pages.Contributions.ContributionsList.Filter.placeholder.category')"
          :options="categoryOptions"
          optionFieldId="id"
          :isMultiselect="true"
          :maxHeight="200"
        />

        <DipasSelect
          v-if="typesIncluded"
          v-model="filterSettings.rubric"
          :optionPlaceholder="$t('pages.Contributions.ContributionsList.Filter.placeholder.rubric')"
          :options="rubricOptions"
          optionFieldId="id"
          :isMultiselect="true"
          :maxHeight="150"
        />

        <DipasSelect
          v-model="sortBy"
          :optionPlaceholder="$t('pages.Contributions.ContributionsList.Filter.placeholder.sortBy')"
          :options="sortOptions"
          :maxHeight="150"
          openDirection="top"
          @update="$emit('setSorting', $event)"
        />

        <DipasButton
          class="secondary"
          :label="$t('pages.Contributions.ContributionsList.Filter.resetFilter')"
          icon="filter_alt_off_black_24dp"
          :disabled="!filterActive"
          @click="resetFilter"
        />
      </div>
    </DipasModal>
  </section>
</template>

<style lang="scss">
section.ContributionsListFilter {
  & > p {
    @extend %fontdefinition_subline_2;
    margin: 0 0 0.5rem 0;
  }

  div.inputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & > * {
      display: inline-block;
      flex: 1;
    }

    & > button.resetFilter {
      width: 30px;
      padding: 0;
      flex: 0;
    }

    &.brief {
      & > button.DipasButton {
        flex: 0;
        height: 2.1875rem;
        padding: 0 0.6875rem;
      }
    }
  }

  div.modalInputs {
    width: 80vw;
    overflow-y: visible;
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}
</style>
