<script>
import DipasMasterportal from "@/components/DipasMasterportal.vue";

export default {
  components: {
    DipasMasterportal,
  },
  props: {
    mapVisitorSettings: {
      type: Object,
      required: false,
      default: null,
    }
  },
  computed: {
    masterportalSrc () {
      if (this.mapVisitorSettings) {
        const parameters = [];

        parameters.push("castToPoint=true");
        parameters.push(`Map/layerIds=${this.mapVisitorSettings["Map/layerIds"]}`);
        parameters.push(`visibility=${this.mapVisitorSettings.visibility}`);
        parameters.push(`transparency=${this.mapVisitorSettings.transparency}`);
        parameters.push(`Map/center=${JSON.parse(this.mapVisitorSettings["Map/center"]).join(",")}`);
        parameters.push(`Map/zoomLevel=${this.mapVisitorSettings["Map/zoomLevel"]}`);

        return `${this.$store.getters["proceeding/masterportalUrl"]("contributionmapPlainUrl")}?${parameters.join("&")}`;
      }

      return this.$store.getters["proceeding/masterportalUrl"]("contributionmap");
    },
  },
  async beforeMount () {
    await this.$store.dispatch("proceeding/projectareaExtent");
  },
};
</script>

<template>
  <section class="ContributionsMap">
    <div class="mapContainer">
      <DipasMasterportal
        :src="masterportalSrc"
        :iframeTitle="$t('pages.Contributions.ContributionsMap.iframeTitle')"
        :fillSpace="true"
      />
    </div>
  </section>
</template>

<style lang="scss">
section.ContributionsMap {
  div.DipasMasterportal {
    iframe {
      aspect-ratio: 16 / 9;
    }
  }

  &.isTablet {
    div.DipasMasterportal {
      iframe {
        aspect-ratio: 1 / 1;
      }
    }
  }

  &.isMobile {
    div.DipasMasterportal {
      iframe {
        aspect-ratio: 1 / 1;
      }
    }
  }
}
</style>
