<script>
import ContributionsListFilter from "@/pages/Contributions/components/ContributionsListFilter.vue";
import ContributionsListElement from "@/pages/Contributions/components/ContributionsListElement.vue";
import DipasPaginator from "@/components/DipasPaginator.vue";

export default {
  components: {
    ContributionsListFilter,
    ContributionsListElement,
    DipasPaginator
  },
  data () {
    return {
      contributionsInitiallyLoaded: false,
      contributionsPerPage: 5,
      currentPage: 1,
      sortBy: ["date", "DESC"],
      currentFilterSettings: undefined,
      currentSearchKeyword: undefined
    };
  },
  computed: {
    requestRunning () {
      return this.$store.getters["contributions/requestRunning"];
    },
    contributions () {
      return this.$store.getters["contributions/contributionsPage"](this.currentPage);
    },
    contentHashBase () {
      const hashBase = {};

      if (this.currentSearchKeyword) {
        hashBase.search = this.currentSearchKeyword;
      }

      if (Object.keys(this.currentFilterSettings ?? {}).length) {
        const filter = JSON.parse(JSON.stringify(this.currentFilterSettings ?? {}));

        Object.keys(filter).forEach(key => {
          filter[key] = filter[key].sort().join(",");
        });

        hashBase.filter = filter;
      }

      return hashBase;
    },
    contributionPages () {
      return this.$store.getters["contributions/contributionPages"];
    },
    filterActive () {
      return Boolean(this.contentHashBase.search ||
        this.contentHashBase.filter?.category?.length ||
        this.contentHashBase.filter?.rubric?.length);
    },
    useMatomo () {
      return this.$store.getters["proceeding/configurationValue"]("useMatomo");
    }
  },
  mounted () {
    if (!this.contributionsInitiallyLoaded) {
      this.loadContributions(1);
      this.contributionsInitiallyLoaded = true;
    }
  },
  methods: {
    loadContributions (page) {
      this.$refs.contributionsList.scrollIntoView();

      this.currentPage = page;
      const queryParams = Object.assign(
        {itemsPerPage: this.contributionsPerPage},
        JSON.parse(JSON.stringify(this.contentHashBase.filter ?? {}))
      );

      queryParams.sort = this.sortBy[0];
      queryParams.direction = this.sortBy[1];

      if (this.currentSearchKeyword?.length) {
        queryParams.search = this.currentSearchKeyword;
      }

      this.$store.dispatch("contributions/loadContributions", {page, queryParams});
    },
    filterList (filterSettings) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Contributions list view', 'Set filter']);
      }

      this.currentFilterSettings = {};

      Object.entries(filterSettings).forEach(([key, value]) => {
        if (value.length) {
          this.currentFilterSettings[key] = value.map(elem => elem.id);
        }
      });

      this.loadContributions(1);
    },
    setSorting (sortOption) {
      const matches = (/(^[a-z]+?)([A-Z]+$)/).exec(sortOption);

      this.sortBy = [
        matches[1],
        matches[2]
      ];

      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Contributions list view', 'Set sorting direction: ' + matches[1] + ", " + matches[2]]);
      }

      this.loadContributions(1);
    },
    searchContributions (keyword) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Contributions list view', 'Initialize fulltext search: ' + keyword]);
      }

      this.currentSearchKeyword = keyword;
      this.loadContributions(1);
    },
    resetFilter () {
      if (this.filterActive) {
        if (this.useMatomo) {
          window._paq.push(['trackEvent', 'Contributions list view', 'Reset filter']);
        }

        this.currentSearchKeyword = undefined;
        this.sortBy = ["date", "DESC"];

        // Do NOT remove nextTick, since this will lead to concurring requests!
        this.$nextTick(() => this.loadContributions(1));
      }
    },
    pagerLink (page) {
      if (this.useMatomo) {
        window._paq.push(['trackEvent', 'Contributions list view', 'Pager link clicked: ' + page]);
      }

      this.loadContributions(page);
    }
  }
};
</script>

<template>
  <section
    ref="contributionsList"
    class="ContributionsList"
  >
    <ContributionsListFilter
      ref="contributionsListFilter"
      @filter="filterList"
      @setSorting="setSorting"
      @search="searchContributions"
      @resetFilter="resetFilter"
    />

    <div class="contributions">
      <template v-if="contributions.length && !requestRunning">
        <ContributionsListElement
          v-for="(contribution, index) in contributions"
          :key="index"
          :contribution="contribution"
          tabindex="0"
        />
      </template>

      <p v-if="requestRunning">
        {{ $t("pages.Contributions.ContributionsList.requestRunning") }}
      </p>

      <p v-if="!contributions.length && !requestRunning">
        {{ $t("pages.Contributions.ContributionsList.emptyText.filter" + (filterActive ? "Active" : "Inactive")) }}
      </p>
    </div>

    <DipasPaginator
      v-if="contributionPages > 1"
      :maxPageNumber="contributionPages"
      :disabled="requestRunning"
      @selectedPage="pagerLink"
    />
  </section>
</template>

<style lang="scss">
section.ContributionsList {
  div.contributions {
    margin-top: 2rem;
  }
}
</style>
